06_RAG_responses_supabase/RAG responses supabase.json
{
  "name": "RAG responses supabase",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1hrYPKFcH1zTCeFQSCrMHMlZ1z_oJKZXMef4ld_-5flQ",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        240
      ],
      "id": "7c7a4b98-f3b3-4927-b77d-8694ba5343b2",
      "name": "Load Google Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "54UNvCGYNpwgHk7o",
          "name": "Google Drive account 14"
        }
      }
    },
    {
      "parameters": {
        "content": "## Воркфлоу №1: Индексация базы знаний\n\n1. Запуск: Вручную через 'Manual Trigger'.\n\n1. Загрузка: Чтение гугл-документа как текста.\n\n1. Векторизация: Преобразование текста в эмбеддинги. Есть две ветки:\n\n    - Активная: OpenAI text-embedding-3-large для максимальной точности.\n\n    - Неактивная: Hugging Face cointegrated/LaBSE-en-ru как альтернатива.\n\n1. Сохранение: Загрузка чанков и векторов в Supabase Vector Store.",
        "height": 1360,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -160
      ],
      "typeVersion": 1,
      "id": "9355c533-c0e2-4be7-9646-a8a922cd4f68",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "cointegrated/LaBSE-en-ru",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        240,
        720
      ],
      "id": "2ea9b329-1498-464a-91e0-1d4b563690e0",
      "name": "Hugging Face Embeddings",
      "credentials": {
        "huggingFaceApi": {
          "id": "CxmfClmZUdsk7IH5",
          "name": "HuggingFaceApi Embeddings"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "={{ $json.data }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        368,
        512
      ],
      "id": "e9c302a7-1bb6-4ab5-9931-645fbbedbd26",
      "name": "Upsert to Supabase (HF)",
      "credentials": {
        "supabaseApi": {
          "id": "kiCZ6qHusPK3yLbE",
          "name": "Supabase cred rag"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Воркфлоу №2: Тестирование RAG\n\n1. Загрузка: Чтение CSV-файла с вопросами по URL.\n\n1. Парсинг: Преобразование CSV в JSON для обработки каждой строки.\n\n1. Поиск: Для каждого вопроса выполняется поиск релевантных документов в Supabase.\n\n1. Генерация: Ответ формируется LLM-моделью (gpt-4o-mini через OpenRouter) на основе найденного контекста.\n\n1. Сохранение: Все ответы агрегируются и сохраняются в итоговый CSV-файл для оценки.",
        "height": 848,
        "width": 2592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        912
      ],
      "typeVersion": 1,
      "id": "6764cc13-f71f-4973-9667-486c3b33d04d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        176
      ],
      "id": "2e2c71ea-1c66-4e9b-a6aa-c42c3a4e0c8e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k7zHjkCqPajKPBZj",
          "name": "OpenAi account 30"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        240
      ],
      "id": "6aa379d3-f9fd-4d71-8ced-90d3f0b090cf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3392,
        1296
      ],
      "id": "f0df6bed-cbe1-4548-97f0-f40f57293e15",
      "name": "OpenRouter LLM",
      "credentials": {
        "openRouterApi": {
          "id": "SToaU6AIVh2FP5p0",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30919d2f-349b-4a1c-ad8e-9064b146f88a",
              "name": "row_id",
              "value": "={{ $('Parse CSV with Code').item.json.row_id }}",
              "type": "string"
            },
            {
              "id": "dd227d3e-6960-44e9-885e-1871a3812a45",
              "name": "Question",
              "value": "={{ $('Parse CSV with Code').item.json.Question }}",
              "type": "string"
            },
            {
              "id": "8244c2b4-0931-4beb-b186-61ca012f2e53",
              "name": "Answer",
              "value": "={{$('Generate Answer via RAG').item.json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4080,
        1232
      ],
      "id": "fe07c922-53da-450d-a224-cac52047cd4c",
      "name": "Format Final Answer"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eiiE4NmlhlKqeDCuc00L1XZ3rthvCwzAD18XjWF-NvM",
          "mode": "list",
          "cachedResultName": "Answers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eiiE4NmlhlKqeDCuc00L1XZ3rthvCwzAD18XjWF-NvM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1il5wpEjbjX-wgBAmt9w8KClsPf-m_ADWjqWZWAnLTpk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ $json.row_id }}",
            "Answer": "={{ $json.Answer }}"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "row_id",
              "displayName": "row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4288,
        1232
      ],
      "id": "1fb1be2c-5e1d-4774-a4bd-6827729d1910",
      "name": "Save Results to CSV",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pI4ZZe9t4Jt86Ygd",
          "name": "Google Sheets account 12"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        336
      ],
      "id": "b3c4319a-372e-4798-86ef-6694b6177580",
      "name": "Start RAG Process"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        -32
      ],
      "id": "f96f30e2-41d7-48b1-b1aa-035b3ac8aea4",
      "name": "Insert into Supabase (OpenAI)",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "kiCZ6qHusPK3yLbE",
          "name": "Supabase cred rag"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        160
      ],
      "id": "a929781d-657a-42f1-bde8-00fd3f30e093",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        720
      ],
      "id": "9131b4a7-1155-4e05-a860-fba0c3c9eca4",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        608,
        928
      ],
      "id": "23c368e5-7f1a-4c2a-8a47-b9329a261af1",
      "name": "Recursive Character Text Splitter1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        352
      ],
      "id": "eac16a93-4a6f-41b2-a0dd-b87bc7c15fa4",
      "name": "Merge Indexing Branches"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — точный и фактический ассистент. Отвечай на вопрос пользователя {{ $json.Question }}, основываясь только на предоставленном контексте из инструмента поиска. Если вопрос касается значения, например, сколько было съедено килограмм яблок, а ответ в тексте \"5 тонн\", то отвечай только числом в строгом соответствии с вопросом: \"5000\". Ответ должен быть кратким и содержать только число или факт, без дополнительных объяснений.\n\nВсегда используй инструмент Supabase Vector Store для поиска информации перед ответом. Все ответы есть в хранилище.",
        "options": {
          "systemMessage": "=Ты — ассистент для высокоточного извлечения фактов. Твоя единственная задача — отвечать на вопросы, используя СТРОГО предоставленный контекст от твоего инструмента поиска. Не используй свои внутренние знания и ничего не додумывай.\n\n**Твой алгоритм:**\n1. Используй свой инструмент поиска, чтобы найти информацию по вопросу пользователя.\n2. Внимательно проанализируй полученный контекст.\n3. Сформируй ответ, основываясь ИСКЛЮЧИТЕЛЬНО на этом контексте.\n\n**Правила ответа:**\n- Если ответ — это число, выведи ТОЛЬКО это число.\n- Если в предоставленном контексте точного ответа нет, выведи 666."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3504,
        1008
      ],
      "id": "0e62420c-56de-448b-8ec5-1d28a470c799",
      "name": "Generate Answer via RAG",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Используй этот инструмент первым, чтобы найти в базе знаний документы, релевантные вопросу пользователя.",
        "tableName": {
          "__rl": true,
          "value": "rpc/match_documents",
          "mode": "list",
          "cachedResultName": "rpc/match_documents"
        },
        "topK": 20,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3536,
        1408
      ],
      "id": "2e420551-6229-4115-8115-fbd5d75d20eb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "kiCZ6qHusPK3yLbE",
          "name": "Supabase cred rag"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3232,
        1584
      ],
      "id": "ac87b3cd-ef3f-40ac-80b2-dd482a2077a7",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "k7zHjkCqPajKPBZj",
          "name": "OpenAi account 30"
        }
      }
    },
    {
      "parameters": {
        "url": "https://stepik.org/media/attachments/lesson/1830593/questions_table.csv",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        1328
      ],
      "id": "5b41d7b9-644f-4607-a5bc-18eb90d24aaa",
      "name": "Download CSV File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "54UNvCGYNpwgHk7o",
          "name": "Google Drive account 14"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import csv\nimport io\n\n# Получаем данные из предыдущего узла\ncsv_string = items[0].json['data']\n\n# Нормализуем переносы строк для надежности\ncsv_string = csv_string.replace('\\\\r\\\\n', '\\\\n')\n\n# Используем стандартный DictReader, который корректно\n# обрабатывает запятые внутри кавычек\nreader = csv.DictReader(io.StringIO(csv_string))\n\n# Преобразуем результат в список, который n8n понимает\nreturn [row for row in reader]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        1328
      ],
      "id": "cc5a86c0-1a42-433e-a398-7d599fe3613c",
      "name": "Parse CSV with Code"
    },
    {
      "parameters": {
        "chunkSize": 700,
        "chunkOverlap": 140,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        368
      ],
      "id": "5d5a2838-dde8-4b76-ab8c-2fb55c8b0396",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0",
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3840,
        1600
      ],
      "id": "6a99cb65-c096-4fe8-ab9d-32233cd280c7",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "N9DnY88wfEgW95Ly",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 6.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3056,
        1328
      ],
      "id": "c6a284f0-8a77-486e-bf4d-2c0844d1f905",
      "name": "Wait (for Reranker)",
      "webhookId": "dcbba643-f4f5-4718-8aad-e76238d7b512"
    }
  ],
  "pinData": {
    "Merge Indexing Branches": [
      {
        "json": {
          "data": "Задание на поиск по файлам с помощью RAG\r\nНиже обширный текст статьи, разделенный на секции по каждой теме: развитие ИИ, AI-агенты, n8n и беспилотники. Каждая секция будет содержать множество численных фактов, представленных как в числах, так и прописью, с дублированием и смешанным языком (русский и английский).\r\n________________\r\n\r\n\r\nСтатья: Эволюция технологий на перекрестке ИИ, Автоматизации и Автономных Систем\r\nВведение / Introduction\r\nThe rapid pace of technological advancement in the 21st century has reshaped our world, driven primarily by innovations in Artificial Intelligence (AI), the emergence of sophisticated AI Agents, the proliferation of automation platforms like n8n, and the groundbreaking development of Unmanned Aerial Vehicles (UAVs), commonly known as drones. These fields, while distinct, are increasingly interconnected, forming a powerful synergy that promises to redefine industries, enhance efficiency, and alter the fabric of daily life. This article delves into the significant milestones, current states, and future projections of these transformative technologies, highlighting key numerical facts and figures that underscore their immense impact.\r\nБыстрый темп технологического прогресса в 21 веке изменил наш мир, в первую очередь благодаря инновациям в искусственном интеллекте (ИИ), появлению сложных AI-агентов, распространению платформ автоматизации, таких как n8n, и революционному развитию беспилотных летательных аппаратов (БПЛА), широко известных как дроны. Эти области, хотя и различны, становятся всё более взаимосвязанными, образуя мощную синергию, которая обещает переопределить отрасли, повысить эффективность и изменить структуру повседневной жизни. Данная статья углубляется в значимые вехи, текущее состояние и будущие прогнозы этих преобразующих технологий, подчеркивая ключевые численные факты и цифры, которые демонстрируют их огромное влияние.\r\n________________\r\n\r\n\r\n1. Развитие Искусственного Интеллекта / The Evolution of Artificial Intelligence\r\nArtificial Intelligence, once a concept of science fiction, has now become a fundamental pillar of modern technology. Its journey began decades ago, evolving from rule-based systems to complex neural networks capable of learning and adapting.\r\nИскусственный интеллект, когда-то концепция научной фантастики, теперь стал фундаментальной опорой современных технологий. Его путь начался десятилетия назад, развиваясь от систем, основанных на правилах, до сложных нейронных сетей, способных обучаться и адаптироваться.\r\n1.1 Исторические Вехи и Рост / Historical Milestones and Growth\r\nThe early days of AI in the 1950s saw the development of programs like Arthur Samuel's checkers player, which by 1962 (одна тысяча девятьсот шестьдесят второй год) could learn from its own mistakes. The first AI winter occurred in the 1970s, but interest resurged in the 1980s with expert systems.\r\nModern AI began its accelerated ascent in the early 2000s (двухтысячных годах), driven by increased computational power and the availability of vast datasets. The computational power used for AI training has been doubling approximately every 3.4 (три целых четыре десятых) months since 2012 (две тысячи двенадцатого года). For instance, in 2018 (две тысячи восемнадцатом году), the largest AI training runs used 300,000 (триста тысяч) PetaFLOPS-days, a figure that continues to grow exponentially.\r\nTable 1.1: Milestones in AI Development / Таблица 1.1: Вехи в развитии ИИ\r\nYear / Год\r\n\tEvent / Событие\r\n\tDescription / Описание\r\n\t1956\r\n\tDartmouth Workshop\r\n\tCoined the term \"Artificial Intelligence\".\r\n\t1997\r\n\tDeep Blue defeats Kasparov\r\n\tIBM's Deep Blue chess computer defeated world champion Garry Kasparov, a significant symbolic victory.\r\n\t2012\r\n\tAlexNet and ImageNet\r\n\tDeep learning revolutionizes image recognition, achieving an error rate of 15.3% (пятнадцать целых три десятых процента), a significant improvement.\r\n\t2016\r\n\tAlphaGo defeats Lee Sedol\r\n\tGoogle's AlphaGo beat world Go champion Lee Sedol, demonstrating AI's ability to master complex strategic games. The score was 4 (четыре) to 1 (один).\r\n\t2022\r\n\tChatGPT Release\r\n\tOpenAI's generative AI model captivated the public, reaching 1 (один) million users in just 5 (пять) days.\r\n\t1.2 Рынок ИИ и Инвестиции / AI Market and Investments\r\nThe global AI market size was estimated at $136.6 (сто тридцать шесть целых шесть десятых миллиарда) billion in 2022 (две тысячи двадцать втором году) and is projected to grow to $1,811.8 (одна тысяча восемьсот одиннадцать целых восемь десятых миллиарда) billion by 2030 (две тысячи тридцатому году), exhibiting a Compound Annual Growth Rate (CAGR) of 38.1% (тридцать восемь целых один десятых процента). This represents a substantial increase, showing the confidence investors and industries have in AI's potential.\r\nVenture Capital (VC) investments in AI companies have also seen a dramatic increase. In 2021 (две тысячи двадцать первом году), global private investment in AI reached $93.5 (девяносто три целых пять десятых миллиарда) billion, an increase of 108% (сто восемь процентов) from 2020 (две тысячи двадцатого года).\r\nTable 1.2: Global AI Market Size Projection / Таблица 1.2: Прогноз объема мирового рынка ИИ\r\nYear / Год\r\n\tMarket Size (USD Billion) / Объем рынка (Млрд. USD)\r\n\t2022\r\n\t136.6 (сто тридцать шесть целых шесть десятых)\r\n\t2025\r\n\t407.0 (четыреста семь целых ноль десятых)\r\n\t2030\r\n\t1811.8 (одна тысяча восемьсот одиннадцать целых восемь десятых)\r\n\t\r\n\r\nAI's impact spans across various sectors. In healthcare, AI is projected to reduce treatment costs by $36 (тридцать шесть миллиардов) billion annually by 2025 (две тысячи двадцать пятому году). In finance, AI-powered fraud detection systems can reduce false positives by up to 50% (пятьдесят процентов), saving banks significant amounts.\r\n________________\r\n\r\n\r\n2. AI-Агенты: От Простых Скриптов до Автономных Сущностей / AI Agents: From Simple Scripts to Autonomous Entities\r\nAI agents represent the next frontier in AI application, moving beyond static models to autonomous entities capable of perceiving their environment, making decisions, and executing actions to achieve specific goals.\r\nAI-агенты представляют собой следующий рубеж в применении ИИ, выходя за рамки статичных моделей к автономным сущностям, способным воспринимать свою среду, принимать решения и выполнять действия для достижения конкретных целей.\r\n2.1 Определение и Функциональность / Definition and Functionality\r\nAn AI agent is typically defined by its ability to sense, act, and learn. Simple agents might follow predefined rules, while advanced agents leverage machine learning models to adapt and improve over time. For example, a robotic agent in a factory might be programmed to sort 1,000 (одну тысячу) items per hour, whereas a learning agent could optimize this process to 1,200 (одну тысячу двести) items per hour after a week of operation due to continuous improvement.\r\nOne of the most significant developments is the rise of Large Language Model (LLM)-powered agents. These agents can understand complex natural language instructions and break down multi-step tasks into actionable plans. For instance, an LLM agent could book a trip that involves coordinating 3 (три) different flights, 2 (два) hotels, and 1 (один) rental car, all based on a single natural language request.\r\n2.2 Примеры и Применение / Examples and Applications\r\nThe range of AI agent applications is vast:\r\n* Customer Service Bots: Many companies now use chatbots that handle 70% (семьдесят процентов) to 80% (восемьдесят процентов) of routine customer inquiries, significantly reducing call center load. Some advanced bots can resolve issues for 50% (пятьдесят процентов) of customers without human intervention.\r\n* Autonomous Driving Systems: These are complex AI agents that perceive road conditions, predict other vehicles' movements, and control the car. Level 5 (пять) autonomous vehicles, though not yet widely available, aim for 0 (ноль) human intervention.\r\n* Financial Trading Agents: High-frequency trading firms utilize AI agents that can execute trades in milliseconds, processing market data at rates of millions (миллионы до 9 000 000) of data points per second. These agents account for a significant portion of daily stock market volume, sometimes exceeding 50% (пятьдесят процентов).\r\n* Scientific Research Agents: AI agents are being used to accelerate drug discovery, reducing the time needed to identify potential drug candidates from years (годы) to just months (месяцы). For example, one AI agent identified 3 (три) new potential antibiotic compounds in 4 (четыре) days.\r\n2.3 Вызовы и Будущее / Challenges and Future\r\nDeveloping robust AI agents presents several challenges, including ensuring ethical behavior, preventing biases, and achieving true autonomy. The field is rapidly advancing, with research focused on making agents more general-purpose and less domain-specific. The market for AI agents and intelligent process automation is expected to grow from $13.4 (тринадцать целых четыре десятых миллиарда) billion in 2023 (две тысячи двадцать третьем году) to $83.7 (восемьдесят три целых семь десятых миллиарда) billion by 2030 (две тысячи тридцатому году).\r\n________________\r\n\r\n\r\n3. n8n: Автоматизация Рабочих Процессов для Новой Эры / n8n: Workflow Automation for a New Era\r\nn8n is an open-source workflow automation platform that allows users to connect various applications and services, creating powerful automated processes without extensive coding knowledge. It acts as a bridge, enabling different AI models, agents, and traditional software to communicate and collaborate.\r\nn8n — это платформа автоматизации рабочих процессов с открытым исходным кодом, которая позволяет пользователям подключать различные приложения и сервисы, создавая мощные автоматизированные процессы без обширных знаний в кодировании. Она выступает в качестве моста, позволяя различным моделям ИИ, агентам и традиционному программному обеспечению общаться и сотрудничать.\r\n3.1 Ключевые Возможности и Преимущества / Key Features and Benefits\r\nThe core strength of n8n lies in its node-based interface, where each node represents an application or a specific function. Users can drag and drop nodes to build complex workflows. As of early 2025 (две тысячи двадцать пятого года), n8n supports over 400 (более четырехсот) integrations with popular services like Google Sheets, Salesforce, Slack, and various AI APIs (e.g., OpenAI, Hugging Face). This extensibility is a major advantage for businesses looking to automate their operations.\r\nOne of the significant benefits of n8n is its ability to reduce manual effort. Companies have reported reducing routine task completion time by up to 70% (до семидесяти процентов) after implementing n8n workflows. For example, a marketing team might automate the process of posting 50 (пятьдесят) social media updates daily, a task that previously took 2 (два) hours of manual work. With n8n, this can be reduced to just 10 (десять) minutes of setup and monitoring.\r\n3.2 Интеграция с ИИ и Агентами / Integration with AI and Agents\r\nn8n's ability to integrate with AI models and agents amplifies its utility. Workflows can be designed to:\r\n* Trigger AI analysis: Automatically send new customer reviews from a CRM to an AI sentiment analysis model and then notify the relevant department if 20% (двадцать процентов) or more reviews are negative.\r\n* Orchestrate AI agents: Use n8n to sequence actions for multiple AI agents. For instance, an agent could extract data from a document, another agent could summarize it, and a third could then generate a report, all orchestrated by a single n8n workflow. This significantly reduces human intervention in data processing, potentially handling hundreds (сотни) of documents per day.\r\n* Automate data pipelines for AI training: Collect and pre-process data from various sources for AI model training, ensuring data quality for millions (миллионы) of data points.\r\nTable 3.1: n8n Impact on Business Operations / Таблица 3.1: Влияние n8n на бизнес-операции\r\nMetric / Метрика\r\n\tBefore n8n / До n8n\r\n\tAfter n8n / После n8n\r\n\tImprovement / Улучшение\r\n\tManual Data Entry (hours/week) / Ручной ввод данных (часы/нед)\r\n\t10 (десять)\r\n\t2 (два)\r\n\t80% (восемьдесят процентов)\r\n\tTime to onboard new client (days) / Время на адаптацию нового клиента (дни)\r\n\t7 (семь)\r\n\t1 (один)\r\n\t85.7% (восемьдесят пять целых семь десятых процентов)\r\n\tCost per automated task / Стоимость автоматизированной задачи\r\n\tN/A (Manual)\r\n\t$0.05 (пять центов)\r\n\tSignificant savings\r\n\t3.3 Рынок Автоматизации и n8n / Automation Market and n8n\r\nThe global market for workflow automation software was valued at approximately $9.6 (девять целых шесть десятых миллиарда) billion in 2023 (две тысячи двадцать третьем году) and is expected to reach $46 (сорок шесть миллиардов) billion by 2032 (две тысячи тридцать второму году), growing at a CAGR of 19.8% (девятнадцать целых восемь десятых процента). n8n, as an open-source solution, offers a cost-effective alternative to proprietary solutions, making automation accessible to a broader range of businesses, from startups to large enterprises with thousands (тысячи) of employees. Its open-source nature means a large and active community, with tens of thousands (десятки тысяч) of users contributing to its development and support.\r\n________________\r\n\r\n\r\n4. Беспилотные Летательные Аппараты (БПЛА) / Unmanned Aerial Vehicles (UAVs) / Drones\r\nDrones have transitioned from niche military tools to pervasive commercial and recreational devices, revolutionizing sectors from logistics and agriculture to surveillance and entertainment.\r\nДроны превратились из нишевых военных инструментов в повсеместные коммерческие и рекреационные устройства, совершив революцию в таких секторах, как логистика и сельское хозяйство, наблюдение и развлечения.\r\n4.1 Рост Рынка и Применение / Market Growth and Applications\r\nThe global drone market size was valued at $30.6 (тридцать целых шесть десятых миллиарда) billion in 2023 (две тысячи двадцать третьем году) and is projected to reach $112 (сто двенадцать миллиардов) billion by 2030 (две тысячи тридцатому году), growing at a CAGR of 20.4% (двадцать целых четыре десятых процента). This significant growth is fueled by diverse applications across numerous industries.\r\nTable 4.1: Key Drone Market Segments by Application (2023) / Таблица 4.1: Ключевые сегменты рынка дронов по применению (2023)\r\nApplication Segment / Сегмент применения\r\n\tMarket Share (%) / Доля рынка (%)\r\n\tMilitary & Defense / Военные и оборона\r\n\t35% (тридцать пять процентов)\r\n\tLogistics & Delivery / Логистика и доставка\r\n\t20% (двадцать процентов)\r\n\tAgriculture / Сельское хозяйство\r\n\t15% (пятнадцать процентов)\r\n\tInfrastructure Inspection / Инспекция инфраструктуры\r\n\t10% (десять процентов)\r\n\tMedia & Entertainment / Медиа и развлечения\r\n\t8% (восемь процентов)\r\n\tOther / Прочее\r\n\t12% (двенадцать процентов)\r\n\t4.2 Технические Характеристики и Возможности / Technical Specifications and Capabilities\r\nModern drones boast impressive technical specifications:\r\n* Flight Time: Consumer drones typically offer 20 (двадцать) to 30 (тридцать) minutes of flight time, while advanced commercial drones can fly for up to 60 (шестьдесят) minutes or even several (несколько до 4) hours for specialized models (e.g., fixed-wing surveillance drones).\r\n* Range: Many consumer drones have a control range of 2 (два) to 10 (десять) kilometers, while industrial drones using advanced communication systems can operate over hundreds (сотни) of kilometers.\r\n* Payload Capacity: Small delivery drones can carry parcels up to 5 (пять) kg, while heavy-lift industrial drones can transport payloads exceeding 100 (сто) kg for tasks like construction or emergency supply delivery.\r\n* Speed: Drones can reach speeds from 40 (сорок) km/h for typical consumer models to over 100 (сто) km/h for racing drones. Military reconnaissance drones can fly much faster, exceeding 500 (пятьсот) km/h.\r\nFor example, a drone used in agriculture can survey 100 (сто) acres of crops in 15 (пятнадцать) minutes, a task that would take a human several hours. In construction, drones can complete a site survey in 1/10 (одна десятая) of the time required by traditional methods.\r\n4.3 Автономия и Интеграция с ИИ / Autonomy and AI Integration\r\nThe true power of modern drones comes from their increasing autonomy, driven by AI. AI-powered drones can:\r\n* Navigate autonomously: Using GPS, computer vision, and AI algorithms, drones can follow predefined routes, avoid obstacles, and land precisely without human intervention. This has reduced drone crashes in complex environments by 30% (тридцать процентов) over the last 5 (пять) years.\r\n* Perform complex tasks: In agriculture, AI-drones can identify diseased plants with 95% (девяносто пять процентов) accuracy, apply pesticides only where needed, and monitor crop health throughout the growing season.\r\n* Real-time data processing: Drones equipped with edge AI processors can analyze data (e.g., thermal images, video feeds) in real-time, sending alerts for anomalies within seconds (секунды), rather than hours. This is crucial for search and rescue operations, where drones have helped locate thousands (тысячи) of missing persons.\r\nTable 4.2: Drone Delivery Market Projections / Таблица 4.2: Прогнозы рынка доставки дронами\r\nYear / Год\r\n\tMarket Size (USD Billion) / Объем рынка (Млрд. USD)\r\n\tNumber of Deliveries (Millions) / Количество доставок (Миллионы)\r\n\t2023\r\n\t0.8 (ноль целых восемь десятых)\r\n\t2 (два)\r\n\t2026\r\n\t3.5 (три целых пять десятых)\r\n\t20 (двадцать)\r\n\t2030\r\n\t21.0 (двадцать один целых ноль десятых)\r\n\t200 (двести)\r\n\t\r\n\r\nThe integration of drones with AI agents and automation platforms like n8n is creating truly intelligent systems. For example, an n8n workflow could trigger a drone inspection mission based on sensor data, then use an AI agent to analyze the drone's images, and finally send a report to maintenance teams if anomalies are detected, all with minimal human oversight. This kind of integration boosts efficiency by over 40% (более сорока процентов) in many industrial inspection scenarios.\r\n________________\r\n\r\n\r\nЗаключение / Conclusion\r\nThe convergence of Artificial Intelligence, AI Agents, workflow automation platforms like n8n, and Unmanned Aerial Vehicles represents a monumental shift in technological capabilities. From the exponential growth in AI computational power, which doubles every 3.4 months, to the projected $112 (сто двенадцать) billion drone market by 2030 (две тысячи тридцатому году), the numbers speak volumes about the transformative impact of these fields. AI agents are increasingly taking on complex tasks, while n8n empowers individuals and businesses to leverage these advanced technologies through accessible automation, reducing manual effort by up to 70%. As these technologies continue to mature and integrate more deeply, their combined potential to drive efficiency, foster innovation, and solve complex global challenges will only continue to expand. The future, powered by this technological synergy, promises to be more automated, intelligent, and interconnected than ever before.\r\n________________\r\n\r\n\r\nПожалуйста, дайте мне знать, если у вас есть какие-либо замечания или дополнения к статье, прежде.\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\nЕще одна добрая сказка про жителей Марса, наполненная цифрами!\r\nРустик и Марсианские Сады (начало)\r\n________________\r\n\r\n\r\nДалеко-далеко, на красной планете Марс, жили удивительные существа, которых звали Лабуба. Их племя насчитывало 3500 членов, и каждый из них был уникален. Средний возраст Лабуба составлял 100 лет, но они могли прожить до 6000 лет! Это было в 60 раз дольше, чем средний возраст человека на Земле.\r\nСреди них был молодой Лабуба по имени Рустик, которому было всего 120 лет. Он был одним из самых молодых, но его сердце было полно любопытства. Рустик жил в поселении, где было 570 домов, построенных из особой марсианской породы. Каждый дом имел 3 комнаты и 2 больших окна, через которые было видно 2800 кратеров на поверхности Марса.\r\nОсновной пищей Лабуба были светящиеся водоросли, которые росли в подземных пещерах. Каждый день Рустик собирал 150 граммов водорослей. За неделю он собирал 1050 граммов, а за месяц — 4500 граммов! Эти водоросли давали им 5000 единиц энергии в день.\r\nОднажды Рустик услышал старую легенду о Затерянных Садах, которые могли бы накормить всё племя на 1000 лет. По преданию, эти сады были скрыты за 7 самыми высокими горами Марса. Каждая гора была примерно 20 километров в высоту.\r\nРустик решил отправиться на поиски. Его путь занял бы 90 марсианских дней, что равно 92 земным дням, потому что марсианский день на 37 минут длиннее земного. С собой он взял 2 больших рюкзака, в каждом из которых было по 500 граммов сухих водорослей и 3 литра фильтрованной воды. Он знал, что ему придется пройти 800 километров через красные пустыни.\r\nПо дороге он встретил 4 гигантских марсианских жука, каждый размером с маленький автомобиль. Он прошел мимо 13 марсианских озер, наполненных розовой водой. После 60 дней пути, Рустик достиг первой горы. Подъем занял у него 3 дня, и он поднялся на 18 километров вверх.\r\nНа вершине он увидел карту, выгравированную на камне. Она показывала 3 стрелки, указывающие в разных направлениях, и 8 символов, которые нужно было расшифровать. После 4 часов размышлений, Рустик понял, что ему нужно идти на север, пройти 200 километров, затем на восток еще 150 километров.\r\nСледующие 20 дней были самыми трудными. Температура опускалась до минус 100 градусов Цельсия ночью, и поднималась до 20 градусов Цельсия днем. Он увидел 1000 падающих звезд за одну ночь. Он преодолел 2 широкие каньона, каждый глубиной 5 километров.\r\nНа 90-й день своего путешествия, Рустик наконец-то увидел это! Прямо перед ним раскинулись Затерянные Сады. Они были огромны, площадью примерно 100 квадратных километров. В них росли тысячи разноцветных растений, излучающих тепло и свет. Он насчитал 15 различных видов фруктов и 25 видов овощей.\r\nРустик быстро вернулся домой. Его путешествие заняло 180 дней туда и обратно. Он принес с собой 50 семян из Затерянных Садов. Племя Лабуба было в восторге! Они посадили семена, и через 30 дней первые растения начали плодоносить. За 1 год Лабуба собрали 10 тонн еды из новых садов.\r\nТеперь у каждого Лабуба было в 2 раза больше еды, чем раньше. Их жизнь стала еще лучше, и они жили счастливо и мирно на протяжении еще сотен лет, всегда помня о смелом молодом Рустике, которому было всего 120 лет, когда он нашел Затерянные Сады. Он стал самым молодым героем за последние 2000 лет истории Лабуба. И помните, каждый Лабуба мог прожить до 6000 лет, что давало им много времени, чтобы наслаждаться плодами приключений Рустика!\r\n\r\n\r\nРустик и Великая Обсерватория Марса\r\n________________\r\n\r\n\r\nНа далекой красной планете Марс, где небо иногда окрашивалось в удивительные оранжевые и розовые оттенки, жило мудрое и доброе племя, известное как Лабуба. Их было около 3500 существ, разбросанных по 7 большим поселениям. Средний возраст Лабуба составлял 100 лет, но многие из них доживали до невероятных 6000 лет! Это было в 60 раз дольше, чем жизнь самого старого дерева на Земле.\r\nВ одном из самых уютных поселений, где насчитывалось 850 Лабуба, жил юный, но очень любознательный Лабуба по имени Рустик. Ему было всего 125 лет, и он был одним из самых молодых в своем сообществе. Каждый день Рустик проводил около 6 часов, изучая древние свитки и наблюдая за 2 лунами Марса, Фобосом и Деймосом.\r\nОднажды старейшина племени, которому было уже 1500 лет, объявил о великом проекте: строительстве Великой Марсианской Обсерватории. Цель была амбициозной: построить самое высокое сооружение на Марсе, которое позволило бы им видеть звезды и планеты с невиданной ранее ясностью. Обсерватория должна была быть 500 метров в высоту и иметь 10 уровней для различных исследований.\r\nДля строительства требовалось 10 000 особых светящихся марсианских кристаллов и 5000 тонн усиленного марсианского камня. Рустик, полный энтузиазма, вызвался помочь.\r\nПлемя разделилось на команды. Команда по добыче кристаллов состояла из 250 Лабуба. Каждый из них мог собрать около 5 кристаллов в день. Это означало, что вся команда собирала 1250 кристаллов ежедневно! Чтобы собрать все 10 000 кристаллов, им потребовалось всего 8 дней.\r\nКоманда по добыче камня была меньше, всего 100 Лабуба. Они работали очень усердно, добывая 50 тонн камня в день. Для сбора всех 5000 тонн камня им понадобилось 100 дней. Материалы доставлялись из карьера, расположенного в 150 километрах от поселения. Для этого использовались 15 специальных транспортных средств, каждое из которых могло перевезти 10 тонн камня или кристаллов за один рейс. Каждое транспортное средство совершало 2 рейса в день, доставляя в общей сложности 300 тонн материалов ежедневно. Один рейс занимал около 5 часов.\r\nСтроительная команда состояла из 300 Лабуба. Они работали в 3 смены по 8 часов каждая, чтобы строительство шло круглосуточно. Строительство обсерватории заняло 300 дней. За это время было проведено 300 проверок безопасности, и, к счастью, не произошло ни одного несчастного случая. Каждый день строителям предоставлялось 1000 порций питательных водорослей и 5000 литров очищенной воды.\r\nКогда обсерватория была завершена, Рустику исполнилось 126 лет. Это было величественное сооружение с 4 основными секциями и 6 большими куполами для наблюдений. Главный телескоп имел линзу диаметром 10 метров, изготовленную из 5 редких марсианских минералов. Вес этого телескопа составлял 200 тонн! На самую вершину обсерватории вели 1500 ступеней.\r\nОбсерватория потребляла огромное количество энергии – 1 000 000 единиц в день. Для ее питания было установлено 500 новых солнечных панелей, каждая из которых генерировала 2000 единиц энергии.\r\nВ первый год работы обсерваторию посетили более 3650 Лабуба, что составляло в среднем 10 посетителей каждый день. Благодаря ей, Лабуба смогли увидеть миллиарды звезд в своей галактике и назвали 12 новых созвездий. Они обнаружили 7 новых планет, вращающихся вокруг далеких звезд, и идентифицировали 20 новых видов космических явлений. Было разработано 3 новые теории о происхождении Вселенной.\r\nВ честь завершения строительства племя устроило грандиозный праздник, который длился 7 дней и 7 ночей. Было спето 100 песен, и за это время завязалось 50 новых дружеских связей. Рустик, который был главным инициатором и помощником в этом проекте, стал героем. О нем было рассказано 1000 историй, и обсерватория, построенная благодаря его усилиям, должна была прослужить 5000 лет, принося пользу еще 60 поколениям Лабуба. И все они жили счастливо, продолжая исследовать бескрайние просторы космоса.\r\n________________"
        }
      }
    ]
  },
  "connections": {
    "Load Google Doc": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Upsert to Supabase (HF)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase (OpenAI)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Upsert to Supabase (HF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert into Supabase (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Answer via RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Answer": {
      "main": [
        [
          {
            "node": "Save Results to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase (HF)": {
      "main": [
        [
          {
            "node": "Merge Indexing Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start RAG Process": {
      "main": [
        [
          {
            "node": "Load Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase (OpenAI)": {
      "main": [
        [
          {
            "node": "Merge Indexing Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase (OpenAI)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Upsert to Supabase (HF)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Merge Indexing Branches": {
      "main": [
        [
          {
            "node": "Download CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer via RAG": {
      "main": [
        [
          {
            "node": "Format Final Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Generate Answer via RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV with Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV with Code": {
      "main": [
        [
          {
            "node": "Wait (for Reranker)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Wait (for Reranker)": {
      "main": [
        [
          {
            "node": "Generate Answer via RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4934856e-0dd2-4562-b6a5-06ed8e67b3e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b85f0d09f3d863b4b665ea0e3475dac5af387c16ba8aaf52f137a98c26bd5361"
  },
  "id": "EqNRS8e5qlDGRRsv",
  "tags": []
}