04_trend_researcher/Trend Researcher.json
{
  "name": "Trend Researcher",
  "nodes": [
    {
      "parameters": {
        "content": "## Автоматический поиск трендов\n\nОсновная функциональность:\n1. По расписанию (1 раз в неделю) запускается поиск по списку трендовых тем, которые вы указали в рабочем процессе.\n1. Система получает актуальные данные по каждой теме с помощью Tavily в два шага: \n    - сначала поиск (Search), затем фильтрация по значению параметра score,\n    - после чего извлечение (Extract).\n1. AI Agent создает сводный отчет\n1. Отчёт отправляется в Telegram канал/чат",
        "height": 272,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        640
      ],
      "typeVersion": 1,
      "id": "9136e75e-c3ec-4cd7-bd08-3964d3684698",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Блок 1. Запуск и получение данных\n\n1. Всё начинается с двух триггеров — двух «кнопок» для старта:\n    - **Start on Saturday at 10 AM**: Это наш автопилот. Каждую неделю, в одно и то же время, система автоматически запускается для подготовки планового отчёта.\n    - **Start on Telegram Message**: А это ручное управление. Любой авторизованный пользователь может отправить в Telegram-бот список тем, и процесс запустится немедленно.\n1. Сразу после этого узел If проверяет, как именно мы стартовали. И здесь наш поток разветвляется на две логические дорожки:\n    - если сработал Telegram-триггер, мы попадаем в узел **Set Topics from Telegram**. Он, как умный секретарь, берёт текст сообщения, делит его по строкам и формирует на лету список тем для анализа. Это даёт невероятную гибкость для оперативных, внеплановых исследований.\n    - если же запуск был по расписанию, в дело вступает узел **Set Fixed Topics** В нём зашит наш «золотой стандарт» — заранее утверждённый список стратегически важных тем, которые мы отслеживаем постоянно.\n1. Оба пути сходятся в узле Merge. Его задача — объединить потоки, чтобы дальше система работала с единым набором тем, независимо от способа запуска.\n1. Узел **Code in JavaScript** вычисляет и формирует актуальный период для отчёта (прошедшую неделю с понедельника по воскресенье). Узел добавлен на случай, чтобы LLM не фантазировал и не вставлял в отчёт устаревшие даты.\n1. Наконец, вся подготовленная информация — темы и период — передаётся в финальный узел блока **Theme Search**. Здесь мы обращаемся к поисковой системе Tavily с чёткой задачей: «Найди самые свежие и релевантные публикации по этим темам за последнюю неделю». ",
        "height": 768,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -320
      ],
      "typeVersion": 1,
      "id": "9032d3f4-dad1-4085-b464-6af7d9fa7a8b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Блок 2. Обработка и анализ\n\n1. Используем **Split Out**, чтобы аккуратно разложить результаты поиска по отдельным “пакетикам” — на каждый найденный материал по теме. \n1. Затем в дело вступает **Filter 0.6**, который берёт только те новости, у которых показатель значимости `score` выше 0.6. \n1. Дальше каждый важный материал отправляется в **Extract**, где происходит глубокое извлечение подробной информации — вытаскиваем текст, факты, детали, чтобы потом применить их для аналитики.",
        "height": 448,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -144
      ],
      "typeVersion": 1,
      "id": "1ce96cad-6fe0-4db6-b4f7-e9edede3ad29",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Блок 3. Формирование и отправка сводного отчёта\n\n1. Dсе подготовленные и отфильтрованные материалы соединяются в **Aggregate**, чтобы сформировать единый массив данных для дальнейшего анализа.\n1. Затем к делу подключается **AI Agent** — эксперт-аналитик, которому передаётся весь массив фактов. \n1. Он получает системный промпт, структуру отчёта и работает как опытный аналитик: \n    - выделяет главный тренд недели, \n    - готовит подробный анализ по ключевым событиям,\n    - оформляет всё в формате Markdown.\n1. В самом конце красиво структурированный отчёт отправляется напрямую в Telegram с помощью узла **Send a text message**.",
        "height": 608,
        "width": 1584,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        624
      ],
      "typeVersion": 1,
      "id": "23695d81-7fcf-4acd-89b9-33b010a3dbdf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "query": "={{ $('Merge').item.json.topics }}",
        "options": {
          "topic": "news",
          "search_depth": "advanced",
          "max_results": 5,
          "time_range": "week"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1072,
        176
      ],
      "id": "65d6352c-a854-4acb-86e5-b9209ae92cfa",
      "name": "Theme Search",
      "credentials": {
        "tavilyApi": {
          "id": "DMZdN8K6wLGSR6D0",
          "name": "Tavily key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1776,
        128
      ],
      "id": "64f6e2bc-d68d-4fc0-85a5-ee0840aa5065",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Здесь используется промпт, который я приводил в предыдущем ответе. Он инструктирует модель создать структурированный отчет в Markdown.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Твоя роль — эксперт-аналитик по технологическим трендам. Тебе предоставлен набор текстов из различных источников за последнюю неделю.\n\nТвоя задача — на основе этих текстов составить структурированный аналитический отчет в формате Markdown.\n\n**Структура отчета:**\n\n1.  **Заголовок:** 📊 **ЕЖЕНЕДЕЛЬНЫЙ ОТЧЕТ ПО ТРЕНДАМ**\n2.  **Период:** {{ $('Code in JavaScript').item.json.period }}\n3.  **ГЛАВНЫЙ ТРЕНД НЕДЕЛИ:** Выдели и кратко опиши один самый значимый тренд на основе анализа всех материалов. Обоснуй свой выбор (например, наибольшее количество публикаций, прорывные события).\n\n4.  **АНАЛИЗ КЛЮЧЕВЫХ ТРЕНДОВ:**\n    Для каждого из 3-5 наиболее обсуждаемых трендов создай отдельный блок:\n\n    ---\n    ### TREND_NAME (Название тренда)\n    *   **Краткая сводка:** 1-2 предложения, описывающие суть тренда и его текущее состояние.\n    *   **Ключевые события недели:** Список из 2-4 пунктов с самыми важными новостями, анонсами или событиями, упомянутыми в текстах.\n    *   **Прогноз и влияние:** Краткий анализ (2-3 предложения) того, как эти события могут повлиять на отрасль в ближайшем будущем.\n\n**Правила:**\n- Используй только информацию из предоставленных текстов.\n- Весь отчет должен быть на русском языке.\n- Строго следуй формату Markdown. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1488,
        928
      ],
      "id": "b1676539-e96f-45e1-9a49-dd0597e7db79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $json.url }}"
        ],
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        2240,
        160
      ],
      "id": "18d64fdb-663f-4bb2-b7d0-e2f4179be29e",
      "name": "Extract",
      "credentials": {
        "tavilyApi": {
          "id": "DMZdN8K6wLGSR6D0",
          "name": "Tavily key"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1360,
        1104
      ],
      "id": "d3d40a60-5100-46c6-b127-f290d3d65c18",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SToaU6AIVh2FP5p0",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=154080553",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        1072
      ],
      "id": "bc7ea93a-14fe-40f1-b428-37c8e9d9e7a1",
      "name": "Send a text message",
      "webhookId": "e071186b-a59d-49cd-be07-ec6e095998a2",
      "credentials": {
        "telegramApi": {
          "id": "zyITSp7IKH2bi2tR",
          "name": "trend_token"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1328,
        896
      ],
      "id": "8ba6acde-6c91-43ac-8a66-e4e3b276a085",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        272
      ],
      "id": "7653d631-d48f-4644-a9a9-45a79d91f9a2",
      "name": "Start on Saturday at 10 AM"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        32
      ],
      "id": "9a47e176-709a-49a2-a3d5-b3fb069e1904",
      "name": "Start on Telegram Message",
      "webhookId": "ddcdef7e-7279-43ab-abdb-8a77b9ef4e67",
      "credentials": {
        "telegramApi": {
          "id": "zyITSp7IKH2bi2tR",
          "name": "trend_token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "25fe2ab8-1e84-4a48-8839-b404e8f94f3e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        112
      ],
      "id": "4cd72da3-36d7-4ae6-bcb2-16a41730d145",
      "name": "If Telegram or Schedule?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b97828d4-07a2-46ba-a42d-f6e4f1b8fb67",
              "name": "topics",
              "value": "={{ $json.message.text.split('\\\\n') }}",
              "type": "string"
            },
            {
              "id": "e0d439ba-e72d-42c7-a007-c2399315e90e",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        32
      ],
      "id": "7eb33391-9b2d-4e1a-803a-ffb606c474dc",
      "name": "Set Topics from Telegram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148652e0-caeb-44c8-bf86-17476bd19611",
              "name": "topics",
              "value": "=[\n  \"Agentic and Generative AI\",\n  \"AI Trust, Risk and Security Management\",\n  \"Quantum Computing & Post-Quantum Cryptography\",\n  \"Fintech & DeFi\",\n  \"Sustainable Technology\",\n  \"Human-Machine Interface\"\n]\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        208
      ],
      "id": "65713514-f5bf-4f1a-91ee-bd78a6340634",
      "name": "Set Fixed Topics"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        96
      ],
      "id": "ec365e6b-a6ac-4589-a51b-ff8a7ca049e7",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dow = now.getDay(); // День недели: вс=0, пн=1, ... сб=6\n\n// Дата окончания предыдущей недели: воскресенье\n// (у n8n date.getDay() всегда вс=0, пн=1 ...)\nconst end = new Date(now.getFullYear(), now.getMonth(), now.getDate() - dow); // ВСК предыдущей недели\nconst start = new Date(end.getFullYear(), end.getMonth(), end.getDate() - 6);\n\nfunction pad(n) { return n < 10 ? '0' + n : n; }\n\nconst startStr = `${pad(start.getDate())}.${pad(start.getMonth()+1)}.${start.getFullYear()}`;\nconst endStr = `${pad(end.getDate())}.${pad(end.getMonth()+1)}.${end.getFullYear()}`;\n\nreturn { period: `${startStr} - ${endStr}` };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        96
      ],
      "id": "ee8fa846-a546-4397-a629-7a87a765834f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68aab244-bc53-41cb-88ed-0dda6e6e1698",
              "leftValue": "={{ $json.score }}",
              "rightValue": 0.6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2016,
        32
      ],
      "id": "fe51d6bd-bad2-4c24-965d-0d1d88c7af8d",
      "name": "Filter 0.6"
    }
  ],
  "pinData": {
    "Split Out": [
      {
        "json": {
          "url": "https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech",
          "title": "McKinsey technology trends outlook 2025",
          "content": "Artificial intelligence stands out not only as a powerful technology wave on its own but also as a foundational amplifier of the other trends.",
          "score": 0.6932451,
          "raw_content": null
        }
      },
      {
        "json": {
          "url": "https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt",
          "title": "5 AI Trends Shaping Innovation and ROI in 2025 | Morgan Stanley",
          "content": "[Skip to content](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt#maincontent) [](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt#mobileNav) *   [Sustainable Investing](https://www.morganstanley.com/about-us/sustainability-at-morgan-stanley) *   [Email this](mailto:?body=Did%20you%20know,%20%22Recent%20AI%20advancements%20will%20harness%20the%20power%20of%20Jevons%20Paradox,%20to%20drive%20the%20long-term%20demand%20for%20AI%20and%20further%20increase%20the%20total%20addressable%20market%20for%20all%20participants%20in%20the%20ecosystem.%22.%20You%20can%20read%20more%20about%20it%20here:%20https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&subject=I%20found%20this%20article%20on%20MorganStanley.com) [](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 2. They spoke about offsetting costs with customizable chips that optimize compute performance and targeting long-term utilization of their land and construction sites.They also addressed[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt)[recent advancements in AI](https://www.morganstanley.com/insights/articles/deepseek-ai-watershed-moment) that improve computing efficiency as positive for their businesses, as it helps reduce costs and increase AI demand. [](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 3. *   [Tweet this(opens in a new tab)](https://twitter.com/share?url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&text=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22) *   [Share this on LinkedIn(opens in a new tab)](https://www.linkedin.com/shareArticle?mini=true&url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&title=5%20AI%20Trends%20Shaping%20Innovation%20and%20ROI%20in%202025&summary=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22) *   [Share this on Facebook(opens in a new tab)](https://www.facebook.com/dialog/share?app_id=773782963242623&display=page&href=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&redirect_uri=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&quote=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22) *   [Email this](mailto:?body=Did%20you%20know,%20%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22.%20You%20can%20read%20more%20about%20it%20here:%20https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&subject=I%20found%20this%20article%20on%20MorganStanley.com) [](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 4. Companies in the data and cloud infrastructure ecosystem are catering to enterprises by building tools that can help them automate observability—the ability to understand a system’s behavior by analyzing the data it generates—and creating evaluation systems for their AI uses, to help customers drive [ROI](https://www.morganstanley.com/insights/articles/ai-monetization-race-to-roi-tmt). [](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 5.",
          "score": 0.65676886,
          "raw_content": null
        }
      },
      {
        "json": {
          "url": "https://www.splashtop.com/blog/remote-work-trends-2025",
          "title": "Remote Work Trends: Top 10 Predictions for 2025 - Splashtop",
          "content": "Skip to main content Log inFree Trial Get Started with Splashtop As we approach 2025, the remote work landscape continues to evolve, shaped by rapid technological advancements, shifting workforce priorities, and the growing demand for sustainable practices. In this article, we’ll explore the top 10 remote work trends and predictions for 2025, providing valuable insights to help businesses embrace the future of work and capitalize on emerging opportunities. In the United States, about 22.8% of employees worked remotely at least part-time as of August 2024, translating to approximately 35.1 million people. Organizations that prioritize lifelong learning will not only future-proof their workforce but also enhance employee engagement and career growth, fostering a culture of innovation and resilience in a remote-first world. ## Related Content",
          "score": 0.6077801,
          "raw_content": null
        }
      },
      {
        "json": {
          "url": "https://ventionteams.com/solutions/ai/report",
          "title": "AI Statistics 2025: Key Trends and Insights Shaping the Future",
          "content": "By 2027, 69 million jobs are expected to be created, many of them in AI development, ethics, and data curation. And it's not just about technical roles.",
          "score": 0.55478466,
          "raw_content": null
        }
      },
      {
        "json": {
          "url": "https://www.simplilearn.com/top-technology-trends-and-jobs-article",
          "title": "25 New Technology Trends for 2025 - Simplilearn.com",
          "content": "1. Generative AI 2. Quantum Computing 3. 5G Expansion 4. Virtual Reality (VR) 2.0 5. Augmented Reality (AR) 6. Internet of Things 7. Biotechnology in",
          "score": 0.4767995,
          "raw_content": null
        }
      }
    ],
    "Extract": [
      {
        "json": {
          "results": [
            {
              "url": "https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech",
              "raw_content": "Published Time: 2025-07-22T10:00:00Z\n\nMcKinsey technology trends outlook 2025 | McKinsey\n\n===============\n\n[Skip to main content](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#skipToMain)\n\n[](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#)[](https://www.mckinsey.com/)[Tech & AI](https://www.mckinsey.com/capabilities/mckinsey-digital/how-we-help-clients)\n\n[Tech & AI](https://www.mckinsey.com/capabilities/mckinsey-digital/how-we-help-clients)\n*   [How We Help Clients](https://www.mckinsey.com/capabilities/mckinsey-digital/how-we-help-clients)\n*   [Our Insights](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights)\n*   [Case Studies](https://www.mckinsey.com/capabilities/mckinsey-digital/case-studies)\n*   [Contact Us](https://www.mckinsey.com/capabilities/mckinsey-digital/contact-us)\n*   [More menu options More](https://www.mckinsey.com/#)\n\nPlease use UP and DOWN arrow keys to review autocomplete results. Press enter to select and open the results on a new page.\n\nSearch \n\n*       *   [Sign In](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/auth-signin)\n    *   [Subscribe](https://www.mckinsey.com/user-registration/newsletter)\n\n*   [](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#)\n\n![Image 1: AskMck-button-logo](blob:http://localhost/55d9345d0e96ed9132ecec617229f593)\n\n![Image 2: AskMck-logo](blob:http://localhost/b7700be9dc21b4c8ca0e35bd88e49f21)\n\n![Image 3: AskMck-new-logo](blob:http://localhost/df6d8b1b1d0f456fec087ac892289d5e)\n\n![Image 4: AskMck-new-logo](blob:http://localhost/477ac09b165c77358b139eba329c4a93)\n\n![Image 5: AskMck-new-logo](blob:http://localhost/bf4ee33fbeb5e5c28562bf87c717d950)\n\n![Image 6: AskMck-new-logo](blob:http://localhost/cd19e3f468f768eff76a3888c417776d)\n\n![Image 7: AskMck-new-logo](blob:http://localhost/df6d8b1b1d0f456fec087ac892289d5e)\n\n![Image 8: AskMck-new-logo](blob:http://localhost/477ac09b165c77358b139eba329c4a93)\n\nMcKinsey Technology Trends Outlook 2025\n\nShare\n\n[Print](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/print)\n\nDownload\n\n[Save](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/save)\n\n![Image 9: A cluster of silver and white cubes with scattered orange accents, resembling a complex network or data structure. Connecting the cubes are bright blue lines, against a blue gradient background.](https://mckinsey.com/spcontent/bespoke/tech-trends-2025-hero-nav//tech-trends-hero-2180972981-hero-1536x864-v2-darker.jpg)\n\nMcKinsey Technology Trends Outlook 2025\n=======================================\n\nJuly 22, 2025 Report Fifth edition\n\n![Image 10](blob:http://localhost/f749fa4eee3a54aaca5a67ba5bd6ba33)\n\nIn the outlook:\n\nNew and notable\n\nThe 13 tech trends\n\nDownload the full report\n\n![Image 11](blob:http://localhost/f749fa4eee3a54aaca5a67ba5bd6ba33)\n\nBy [Lareina Yee](https://www.mckinsey.com/our-people/lareina-yee),[Michael Chui](https://www.mckinsey.com/our-people/michael-chui),[Roger Roberts](https://www.mckinsey.com/our-people/roger-roberts), and[Sven Smit](https://www.mckinsey.com/our-people/sven-smit)\n\nShare\n\n[Print](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/print)\n\nDownload\n\n[Save](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/save)\n\nWhich frontier technologies matter most for companies in 2025? Our annual tech trends report highlights the latest technology breakthroughs, talent trends, use cases, and their potential impact on companies across sectors.\n\n### DOWNLOADS\n\n[Full Report (108 pages)](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech#/download/%2F~%2Fmedia%2Fmckinsey%2Fbusiness%20functions%2Fmckinsey%20digital%2Four%20insights%2Fmckinsey%20technology%20trends%20outlook%202025%2Ftechnology-trends-outlook-2025_final.pdf%3FshouldIndex%3Dfalse)\n\n**The global technology landscape** is undergoing significant shifts, propelled by fast-moving innovations in technologies. These are exponentially increasing demand for computing power, capturing the attention of management teams and the public, and accelerating experimentation. These developments are occurring against a backdrop of rising global competition as countries and corporations race to secure leadership in producing and applying these strategic technologies.\n\nThis year’s McKinsey Technology Trends Outlook provides in-depth perspectives on 13—a “baker’s dozen”—frontier technology trends with the potential to transform global business. Executives today face a mandate to navigate rising complexity, scale emerging solutions, and build trust in a world where the lines between digital and physical and centralized and decentralized continue to blur. The insights in this report can help business leaders decide which of these frontier technologies are most relevant to their companies by demonstrating how others are starting to apply them today. These findings emerge from our analysis of quantitative measures of interest, innovation, equity investment, and talent that underpin each of the 13 trends and explore the underlying technologies, uncertainties, and questions around them. (For more about our research, please see the sidebar, “Research methodology.”)\n\nShare\n\nSidebar\n\nResearch methodology\n--------------------\n\n**To assess** the development of each of the 13 technology trends highlighted in this report, we collected data on six tangible measures of activity: search engine queries, news articles, patents, research publications, equity investment, and talent demand. For each measure or vector, we used a defined set of data sources to find occurrences of keywords associated with each of the trends, screened those occurrences for valid mentions of activity, and indexed the resulting numbers of mentions on a 0–1 scoring scale relative to the trends studied. The innovation score combines the patents and research scores; the interest score combines the news and search scores. (While we recognize that an interest score can be inflated by deliberate efforts to stimulate news and search activity, we believe that each score fairly reflects the extent of discussion and debate about a given trend.) Investment measures the flows of funding from the capital markets to companies linked with the trend. Data sources for the scores include the following:\n\n*   _Patents._ Data on patent filings are sourced from Google Patents, which highlights data on the number of patents granted.\n*   _Research._ Data on research publications are sourced from The Lens.\n*   _News._ Data on news articles are sourced from Factiva.\n*   _Searches._ Data on search engine queries are sourced from Google Trends.\n*   _Equity investment._ Data on private-market and public-market capital raises across venture capital and corporate and strategic M&A, including joint ventures; private equity investments, including buyouts and private investment in public equity; and public investments, including IPOs, are sourced from PitchBook. Investment data excludes corporate capital and operational expenditures.\n*   _Talent demand._ The number of job postings is sourced from McKinsey’s proprietary Organizational Data Platform, which stores licensed, de-identified data on publicly available professional profiles and job postings. Data are drawn primarily from English-speaking countries.\n\nIn addition, we updated the selection and definition of trends from last year’s report to reflect the evolution of technology trends:\n\n*   An overarching artificial intelligence category replaces these four trends: applied AI, generative AI, industrializing machine learning, and next-generation software development.\n*   The agentic AI and application-specific semiconductors trends have been added since last year’s publication.\n*   Two separate trends from last year, electrification and renewables and climate technologies beyond electrification, have been combined into a single trend: future of energy and sustainability technologies.\n\nThe data sources and keywords have been updated. For equity investment insights into the future of space technologies and quantum technologies, we built on research from McKinsey’s Aerospace & Defense Practice and the Quantum Technology Monitor.\n\nInsights gathered from McKinsey expert interviews were utilized to assign enterprise-wide adoption scores (on a 1–5 scale) for each trend, defined as follows:\n\n*   _1—Frontier innovation._ This technology is still nascent, and few organizations are investing in or applying it. It is largely unproven in a business context.\n*   _2—Experimentation._ Organizations are testing the functionality and viability of the technology with small-scale prototypes, typically without a focus on a near-term ROI. Few companies are scaling or have fully scaled the technology.\n*   _3—Piloting._ Organizations are deploying the technology in the first few business use cases, via pilot projects or limited implementation, to test its feasibility and effectiveness.\n*   _4—Scaling in progress._ Organizations are scaling the deployment and adoption of the technology across the enterprise. \n*   _5—Fully scaled._ Organizations have fully deployed and integrated the technology across the enterprise. It has become the standard and is being used at a large scale as companies have recognized the value and benefits of the technology.\n\nThis outlook highlights transformative trends that are driving innovation and addressing critical challenges across sectors. Artificial intelligence stands out not only as a powerful technology wave on its own but also as a foundational amplifier of the other trends. Its impact increasingly occurs via a combination with other trends, as AI both accelerates progress within individual domains and unlocks new possibilities at the intersections—accelerating the training of robots, advancing scientific discoveries in bioengineering, optimizing energy systems, and much more. The evolution of AI solutions in the marketplace increasingly combines aspects of trends we previously analyzed separately as applied AI and generative AI, so this year, they are examined together.\n\nEven as excitement about AI applications and their use cases builds, realizing AI’s full potential across sectors will require continued innovations to manage computing intensity, reduce deployment costs, and drive infrastructure investment. This will also demand thoughtful approaches to safety, governance, and workforce adaptation, creating a wide range of opportunities for industry leaders, policymakers, and entrepreneurs alike.\n\n[](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech)\nNew and notable\n---------------\n\nIn addition to the growing reach of AI, another new trend we have chosen to highlight in this year’s report is [agentic AI](https://www.mckinsey.com/capabilities/quantumblack/our-insights/seizing-the-agentic-ai-advantage), which has rapidly emerged as a major focus of interest and experimentation in enterprise and consumer technology. Agentic AI combines the flexibility and generality of AI foundation models with the ability to act in the world by creating “virtual coworkers” that can autonomously plan and execute multistep workflows. Although quantitative measures of interest and equity investment levels are as yet relatively low compared with more established trends, agentic AI is among the fastest growing of this year’s trends, signaling its potentially revolutionary possibilities.\n\n##### How relevant and useful is this article for you?\n\n### Most Popular Insights\n\n1.   [**McKinsey Technology Trends Outlook 2025**](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech)\n2.   [**The state of AI: How organizations are rewiring to capture value**](https://www.mckinsey.com/capabilities/quantumblack/our-insights/the-state-of-ai)\n3.   [**Superagency in the workplace: Empowering people to unlock AI’s full potential**](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/superagency-in-the-workplace-empowering-people-to-unlock-ais-full-potential-at-work)\n4.   [**What to read next: McKinsey’s 2025 annual book recommendations**](https://www.mckinsey.com/featured-insights/annual-book-recommendations)\n5.   [**Seizing the agentic AI advantage**](https://www.mckinsey.com/capabilities/quantumblack/our-insights/seizing-the-agentic-ai-advantage)\n\nAI is also the primary catalyst for another trend we highlight this year: application-specific semiconductors. While [Moore’s Law](https://www.mckinsey.com/capabilities/quantumblack/our-insights/the-next-innovation-revolution-powered-by-ai)and the semiconductor layer of the technology stack have long been key enablers of other tech trends, innovations in semiconductors have spiked as reflected in quantitative metrics such as number of patents. These innovations have come in response to exponentially higher demands for computing capacity, memory, and networking for AI training and inference, as well as a need to manage cost, heat, and electric power consumption. This has given rise to a slew of new products, new competitors, and new ecosystems.\n\nTechnology trends also have a variety of profiles along the dimensions we analyzed. AI is a widely applicable, general-purpose technology with use cases in every industry and business function—and thus lots of innovation and interest—and it is scaling rapidly across the business landscape. Quantum technologies have a different profile. Quantum computing has the potential for transformative impact in certain critical domains, such as cryptography and material science, and the basic technology continues to be developed. Recent announcements, particularly by technology giants, have sparked increased interest, but real-world business impact will require even more technology advancements to make quantum computing practical. Other trends and subtrends vary across the multiple dimensions we analyzed, offering different approaches—from watchful waiting to aggressive deployment—to business leaders depending on their industries and competitive positions.\n\nFrom the rise of robotics and autonomous systems to the imperative for responsible AI innovations, this year’s technology developments underscore a future where technology is more adaptive, collaborative, and integral to solving global problems. This is illuminated by themes that cut across trends this year:\n\n*   _The rise of autonomous systems._ Autonomous systems, including physical robots and digital agents, are moving from pilot projects to practical applications. These systems aren’t just executing tasks; they’re starting to learn, adapt, and collaborate. Autonomy is moving toward broad deployment, whether through coordinating last-mile logistics, navigating dynamic environments, or acting as virtual coworkers, among other skills.\n*   _New human–machine collaboration models._ Human–machine interaction is entering a new phase defined by more natural interfaces, multimodal inputs, and adaptive intelligence. From immersive training environments and haptic robotics to voice-driven copilots and sensor-enabled wearables, technology is becoming more responsive to human intent and behavior. This evolution is shifting the narrative [from human replacement to augmentation](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/keeping-artificial-intelligence-real)—enabling more natural, productive collaboration between people and intelligent systems. As machines get better at interpreting context, the boundary between operator and cocreator continues to dissolve.\n*   _Scaling challenges._ The surging demand for compute-intensive workloads, especially from gen AI, robotics, and immersive environments, is creating new demands on global infrastructure. Data center power constraints, physical network vulnerabilities, and rising compute demands have exposed cracks in global infrastructure. But the challenge isn’t just technical: Supply chain delays, labor shortages, and regulatory friction around grid access and permitting are slowing deployments. As a result, scaling now means solving not only for technical architecture and efficient design but also for the messy, real-world challenges in talent, policy, and execution.\n*   _Regional and national competition._ Global competition over critical technologies has intensified. Countries and corporations have doubled down on sovereign infrastructure, localized chip fabrication, and funding technology initiatives such as quantum labs. This push for self-sufficiency isn’t just about security; it’s about reducing exposure to geopolitical risk and owning the next wave of value creation. The result is a new era of tech-driven competition where nations have a stake in critical industries.\n*   _Scale and specialization are growing simultaneously._ Growth on these vectors is enabled by innovation in cloud services and advanced connectivity. On one hand, we see rapid growth in general-purpose model training infrastructure in vast, power-hungry data centers, while on the other, we observe accelerating innovation “at the edge,” with lower-power technology embedded in phones, cars, home controls, and industrial devices. This is creating ecosystems that deliver massive large language models with staggering parameter counts, as well as a growing range of domain-specific AI tools that can run almost anywhere. Leaders will balance centralized scale with localized control: Think modular microgrids for clean energy or bespoke robotics for niche manufacturing.\n*   _Responsible innovation imperatives._ As technologies become more powerful and more personal, trust is increasingly the gatekeeper to adoption. Companies face growing pressure to demonstrate transparency, fairness, and accountability, whether in AI models, gene editing pipelines, or immersive platforms. Ethics are no longer just the right thing to do but rather strategic levers in deployment that can accelerate—or stall—scaling, investment, and long-term impact.\n\nThe following illustrations show how different frontier technologies can work together to provide innovative solutions in the future:\n\nAfter a year in which the macroeconomic environment and broader market weakness provoked significant declines in equity financing for technology across several of our trends, the investment climate for frontier technologies stabilized and, in many cases, rebounded in 2024. Levels of equity investment in trends such as cloud and edge computing, bioengineering, and space technologies increased despite the broader market dip in 2023, while investments in other trends, such as AI and robotics, dipped only to recover to higher levels in 2024 than they achieved two years prior. The two trends with the highest levels of equity investment, the future of energy and sustainability technologies and the future of mobility, declined overall in 2023, but the former bounced back in 2024 (exhibit).\n\nExhibit \n\n![Image 12: Equity investments increased in ten of 13 technology trends in 2024.](https://www.mckinsey.com/~/media/mckinsey/business%20functions/mckinsey%20digital/our%20insights/the%20top%20trends%20in%20tech%202025/pub-techtrends-investments-l0-v11.svg?cq=50&cpy=Center)\n\nWe strive to provide individuals with disabilities equal access to our website. If you would like information about this content we will be happy to work with you. Please email us at: [McKinsey_Website_Accessibility@mckinsey.com](mailto:McKinsey_Website_Accessibility@mckinsey.com)\n\nOur baker’s dozen of technology trends shaping 2025 underscores the vast potential of emerging technologies and the need for strategic alignment in an AI-powered future. For executives, success will hinge on identifying high-impact domains in which they can apply these trends, investing in the necessary talent and infrastructure, and addressing external factors like regulatory shifts and ecosystem readiness. By fostering collaboration, bridging ecosystem gaps, and maintaining a long-term vision, leaders can accelerate adoption and position their organizations to drive the next wave of technological transformation. Those who act with focus and agility will not only unlock new value but also shape the future of their industries and the future of today’s emerging frontier technologies.\n\n[](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-top-trends-in-tech)\n\n**Adoption rate,** score\n\n(1 = frontier innovation;\n\n5 = fully scaled)\n\n1\n\n2\n\n3\n\n4\n\n5\n\nThe 13 tech trends\n------------------\n\nThis report lays out considerations for all 13 technology trends. For easier consideration of related trends, we grouped them into three broader categories: the AI revolution, compute and connectivity frontiers, and cutting-edge engineering. Of course, there’s significant power and potential in looking across these groupings when considering trend combinations. \n\nTo describe the state of each trend, we developed scores for innovation (based on patents and research publications) and interest (based on news and web searches). We also estimated the level of equity investments in relevant technologies and rated their level of adoption by organizations.\n\nThe AI revolution\n\nAgentic AI\n----------\n\nAgentic AI is an artificial intelligence system capable of independently planning and executing complex, multistep tasks. Built on foundation models, these agents can autonomously perform actions, communicate with one another, and adapt to new information. Significant advancements have emerged, from general agent platforms to specialized agents designed for deep research. \n\nIn 2020, the interest score for Agentic AI was 0.0001 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0 on the same scale. The adoption rate was scored at 2. The investment in 2020 was 0 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 0 billion dollars. By 2024, the interest score for Agentic AI was 0.0033. The innovation score was 0. The investment was 1 billion dollars. Job postings within this trend changed by 985 percent from 2022 to 2024\n\n$1.1\n\nbillion\n\n**equity****investment,**2024\n\n+985%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about agentic AI\n\nThe AI revolution\n\nArtificial intelligence\n-----------------------\n\nArtificial intelligence refers to computer systems designed to perform tasks that typically require human intelligence. These systems leverage algorithms, data, and computational power to recognize patterns, make decisions, and learn from experiences. \n\nIn 2020, the interest score for Artificial intelligence was 0.16 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.43 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 64 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 64 billion dollars. By 2024, the interest score for Artificial intelligence was 0.91. The innovation score was 0.89. The investment was 124 billion dollars. Job postings within this trend changed by 35 percent from 2022 to 2024\n\n$124.3\n\nbillion\n\n**equity****investment,**2024\n\n+35%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about artificial intelligence\n\nCompute and connectivity frontiers\n\nApplication-specific semiconductors\n-----------------------------------\n\nApplication-specific semiconductors are purpose-built chips optimized to perform specialized tasks. Unlike general-purpose semiconductors, they are engineered to handle specific workloads (such as large-scale AI training and inference tasks) while optimizing performance characteristics, including offering superior speed, energy efficiency, and performance.\n\nIn 2020, the interest score for Application-specific semiconductors was 0.05 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.49 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 3 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 3 billion dollars. By 2024, the interest score for Application-specific semiconductors was 0.14. The innovation score was 0.52. The investment was 8 billion dollars. Job postings within this trend changed by 22 percent from 2022 to 2024\n\n$7.5\n\nbillion\n\n**equity****investment,**2024\n\n+22%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about semiconductors\n\nCompute and connectivity frontiers\n\nAdvanced connectivity\n---------------------\n\nAdvanced connectivity covers a suite of evolving technologies that enhance and expand digital communication networks. This includes wireless low-power networks, 5G and emerging 6G cellular systems, Wi-Fi 6 and 7 standards, and low-Earth-orbit (LEO) satellites.\n\nIn 2020, the interest score for Advanced connectivity was 0.07 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.34 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 44 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 44 billion dollars. By 2024, the interest score for Advanced connectivity was 0.1. The innovation score was 0.42. The investment was 44 billion dollars. Job postings within this trend changed by -14 percent from 2022 to 2024\n\n$44.2\n\nbillion\n\n**equity****investment,**2024\n\n–14%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about advanced connectivity\n\nCompute and connectivity frontiers\n\nCloud and edge computing\n------------------------\n\nCloud and edge computing involve distributing workloads across locations, from hyperscale remote data centers to regional hubs and local nodes. This approach optimizes performance by addressing factors such as latency, data transfer costs, data sovereignty, and data security.\n\nIn 2020, the interest score for Cloud and edge computing was 0.07 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.17 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 106 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 106 billion dollars. By 2024, the interest score for Cloud and edge computing was 0.11. The innovation score was 0.21. The investment was 81 billion dollars. Job postings within this trend changed by 2 percent from 2022 to 2024\n\n$80.8\n\nbillion\n\n**equity****investment,**2024\n\n+2%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about cloud computing\n\nCompute and connectivity frontiers\n\nImmersive-reality technologies\n------------------------------\n\nImmersive-reality technologies encompass augmented reality (AR) and virtual reality (VR) and include AR smart glasses, advanced haptic feedback, and AI-powered enhancements that improve rendering, tracking, and processing capabilities.\n\nIn 2020, the interest score for Immersive-reality technologies was 0.06 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.13 on the same scale. The adoption rate was scored at 2. The investment in 2020 was 10 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 10 billion dollars. By 2024, the interest score for Immersive-reality technologies was 0.14. The innovation score was 0.19. The investment was 6 billion dollars. Job postings within this trend changed by -11 percent from 2022 to 2024\n\n$6.0\n\nbillion\n\n**equity****investment,**2024\n\n–11%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about immersive-reality tech\n\nCompute and connectivity frontiers\n\nDigital trust and cybersecurity\n-------------------------------\n\nDigital trust and cybersecurity covers technologies and practices designed to ensure secure, transparent, and trustworthy digital interactions. This includes identity verification, data protection, encryption, threat detection, and blockchain-based trust systems. \n\nIn 2020, the interest score for Digital trust and cybersecurity was 0.07 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.08 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 37 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 37 billion dollars. By 2024, the interest score for Digital trust and cybersecurity was 0.17. The innovation score was 0.13. The investment was 78 billion dollars. Job postings within this trend changed by 7 percent from 2022 to 2024\n\n$77.8\n\nbillion\n\n**equity****investment,**2024\n\n+7%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about digital trust\n\nCompute and connectivity frontiers\n\nQuantum technologies\n--------------------\n\nQuantum-based technologies make use of the unique properties of quantum mechanics to execute certain complex calculations exponentially faster than classical computers, secure communication networks, and produce sensors with higher sensitivity levels than their classical counterparts.\n\nIn 2020, the interest score for Quantum technologies was 0.01 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.02 on the same scale. The adoption rate was scored at 1. The investment in 2020 was 1 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 1 billion dollars. By 2024, the interest score for Quantum technologies was 0.02. The innovation score was 0.04. The investment was 2 billion dollars. Job postings within this trend changed by -15 percent from 2022 to 2024\n\n$2.0\n\nbillion\n\n**equity****investment,**2024\n\n–15%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about quantum tech\n\nCutting-edge engineering\n\nFuture of robotics\n------------------\n\nThe future of robotics covers the advancement of robotics capable of performing tasks autonomously or semi-autonomously, adapting to new, real-life inputs with increasing degrees of autonomy and dexterity, including autonomous mobile robots and humanoid robots.\n\nIn 2020, the interest score for Future of robotics was 0.01 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.03 on the same scale. The adoption rate was scored at 2. The investment in 2020 was 4 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 4 billion dollars. By 2024, the interest score for Future of robotics was 0.01. The innovation score was 0.05. The investment was 7 billion dollars. Job postings within this trend changed by -2 percent from 2022 to 2024\n\n$7.0\n\nbillion\n\n**equity****investment,**2024\n\n–2%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about future of robotics\n\nCutting-edge engineering\n\nFuture of mobility\n------------------\n\nMobility technologies include autonomous vehicles; electric vehicles; drones; urban air mobility solutions, such as electric vertical takeoff and landing aircraft; and micromobility, such as e-scooters and e-bikes. These technologies have the goal of improving the efficiency, safety, and sustainability of transportation systems.\n\nIn 2020, the interest score for Future of mobility was 0.1 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.11 on the same scale. The adoption rate was scored at 3. The investment in 2020 was 198 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 198 billion dollars. By 2024, the interest score for Future of mobility was 0.23. The innovation score was 0.2. The investment was 132 billion dollars. Job postings within this trend changed by 6 percent from 2022 to 2024\n\n$131.6\n\nbillion\n\n**equity****investment,**2024\n\n+6%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about future of mobility\n\nCutting-edge engineering\n\nFuture of bioengineering\n------------------------\n\nBioengineering is the application of engineering principles to biology, utilizing technological advancements (for example, gene editing, synthetic biology) to improve health and human performance, transform food value chains, and create innovative offerings.\n\nIn 2020, the interest score for Future of bioengineering was 0.11 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.35 on the same scale. The adoption rate was scored at 4. The investment in 2020 was 127 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 127 billion dollars. By 2024, the interest score for Future of bioengineering was 0.11. The innovation score was 0.4. The investment was 57 billion dollars. Job postings within this trend changed by -17 percent from 2022 to 2024\n\n$57.3\n\nbillion\n\n**equity****investment,**2024\n\n–17%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about future of bioengineering\n\nCutting-edge engineering\n\nFuture of space technologies\n----------------------------\n\nSpace technologies cover satellite systems, launch vehicles, habitation modules, and exploration missions, including low-Earth-orbit satellite constellations, direct-to-device connectivity integrating space assets with terrestrial networks, and Earth observation.\n\nIn 2020, the interest score for Future of space technologies was 0.07 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.06 on the same scale. The adoption rate was scored at 2. The investment in 2020 was 7 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 7 billion dollars. By 2024, the interest score for Future of space technologies was 0.12. The innovation score was 0.07. The investment was 9 billion dollars. Job postings within this trend changed by -9 percent from 2022 to 2024\n\n$9.3\n\nbillion\n\n**equity****investment,**2024\n\n–9%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about space tech\n\nCutting-edge engineering\n\nFuture of energy and sustainability technologies\n------------------------------------------------\n\nEnergy and sustainability technologies encompass a broad spectrum of innovations aimed at transforming the global energy landscape toward a more sustainable and resilient future. This includes the spectrum of technologies transforming the global energy value chain, particularly focusing on clean electrons, electrification, and clean molecules.\n\nIn 2020, the interest score for Future of energy and sustainability technologies was 0.35 on a scale from 0 to 1, where 0 is low and 1 is high. The innovation score was 0.29 on the same scale. The adoption rate was scored at 3. The investment in 2020 was 176 on a scale from 1 to 5, with 1 defined as \"frontier innovation\" and 5 defined as \"fully scaled.\" The investment was 176 billion dollars. By 2024, the interest score for Future of energy and sustainability technologies was 0.65. The innovation score was 0.37. The investment was 223 billion dollars. Job postings within this trend changed by -6 percent from 2022 to 2024\n\n$223.2\n\nbillion\n\n**equity****investment,**2024\n\n–6%\n\njob postings\n\n**difference,**2023–24\n\nLearn more about future of energy \n\n##### How relevant and useful is this article for you?\n\n##### About the author(s)\n\n**[Lareina Yee](https://www.mckinsey.com/our-people/lareina-yee)** is a McKinsey Global Institute director and a senior partner in McKinsey’s Bay Area office, where **[Michael Chui](https://www.mckinsey.com/our-people/michael-chui)**is a senior fellow at QuantumBlack, AI by McKinsey, and **[Roger Roberts](https://www.mckinsey.com/our-people/roger-roberts)**is a partner at QuantumBlack, AI by McKinsey; **[Sven Smit](https://www.mckinsey.com/our-people/sven-smit)**is chair of the McKinsey Global Institute and a senior partner in the Amsterdam office.\n\nThe authors wish to thank the following McKinsey colleagues and alumni for their contributions to this research: Aamer Baig, Ahsan Saeed, Alex Singla, Alexander Sukharevsky, Alex Zhang, Alizee Acket-Goemaere, Amishi Bharti, Amy Silverstein, Andrea Del Miglio, Andreas Breiter, Andreas Schlosser, Ani Kelkar, Anna Heid, Anu Madgavkar, Arjita Bhan, Bernd Heid, Bharath Aiyer, Bill Gregg, Bill Wiseman, Brooke Stokes, Bryan Richardson, Charlie Lewis, Christian Staudt, Clint Wood, Daniel Herde, Daniel Wallance, David Naney, Delphine Nain Zurkiya, Diana Tang, Egor Kiselev, Eliza Spinna, Emily Shao, Erika Stanzl, Fabian Queder, Gabriel Morgan Asaftei, Giacomo Gatto, Godart van Gendt, Hamza Khan, Henning Soller, Ichiro Otobe, Jacob Achenbach, Jakob Fleischmann, Jawad Mourabet, Jeffrey Caso, Jenny Tran, Jesse Noffsinger, Jim Adams, Jim Boehm, Jonathan Tilley, Joshua Katz, Justin Greis, Karl Grosselin, Kersten Heineke, Kevin F. Lu, Kitti Lakner, Klaus Pototzky, Klemens Hjartar, Luca Bennici, Marc Sorel, Mark Patel, Markus Wilthaner, Martin Harrysson, Martin Kellner, Martin Wrulich, Matt Higginson, Medha Bankhwal, Mekala Krishnan, Michael Bogobowicz, Nandika Komirisetti, Naveen Sastry, Olivia White, Paolo Spranzi, Prasad Ganorkar, Ryan Brukardt, Sebastian Mayer, Sian Griffiths, Sonja Lindberg, Soumya Banerjee, Stefan Burghardt, Stephen Xu, Tapio Melgin, Tarik Alatovic, Thomas Hundertmark, Tom Brennan, Wendy Zhu, Yaman Tandon, Yvonne Ferrier, and Zina Cole.\n\n* * *\n\nSpecial thanks to McKinsey Global Publishing colleagues Daniel Eisenberg, Diane Rice, Janet Michaud, Juan M. Velasco, Kanika Punwani, LaShon Malone, Mary Gayen, Michael Goesele, Nayomi Chibana, Rachel Robinson, Regina Small, Stephanie Strom, Stephen Landau, and Victor L. Cuevas for making this report come alive.\n\nTalk to us\n\n##### Explore a career with us\n\n[Search openings](https://www.mckinsey.com/careers/search-jobs)\n\n##### Related Articles\n\n[![Image 13: Image of a hand tracing a light circle in the air](https://www.mckinsey.com/~/media/mckinsey/business%20functions/mckinsey%20digital/our%20insights/why%20agents%20are%20the%20next%20frontier%20of%20generative%20ai/genai-smart-agents-1207090508_1536x1536.png?cq=50&mw=767&car=16:9&cpy=Center)](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/why-agents-are-the-next-frontier-of-generative-ai)\n\nArticle - _McKinsey Quarterly_\n###### [Why agents are the next frontier of generative AI](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/why-agents-are-the-next-frontier-of-generative-ai)\n\n[![Image 14: Light dots and lines evolve into a pattern of a human face and continue to stream off the the side in a moving grid pattern.](https://www.mckinsey.com/~/media/mckinsey/business%20functions/mckinsey%20digital/our%20insights/the%20economic%20potential%20of%20generative%20ai%20the%20next%20productivity%20frontier/the-economic-potential-of-generative-ai-1324915617-thumb-1536x1536.jpg?cq=50&mw=767&car=16:9&cpy=Center)](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-economic-potential-of-generative-ai-the-next-productivity-frontier)\n\nReport\n###### [The economic potential of generative AI: The next productivity frontier](https://www.mckinsey.com/capabilities/mckinsey-digital/our-insights/the-economic-potential-of-generative-ai-the-next-productivity-frontier)\n\n[![Image 15: A robotic dog with a sleek white design and black detailing has a large gray container strapped to its back.](https://www.mckinsey.com/~/media/mckinsey/industries/advanced%20electronics/our%20insights/will%20embodied%20ai%20create%20robotic%20coworkers/will%20embodied%20ai%20create%20robotic%20coworkers_-1385694089-thumb-1536x1536.jpg?cq=50&mw=767&car=16:9&cpy=Center)](https://www.mckinsey.com/industries/industrials-and-electronics/our-insights/will-embodied-ai-create-robotic-coworkers)\n\nArticle\n###### [Will embodied AI create robotic coworkers?](https://www.mckinsey.com/industries/industrials-and-electronics/our-insights/will-embodied-ai-create-robotic-coworkers)\n\n##### Sign up for emails on new Digital articles\n\nNever miss an insight. We'll email you when new articles are published on this topic.\n\nSubscribe\n\nSign up for emails on new Digital articles\n\nMcKinsey & Company, Inc. uses cookies to better understand how visitors use our site, to collect and analyze information on site performance and usage, and for cross-context behavioral advertising and targeted advertising purposes. [Cookie Notice](https://www.mckinsey.com/cookie-policy)\n\nPlease see our [Privacy Notice](https://www.mckinsey.com/privacy-policy) for more information.\n\nManage my preferences\n\nAccept All Cookies\n\n![Image 17: Mckinsey and Company Logo](https://cdn.cookielaw.org/logos/353d36fb-3a1c-4021-b831-ee6d50361d6a/07a8989e-cba1-4f60-a67a-0ffe9efc1b3a/5705935c-c99f-48d8-8aef-b78127f4aed3/mckinsey---company_owler_20190728_090718_original.png)\n\nPrivacy Preference Center\n-------------------------\n\nMcKinsey and our trusted partners use cookies and similar technologies to access and use your data for the purposes listed below. Please provide your consent for cookie usage on this website. Enable one or more of the cookie types listed below, and then save your preferences. \n\n[Cookie Notice](https://www.mckinsey.com/cookie-policy)\n\nAccept all cookies\n### Manage Consent Preferences\n\n#### Performance Cookies\n\n- [x] Performance Cookies \n\nThese cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site and app. They help us to know which pages are the most and least popular and see how visitors move around the site and app. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site or app, and will not be able to monitor its performance.\n\n#### Functional Cookies\n\n- [x] Functional Cookies \n\nThese cookies enable the website and app to provide enhanced functionality and personalization. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function properly.\n\n#### Targeting Cookies\n\n- [x] Targeting Cookies \n\nThese cookies may be set through our site or app by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.\n\n#### Strictly Necessary Cookies\n\nAlways Active\n\nThese cookies are necessary for the website and app to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site and app will not then work. These cookies do not store any personally identifiable information.\n\n### Cookie List\n\nClear\n\n*   - [x] checkbox label label \n\nApply Cancel\n\nConsent Leg.Interest\n\n- [x] checkbox label label\n\n- [x] checkbox label label\n\n- [x] checkbox label label\n\nSave my preferences\n\n[![Image 18: Powered by Onetrust](https://cdn.cookielaw.org/logos/static/powered_by_logo.svg)](https://www.onetrust.com/products/cookie-consent/)\n",
              "images": []
            }
          ],
          "failed_results": [],
          "response_time": 0.01,
          "request_id": "de3936a1-3d43-48bf-9c09-7f8b3a3bbd7b"
        }
      },
      {
        "json": {
          "results": [
            {
              "url": "https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt",
              "raw_content": "Published Time: Fri, 12 Sep 2025 21:52:46 GMT\n\n5 AI Trends Shaping Innovation and ROI in 2025 | Morgan Stanley \n\n===============\n[Skip to content](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt#maincontent)\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt#mobileNav)\n\n*   [Our Insights](javascript:void(0);)\n\n [Our Insights](https://www.morganstanley.com/insights)\n    *   [Personal Finance](https://www.morganstanley.com/insights/topics/personal-finance)\n    *   [Market Trends](https://www.morganstanley.com/insights/topics/market-trends)\n    *   [Technology & Disruption](https://www.morganstanley.com/insights/topics/technology-disruption)\n    *   [Sustainability](https://www.morganstanley.com/insights/topics/sustainability)\n    *   [Diversity & Inclusion](https://www.morganstanley.com/insights/topics/diversity-and-inclusion)\n\nSTAY UP TO DATE \n    *   [Sign Up For Our Newsletter](https://www.morganstanley.com/newsletter/subscribe)\n    *   [Listen To Our Podcasts](https://www.morganstanley.com/insights/podcasts/thoughts-on-the-market)\n\n    *   [(opens in a new tab)](https://www.twitter.com/morganstanley)\n    *   [(opens in a new tab)](https://www.linkedin.com/company/morgan-stanley)\n    *   [(opens in a new tab)](https://www.facebook.com/morganstanley)\n    *   [(opens in a new tab)](https://www.youtube.com/user/mgstnly)\n    *   [(opens in a new tab)](https://www.instagram.com/morgan.stanley)\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nPersonal Finance\n\nLearn from our industry leaders about how to manage your wealth and help meet your personal financial goals.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nMarket Trends\n\nFrom volatility and geopolitics to economic trends and investment outlooks, stay informed on the key developments shaping today's markets.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nTechnology & Disruption\n\nWhether it’s hardware, software or age-old businesses, everything today is ripe for disruption. Stay abreast of the latest trends and developments.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nSustainability\n\nOur insightful research, advisory and investing capabilities give us unique and broad perspective on sustainability topics.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nDiversity & Inclusion\n\nMulticultural and women entrepreneurs are the cutting-edge leaders of businesses that power markets. Hear their stories and learn about how they are redefining the terms of success.\n\nFeatured \n\n[![Image 1](https://www.morganstanley.com/content/dam/msdotcom/Insights/articles/investment-outlook-midyear-2025/investment-outlook-midyear-2025-160x160.jpg) 2025 Midyear Investment Outlook: All Eyes on the U.S.](https://www.morganstanley.com/insights/articles/investment-outlook-midyear-2025)\n\n[Outlooks](https://www.morganstanley.com/Themes/outlooks)\n\n[![Image 2](https://www.morganstanley.com/content/dam/msdotcom/Insights/articles/economic-outlook-midyear-2025/economic-outlook-midyear-2025-160x160.jpg) 2025 Midyear Economic Outlook: A Widespread Deceleration](https://www.morganstanley.com/insights/articles/economic-outlook-midyear-2025)\n\n[Outlooks](https://www.morganstanley.com/Themes/outlooks)\n\n[![Image 3](https://www.morganstanley.com/content/dam/msdotcom/Insights/podcasts/thoughts-on-the-market/totm-flyaway-square.png) Thoughts on the Market](https://www.morganstanley.com/insights/podcasts/thoughts-on-the-market)\n\n[Insights](https://www.morganstanley.com/insights)\n\n*   [What We Do](javascript:void(0);)\n\n [What We Do](https://www.morganstanley.com/what-we-do)\n    *   [Wealth Management](https://www.morganstanley.com/what-we-do/wealth-management)\n    *   [Investment Banking & Capital Markets](https://www.morganstanley.com/what-we-do/investment-banking)\n    *   [Sales & Trading](https://www.morganstanley.com/what-we-do/sales-and-trading)\n    *   [Research](https://www.morganstanley.com/what-we-do/research)\n    *   [Investment Management](https://www.morganstanley.com/what-we-do/investment-management)\n    *   [Morgan Stanley at Work](https://www.morganstanley.com/atwork)\n    *   [Sustainable Investing](https://www.morganstanley.com/about-us/sustainability-at-morgan-stanley)\n    *   [Inclusive & Sustainable Ventures](https://www.morganstanley.com/about-us/inclusive-sustainable-ventures)\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nWealth Management\n\nWe help people, businesses and institutions build, preserve and manage wealth so they can pursue their financial goals.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInvestment Banking & Capital Markets\n\nWe have global expertise in market analysis and in advisory and capital-raising services for corporations, institutions and governments.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nSales & Trading\n\nGlobal institutions, leading hedge funds and industry innovators turn to Morgan Stanley for sales, trading and market-making services.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nResearch\n\nWe offer timely, integrated analysis of companies, sectors, markets and economies, helping clients with their most critical decisions.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInvestment Management\n\nWe deliver active investment strategies across public and private markets and custom solutions to institutional and individual investors.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nMorgan Stanley at Work\n\nWe provide comprehensive workplace financial solutions for organizations and their employees, combining personalized advice with modern technology.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nSustainable Investing\n\nWe offer scalable investment products, foster innovative solutions and provide actionable insights across sustainability issues.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInclusive & Sustainable Ventures\n\nFrom our startup lab to our cutting-edge research, we broaden access to capital for entrepreneurs and spotlight their success.\n\nFeatured \n\n[![Image 4](https://www.morganstanley.com/content/dam/msdotcom/what-we-do/wealth-management/new-wmhomepage/ms-fafinder-160x160.jpg) Get Matched with a Financial Advisor](https://advisor.morganstanley.com/search?icid=ms-nav-whatwedo-wm-featured-getmatchedwithafa)\n\nWealth Management \n\n[![Image 5](https://www.morganstanley.com/content/dam/msdotcom/what-we-do/wealth-management-images/home-page/etrade-hero-160x160.jpg) Explore What We Offer](https://us.etrade.com/what-we-offer?icid=ms-nav-whatwedo-etrade-featured-explorewhatweoffer)\n\nE*TRADE from Morgan Stanley \n\n*   [About Us](javascript:void(0);)\n\n [About Us](https://www.morganstanley.com/about-us)\n    *   [Core Values](https://www.morganstanley.com/about-us/morgan-stanley-core-values)\n    *   [Leadership](https://www.morganstanley.com/about-us/leadership)\n    *   [History](https://www.morganstanley.com/about-us/history)\n    *   [Locations](https://www.morganstanley.com/about-us/global-offices)\n    *   [Diversity](https://www.morganstanley.com/about-us/diversity)\n    *   [Sustainability](https://www.morganstanley.com/about-us/sustainability-at-morgan-stanley)\n    *   [Giving Back](https://www.morganstanley.com/about-us/giving-back)\n    *   [Technology](https://www.morganstanley.com/about-us/technology)\n    *   [Sponsorships](https://www.morganstanley.com/sponsorships)\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nCore Values\n\nEverything we do at Morgan Stanley is guided by our five core values: Do the right thing, put clients first, lead with exceptional ideas, commit to diversity and inclusion, and give back.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nLeadership\n\nMorgan Stanley leadership is dedicated to conducting first-class business in a first-class way. Our board of directors and senior executives hold the belief that capital can and should benefit all of society.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nHistory\n\nFrom our origins as a small Wall Street partnership to becoming a global firm of more than 80,000 employees today, Morgan Stanley has been committed to clients and communities for 89 years.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nLocations\n\nThe global presence that Morgan Stanley maintains is key to our clients' success, giving us keen insight across regions and markets, and allowing us to make a difference around the world.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nDiversity\n\nMorgan Stanley is differentiated by the caliber of our diverse team. Our culture of access and inclusion has built our legacy and shapes our future, helping to strengthen our business and bring value to clients.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nSustainability\n\nOur firm's commitment to sustainability informs our operations, governance, risk management, diversity efforts, philanthropy and research.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nGiving Back\n\nAt Morgan Stanley, giving back is a core value—a central part of our culture globally. We live that commitment through long-lasting partnerships, community-based delivery and engaging our best asset—Morgan Stanley employees.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nTechnology\n\nAs a global financial services firm, Morgan Stanley is committed to technological innovation. We rely on our technologists around the world to create leading-edge, secure platforms for all our businesses.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nSponsorships\n\nAt Morgan Stanley, we believe creating a more equitable society begins with investing in access, knowledge and resources to foster potential for all. We are committed to supporting the next generation of leaders and ensuring that they reflect the diversity of the world they inherit.\n\n*   [Why Us](javascript:void(0);)\n\n [Why Us](https://www.morganstanley.com/why-us)\n    *   [Why Morgan Stanley](https://www.morganstanley.com/why-us.html#why-morgan-stanley)\n    *   [How We Can Help](https://www.morganstanley.com/why-us.html#how-we-can-help)\n    *   [Building a Future We Believe In](https://www.morganstanley.com/why-us.html#our-values-in-action)\n    *   [Get Started](https://www.morganstanley.com/why-us.html#get-started)\n    *   [Stay in the Know](https://www.morganstanley.com/why-us.html#stay-in-the-know)\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nWhy Morgan Stanley\n\nAt Morgan Stanley, we focus the expertise of the entire firm—our advice, data, strategies and insights—on creating solutions for our clients, large and small.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nHow We Can Help\n\nWe have the experience and agility to partner with clients from individual investors to global CEOs. See how we can help you work toward your goals—even as they evolve over years or generations.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nBuilding a Future We Believe In\n\nAt Morgan Stanley, we put our beliefs to work. We lead with exceptional ideas, prioritize diversity and inclusion and find meaningful ways to give back—all to contribute to a future that benefits our clients and communities.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nGet Started\n\nMeet one of our Financial Advisors and see how we can help you.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nStay in the Know\n\nGet the latest insights, analyses and market trends in our newsletter, podcasts and videos.\n\n*   [Careers](javascript:void(0);)\n\n [Careers](https://www.morganstanley.com/people)\n    *   [Students & Graduates](https://www.morganstanley.com/people-opportunities/students-graduates)\n        *   [Opportunities](https://www.morganstanley.com/careers/career-opportunities-search?opportunity=sg)\n\n    *   [Experienced Professionals](https://www.morganstanley.com/people/experienced-professionals)\n        *   [Opportunities](https://www.morganstanley.com/careers/career-opportunities-search)\n        *   [Technology Professionals](https://www.morganstanley.com/people/technology-professionals)\n\n    *   [Experienced Financial Advisors](https://www.morganstanley.com/people/experienced-professionals/financial-advisors)\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nStudents & Graduates\n\nA career at Morgan Stanley means belonging to an ideas-driven culture that embraces new perspectives to solve complex problems. See how you can make meaningful contributions as a student or recent graduate at Morgan Stanley.\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nExperienced Professionals\n\nAt Morgan Stanley, you’ll find trusted colleagues, committed mentors and a culture that values diverse perspectives, individual intellect and cross-collaboration. See how you can continue your career journey at Morgan Stanley.\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nExperienced Financial Advisors\n\nAt Morgan Stanley, our premier brand, robust resources and market leadership can offer you a new opportunity to grow your practice and continue to fulfill on your commitment to deliver tailored wealth management advice that helps your clients reach their financial goals.\n\nFeatured \n\n[![Image 6](https://www.morganstanley.com/content/dam/msdotcom/articles/explore-our-culture/thumbnail-our-culture-square.jpg) Explore Our Culture](https://www.morganstanley.com/people-opportunities/students-graduates/culture)\n\nCareers \n\n[![Image 7](https://www.morganstanley.com/content/dam/msdotcom/articles/finance-technology-at-morgan-stanley/thumbnail-tech-innovator-square.jpg) Yes, You Can Be a Tech Innovator at Morgan Stanley](https://www.morganstanley.com/articles/finance-technology-at-morgan-stanley)\n\nTechnology \n\n*   [Investor Relations](https://www.morganstanley.com/about-us-ir)\n*   [Media Relations](https://www.morganstanley.com/about-us-newsroom#-536583991-tab)\n*   [Client Login](javascript:void(0);)\n\n [Client Login](https://www.morganstanley.com/#)\n    *   [Morgan Stanley Online](https://login.morganstanleyclientserv.com/ux/)\n    *   [Morgan Stanley at Work](https://www.morganstanley.com/atwork/employees/login)\n    *   [Research Portal](https://matrix.ms.com/research)\n    *   [Matrix](https://matrix.ms.com/)\n\n    *   Morgan Stanley Online\n\n    *   Morgan Stanley at Work\n\n    *   Research Portal\n\n    *   Matrix\n\n[![Image 8: Morgan Stanley](https://www.morganstanley.com/etc.clientlibs/msdotcomr4/clientlibs/components/site/resources/img/logo-black.png)](https://www.morganstanley.com/)\n\n*   [Investor Relations](https://www.morganstanley.com/about-us-ir)\n*   [Media Relations](https://www.morganstanley.com/about-us-newsroom#-536583991-tab)\n*   [Client Login](javascript:void(0);)\n\n [Client Login](https://www.morganstanley.com/#)\n    *   [Morgan Stanley Online](https://login.morganstanleyclientserv.com/ux/)\n    *   [Morgan Stanley at Work](https://www.morganstanley.com/atwork/employees/login)\n    *   [Research Portal](https://matrix.ms.com/research)\n    *   [Matrix](https://matrix.ms.com/)\n\n    *   Morgan Stanley Online\n\n    *   Morgan Stanley at Work\n\n    *   Research Portal\n\n    *   Matrix\n\n*   [Our Insights](javascript:void(0);)\n\n [Our Insights](https://www.morganstanley.com/insights)\n    *   [Personal Finance](https://www.morganstanley.com/insights/topics/personal-finance)\n    *   [Market Trends](https://www.morganstanley.com/insights/topics/market-trends)\n    *   [Technology & Disruption](https://www.morganstanley.com/insights/topics/technology-disruption)\n    *   [Sustainability](https://www.morganstanley.com/insights/topics/sustainability)\n    *   [Diversity & Inclusion](https://www.morganstanley.com/insights/topics/diversity-and-inclusion)\n\nstay up to date \n    *   [Sign Up For Our Newsletter](https://www.morganstanley.com/newsletter/subscribe)\n    *   [Listen To Our Podcasts](https://www.morganstanley.com/insights/podcasts/thoughts-on-the-market)\n\n    *   [(opens in a new tab)](https://www.twitter.com/morganstanley)\n    *   [(opens in a new tab)](https://www.linkedin.com/company/morgan-stanley)\n    *   [(opens in a new tab)](https://www.facebook.com/morganstanley)\n    *   [(opens in a new tab)](https://www.youtube.com/user/mgstnly)\n    *   [(opens in a new tab)](https://www.instagram.com/morgan.stanley)\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nPersonal Finance\n\nLearn from our industry leaders about how to manage your wealth and help meet your personal financial goals.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nMarket Trends\n\nFrom volatility and geopolitics to economic trends and investment outlooks, stay informed on the key developments shaping today's markets.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nTechnology & Disruption\n\nWhether it’s hardware, software or age-old businesses, everything today is ripe for disruption. Stay abreast of the latest trends and developments.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nSustainability\n\nOur insightful research, advisory and investing capabilities give us unique and broad perspective on sustainability topics.\n\n    *   At Morgan Stanley, we lead with exceptional ideas. Across all our businesses, we offer keen insight on today's most critical issues.\n\nDiversity & Inclusion\n\nMulticultural and women entrepreneurs are the cutting-edge leaders of businesses that power markets. Hear their stories and learn about how they are redefining the terms of success.\n\nFeatured \n\n[![Image 9](https://www.morganstanley.com/content/dam/msdotcom/Insights/articles/investment-outlook-midyear-2025/investment-outlook-midyear-2025-160x160.jpg) 2025 Midyear Investment Outlook: All Eyes on the U.S.](https://www.morganstanley.com/insights/articles/investment-outlook-midyear-2025)\n\n[Outlooks](https://www.morganstanley.com/Themes/outlooks)\n\n[![Image 10](https://www.morganstanley.com/content/dam/msdotcom/Insights/articles/economic-outlook-midyear-2025/economic-outlook-midyear-2025-160x160.jpg) 2025 Midyear Economic Outlook: A Widespread Deceleration](https://www.morganstanley.com/insights/articles/economic-outlook-midyear-2025)\n\n[Outlooks](https://www.morganstanley.com/Themes/outlooks)\n\n[![Image 11](https://www.morganstanley.com/content/dam/msdotcom/Insights/podcasts/thoughts-on-the-market/totm-flyaway-square.png) Thoughts on the Market](https://www.morganstanley.com/insights/podcasts/thoughts-on-the-market)\n\n[Insights](https://www.morganstanley.com/insights)\n\n*   [What We Do](javascript:void(0);)\n\n [What We Do](https://www.morganstanley.com/what-we-do)\n    *   [Wealth Management](https://www.morganstanley.com/what-we-do/wealth-management)\n    *   [Investment Banking & Capital Markets](https://www.morganstanley.com/what-we-do/investment-banking)\n    *   [Sales & Trading](https://www.morganstanley.com/what-we-do/sales-and-trading)\n    *   [Research](https://www.morganstanley.com/what-we-do/research)\n    *   [Investment Management](https://www.morganstanley.com/what-we-do/investment-management)\n    *   [Morgan Stanley at Work](https://www.morganstanley.com/atwork)\n    *   [Sustainable Investing](https://www.morganstanley.com/about-us/sustainability-at-morgan-stanley)\n    *   [Inclusive & Sustainable Ventures](https://www.morganstanley.com/about-us/inclusive-sustainable-ventures)\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nWealth Management\n\nWe help people, businesses and institutions build, preserve and manage wealth so they can pursue their financial goals.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInvestment Banking & Capital Markets\n\nWe have global expertise in market analysis and in advisory and capital-raising services for corporations, institutions and governments.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nSales & Trading\n\nGlobal institutions, leading hedge funds and industry innovators turn to Morgan Stanley for sales, trading and market-making services.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nResearch\n\nWe offer timely, integrated analysis of companies, sectors, markets and economies, helping clients with their most critical decisions.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInvestment Management\n\nWe deliver active investment strategies across public and private markets and custom solutions to institutional and individual investors.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nMorgan Stanley at Work\n\nWe provide comprehensive workplace financial solutions for organizations and their employees, combining personalized advice with modern technology.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nSustainable Investing\n\nWe offer scalable investment products, foster innovative solutions and provide actionable insights across sustainability issues.\n\n    *   Morgan Stanley helps people, institutions and governments raise, manage and distribute the capital they need to achieve their goals.\n\nInclusive & Sustainable Ventures\n\nFrom our startup lab to our cutting-edge research, we broaden access to capital for entrepreneurs and spotlight their success.\n\nFeatured \n\n[![Image 12](https://www.morganstanley.com/content/dam/msdotcom/what-we-do/wealth-management/new-wmhomepage/ms-fafinder-160x160.jpg) Get Matched with a Financial Advisor](https://advisor.morganstanley.com/search?icid=ms-nav-whatwedo-wm-featured-getmatchedwithafa)\n\nWealth Management \n\n[![Image 13](https://www.morganstanley.com/content/dam/msdotcom/what-we-do/wealth-management-images/home-page/etrade-hero-160x160.jpg) Explore What We Offer](https://us.etrade.com/what-we-offer?icid=ms-nav-whatwedo-etrade-featured-explorewhatweoffer)\n\nE*TRADE from Morgan Stanley \n\n*   [About Us](javascript:void(0);)\n\n [About Us](https://www.morganstanley.com/about-us)\n    *   [Core Values](https://www.morganstanley.com/about-us/morgan-stanley-core-values)\n    *   [Leadership](https://www.morganstanley.com/about-us/leadership)\n    *   [History](https://www.morganstanley.com/about-us/history)\n    *   [Locations](https://www.morganstanley.com/about-us/global-offices)\n    *   [Diversity](https://www.morganstanley.com/about-us/diversity)\n    *   [Sustainability](https://www.morganstanley.com/about-us/sustainability-at-morgan-stanley)\n    *   [Giving Back](https://www.morganstanley.com/about-us/giving-back)\n    *   [Technology](https://www.morganstanley.com/about-us/technology)\n    *   [Sponsorships](https://www.morganstanley.com/sponsorships)\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nCore Values\n\nEverything we do at Morgan Stanley is guided by our five core values: Do the right thing, put clients first, lead with exceptional ideas, commit to diversity and inclusion, and give back.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nLeadership\n\nMorgan Stanley leadership is dedicated to conducting first-class business in a first-class way. Our board of directors and senior executives hold the belief that capital can and should benefit all of society.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nHistory\n\nFrom our origins as a small Wall Street partnership to becoming a global firm of more than 80,000 employees today, Morgan Stanley has been committed to clients and communities for 89 years.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nLocations\n\nThe global presence that Morgan Stanley maintains is key to our clients' success, giving us keen insight across regions and markets, and allowing us to make a difference around the world.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nDiversity\n\nMorgan Stanley is differentiated by the caliber of our diverse team. Our culture of access and inclusion has built our legacy and shapes our future, helping to strengthen our business and bring value to clients.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nSustainability\n\nOur firm's commitment to sustainability informs our operations, governance, risk management, diversity efforts, philanthropy and research.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nGiving Back\n\nAt Morgan Stanley, giving back is a core value—a central part of our culture globally. We live that commitment through long-lasting partnerships, community-based delivery and engaging our best asset—Morgan Stanley employees.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nTechnology\n\nAs a global financial services firm, Morgan Stanley is committed to technological innovation. We rely on our technologists around the world to create leading-edge, secure platforms for all our businesses.\n\n    *   Since our founding in 1935, Morgan Stanley has consistently delivered first-class business in a first-class way. Underpinning all that we do are five core values.\n\nSponsorships\n\nAt Morgan Stanley, we believe creating a more equitable society begins with investing in access, knowledge and resources to foster potential for all. We are committed to supporting the next generation of leaders and ensuring that they reflect the diversity of the world they inherit.\n\n*   [Why Us](javascript:void(0);)\n\n [Why Us](https://www.morganstanley.com/why-us)\n    *   [Why Morgan Stanley](https://www.morganstanley.com/why-us.html#why-morgan-stanley)\n    *   [How We Can Help](https://www.morganstanley.com/why-us.html#how-we-can-help)\n    *   [Building a Future We Believe In](https://www.morganstanley.com/why-us.html#our-values-in-action)\n    *   [Get Started](https://www.morganstanley.com/why-us.html#get-started)\n    *   [Stay in the Know](https://www.morganstanley.com/why-us.html#stay-in-the-know)\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nWhy Morgan Stanley\n\nAt Morgan Stanley, we focus the expertise of the entire firm—our advice, data, strategies and insights—on creating solutions for our clients, large and small.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nHow We Can Help\n\nWe have the experience and agility to partner with clients from individual investors to global CEOs. See how we can help you work toward your goals—even as they evolve over years or generations.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nBuilding a Future We Believe In\n\nAt Morgan Stanley, we put our beliefs to work. We lead with exceptional ideas, prioritize diversity and inclusion and find meaningful ways to give back—all to contribute to a future that benefits our clients and communities.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nGet Started\n\nMeet one of our Financial Advisors and see how we can help you.\n\n    *   For 89 years, we’ve had a passion for what’s possible. We leverage the full resources of our firm to help individuals, families and institutions reach their financial goals.\n\nStay in the Know\n\nGet the latest insights, analyses and market trends in our newsletter, podcasts and videos.\n\n*   [Careers](javascript:void(0);)\n\n [Careers](https://www.morganstanley.com/people)\n    *   [Students & Graduates](https://www.morganstanley.com/people-opportunities/students-graduates)\n        *   [Opportunities](https://www.morganstanley.com/careers/career-opportunities-search?opportunity=sg)\n\n    *   [Experienced Professionals](https://www.morganstanley.com/people/experienced-professionals)\n        *   [Opportunities](https://www.morganstanley.com/careers/career-opportunities-search)\n        *   [Technology Professionals](https://www.morganstanley.com/people/technology-professionals)\n\n    *   [Experienced Financial Advisors](https://www.morganstanley.com/people/experienced-professionals/financial-advisors)\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nStudents & Graduates\n\nA career at Morgan Stanley means belonging to an ideas-driven culture that embraces new perspectives to solve complex problems. See how you can make meaningful contributions as a student or recent graduate at Morgan Stanley.\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nExperienced Professionals\n\nAt Morgan Stanley, you’ll find trusted colleagues, committed mentors and a culture that values diverse perspectives, individual intellect and cross-collaboration. See how you can continue your career journey at Morgan Stanley.\n\n    *   We believe our greatest asset is our people. We value our commitment to diverse perspectives and a culture of inclusion across the firm. Discover who we are and the right opportunity for you.\n\nExperienced Financial Advisors\n\nAt Morgan Stanley, our premier brand, robust resources and market leadership can offer you a new opportunity to grow your practice and continue to fulfill on your commitment to deliver tailored wealth management advice that helps your clients reach their financial goals.\n\nFeatured \n\n[![Image 14](https://www.morganstanley.com/content/dam/msdotcom/articles/explore-our-culture/thumbnail-our-culture-square.jpg) Explore Our Culture](https://www.morganstanley.com/people-opportunities/students-graduates/culture)\n\nCareers \n\n[![Image 15](https://www.morganstanley.com/content/dam/msdotcom/articles/finance-technology-at-morgan-stanley/thumbnail-tech-innovator-square.jpg) Yes, You Can Be a Tech Innovator at Morgan Stanley](https://www.morganstanley.com/articles/finance-technology-at-morgan-stanley)\n\nTechnology \n\nCLEAR\n\nSearch Go\n\n*   Investment Banking\n*   Mar 20, 2025\n\nAI’s Next Leap: 5 Trends Shaping Innovation and ROI\n===================================================\n\n[Tweet this(opens in a new tab)](https://twitter.com/share?url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&text=5%20Trends%20in%20AI%20Innovation%20&%20ROI)[Share this on LinkedIn(opens in a new tab)](https://www.linkedin.com/shareArticle?mini=true&url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&title=5%20Trends%20in%20AI%20Innovation%20&%20ROI&summary=%22Learn%20what%20the%20world%E2%80%99s%20biggest%20tech%20companies%20shared%20about%20their%20strategies%20to%20win%20AI%20market%20share%20and%20deliver%20ROI%20to%20enterprises,%20while%20progressing%20AI%20reasoning%20and%20frontier%20models.%22)[Share this on Facebook(opens in a new tab)](https://www.facebook.com/sharer/sharer.php?u=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt)[Email this](mailto:?body=I%20thought%20you%27d%20find%20this%20article%20from%20MorganStanley.com%20interesting.%20You%20can%20read%20it%20at%20:https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&subject=I%20found%20this%20article%20on%20MorganStanley.com)Print this\n\nThe world’s biggest tech companies presented at Morgan Stanley’s Technology, Media & Telecom Conference, identifying five trends around AI’s next frontiers and its ability to deliver ROI for enterprises.\n-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) Key Takeaways\n--------------------------------------------------------------------------------------------------------------\n\n*   In 2025, technology companies are focused on building AI platforms that meet their enterprise customers’ needs for optimized performance, profitability and security.\n*   In doing so, they’re partnering across the AI ecosystem of chips companies, hyperscalers, large language models, data and software companies, and grappling with U.S. trade policy unknowns and resource constraints.\n*   The top trends in new AI frontiers and the focus on enterprises include AI reasoning, custom silicon, cloud migrations, systems to measure AI efficacy and building an agentic AI future.\n\nThe world’s biggest tech companies are vying to refine cutting-edge uses for artificial intelligence utilizations: large language models’ ability to reason like humans; frontier models that push boundaries in natural-language processing, image generation, and coding; and the creation of systems that integrate multimodal data across text, images and video.\n\nIn doing so, they are racing to capture more AI market share and meet the needs of their biggest customers—the enterprises that are investing in AI to cut costs and boost productivity. In return, they demand optimized performance, profitability and security.\n\n“This year it’s all about the customer,” said Kate Claassen, Head of Global Internet Investment Banking at Morgan Stanley. “We're on the precipice of an entirely new technology foundation, where the best of the best is available to any business. The way companies will win is by bringing that to their customers holistically.”\n\nVideo Player is loading.\n\nPlay Video\n\nPlay\n\nMute\n\nCurrent Time 0:00\n\n/\n\nDuration 0:51\n\nLoaded: 19.56%\n\n0:00\n\nStream Type LIVE\n\nSeek to live, currently behind live LIVE\n\nRemaining Time-0:51\n\nShare\n\n1x\n\nPlayback Rate\n\nChapters\n\n*   Chapters\n\nDescriptions\n\n*   descriptions off, selected\n\nCaptions\n\n*   captions settings, opens captions settings dialog\n*   captions off, selected\n*   en\n\nAudio Track\n\n*   en (Main), selected\n\nPicture-in-Picture Fullscreen\n\nThis is a modal window.\n\nBeginning of dialog window. Escape will cancel and close the window.\n\nText Color Transparency Background Color Transparency Window Color Transparency \n\nFont Size Text Edge Style Font Family\n\nReset restore all settings to the default values Done\n\nClose Modal Dialog\nEnd of dialog window.\n\nClose Modal Dialog\nThis is a modal window. This modal can be closed by pressing the Escape key or activating the close button.\n\nClose Modal Dialog\nThis is a modal window. This modal can be closed by pressing the Escape key or activating the close button.\n\nN/A\n\nC-suite executives from the biggest technology companies around the world gathered at the recent [Morgan Stanley Technology, Media & Telecom Conference](https://www.morganstanley.com/Themes/tech-media-telecom-trends-insights-outlook) in San Francisco, where they spoke about their efforts to build leading AI platforms and partner across the AI ecosystem. They also discussed their challenges, including unknowns regarding U.S. export bans and [tariffs](https://www.morganstanley.com/articles/trump-tariffs-2025-investing-guide) as well as constraints in power and the availability of graphics processing units (GPUs). Five key themes emerged for executives and investors to watch:\n\n1.   AI reasoning and custom silicon fuel demand for chips\n2.   Hyperscalers see cloud migrations and AI workloads as revenue opportunities\n3.   LLMs see potential in AI reasoning for enterprises\n4.   Data companies zero in on evaluating AI\n5.   Software companies set sights on agentic AI\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 1. AI Reasoning and Custom Silicon Fuel Demand for Chips\n---------------------------------------------------------------------------------------------------------------------------------------------------------\n\nAI reasoning is one of the biggest drivers of increasing compute demand, and thus semiconductors, said executives from companies that design and make chips. AI reasoning moves beyond basic understanding and into advanced learning and decision making, which requires additional compute for pre-training, post-training and inference.\n\nExecutives also highlighted that they are investing in capabilities to meet customer demand for tailored data-center architecture, in areas such as memory and power management, and custom silicon designed for particular AI tasks rather than general-purpose processing. Customers are debating whether to buy specially designed application-specific integrated circuits (ASICs) for specific uses; ASICs offer higher efficiency and performance compared to general-purpose GPUs, which offer greater flexibility and broad applications. ASICs demand may accelerate with increased adoption of edge AI on small devices in coming years, executives said.\n\n“For chip companies, customer demand is in the breadth of AI workloads for programmable infrastructure,” said Marco Lagos Morales, Head of U.S. Semiconductor Investment Banking at Morgan Stanley. “What each customer wants in their data center builds is differing, and that means a much less prescriptive approach, starting with original equipment manufacturer designs.”\n\nExecutives also spoke about challenges to revenue growth, including continued foundry constraints due to the number of years needed to develop new construction sites and their physical limitations. They also underscored the unknown nature of U.S. export controls, with many saying they could not estimate the impact to their bottom lines until they know the criteria.\n\n> Recent AI advancements will harness the power of Jevons Paradox, to drive the long-term demand for AI and further increase the total addressable market for all participants in the ecosystem.\n\nDave Chen Head of Global Technology Investment Banking, Morgan Stanley\n\n*   [Tweet this(opens in a new tab)](https://twitter.com/share?url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&text=%22Recent%20AI%20advancements%20will%20harness%20the%20power%20of%20Jevons%20Paradox,%20to%20drive%20the%20long-term%20demand%20for%20AI%20and%20further%20increase%20the%20total%20addressable%20market%20for%20all%20participants%20in%20the%20ecosystem.%22)\n*   [Share this on LinkedIn(opens in a new tab)](https://www.linkedin.com/shareArticle?mini=true&url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&title=5%20AI%20Trends%20Shaping%20Innovation%20and%20ROI%20in%202025&summary=%22Recent%20AI%20advancements%20will%20harness%20the%20power%20of%20Jevons%20Paradox,%20to%20drive%20the%20long-term%20demand%20for%20AI%20and%20further%20increase%20the%20total%20addressable%20market%20for%20all%20participants%20in%20the%20ecosystem.%22)\n*   [Share this on Facebook(opens in a new tab)](https://www.facebook.com/dialog/share?app_id=773782963242623&display=page&href=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&redirect_uri=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&quote=%22Recent%20AI%20advancements%20will%20harness%20the%20power%20of%20Jevons%20Paradox,%20to%20drive%20the%20long-term%20demand%20for%20AI%20and%20further%20increase%20the%20total%20addressable%20market%20for%20all%20participants%20in%20the%20ecosystem.%22)\n*   [Email this](mailto:?body=Did%20you%20know,%20%22Recent%20AI%20advancements%20will%20harness%20the%20power%20of%20Jevons%20Paradox,%20to%20drive%20the%20long-term%20demand%20for%20AI%20and%20further%20increase%20the%20total%20addressable%20market%20for%20all%20participants%20in%20the%20ecosystem.%22.%20You%20can%20read%20more%20about%20it%20here:%20https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&subject=I%20found%20this%20article%20on%20MorganStanley.com)\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 2. Hyperscalers See Cloud Migrations and AI Workloads as Revenue Opportunities\n-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\n\nHyperscalers, the cloud providers with the greatest computing, storage and networking resources, spoke about convincing enterprises to use as many services across their software stacks as possible, to create even bigger AI platforms with increasing market share.\n\nExecutives described robust capital expenditures on commercial cloud servers and expanding their AI offerings to improve AI reasoning, as well as creating specialized applications and progress toward agentic AI. They spoke about offsetting costs with customizable chips that optimize compute performance and targeting long-term utilization of their land and construction sites.They also addressed[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt)[recent advancements in AI](https://www.morganstanley.com/insights/articles/deepseek-ai-watershed-moment) that improve computing efficiency as positive for their businesses, as it helps reduce costs and increase AI demand.\n\n“Recent AI advancements will harness the power of Jevons Paradox, to drive the long-term demand for AI and further increase the total addressable market for all participants in the ecosystem,” said Dave Chen, Head of Global Technology Investment Banking at Morgan Stanley, referring to the effect when increased efficiency leads to higher overall consumption.\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 3. LLMs See Potential in AI Reasoning for Enterprises\n------------------------------------------------------------------------------------------------------------------------------------------------------\n\nCompanies that have developed the world’s biggest LLMs intend to use the most effective chips and build the best software to offer AI services that become essential for companies and consumers. While the early use cases for LLMs were content generation, summarization and classification, the biggest untapped potential is in AI reasoning for enterprise data, LLM executives said.\n\nEnterprises are currently using LLMs for customer support and chatbots, internal knowledge retrieval and search, content generation and marketing, coding automation and business intelligence. However, with AI reasoning, LLMs can help companies with context-aware recommendations, data insights, process optimizations, compliance and strategic planning. Executives spoke about expecting further accelerations in coding advancements.One estimated that the output of a single software engineer has already risen by 10 times or more. Among the earliest industries to fully harness tailored AI to do tenfold work may be biotechnology, for clinical trials and regulatory submissions, and law, for AI-powered paralegal work.\n\nMost enterprises want AI models that can ensure the security of their data, which is why some LLMs are researching and trying to commercialize mechanistic interpretability, which aims to understand why a model does what it does. This is important for all companies, but especially those in regulated industries such as financial services. “LLMs are competing to deliver the best inference stack to enterprises, which includes reasoning capabilities and strong AI governance,” said Brett Klein, Head of East Coast Technology Banking. “With sophisticated reasoning and adaptive learning, agentic AI will be able to make decisions and take actions to achieve business goals with minimal human intervention.”\n\nLLM executives also spoke about working with foundries to design and make custom silicon, to reduce the costs related to developing features such as recommender systems for ads or videos at scale.Many also said that recent AI advancements—such as continuous learning that enables adaptation based on recent interactions and updates without full retraining—are positive as software and apps proliferate, creating more real-world usage, data exposure and refined training opportunities.\n\n> Writing code has become much faster with AI, but now the value is in testing and understanding it and seeing if it works for the business.”\n\nEnrique Perez-Hernandez Head of Global Technology Investment Banking, Morgan Stanley\n\n*   [Tweet this(opens in a new tab)](https://twitter.com/share?url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&text=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22)\n*   [Share this on LinkedIn(opens in a new tab)](https://www.linkedin.com/shareArticle?mini=true&url=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&title=5%20AI%20Trends%20Shaping%20Innovation%20and%20ROI%20in%202025&summary=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22)\n*   [Share this on Facebook(opens in a new tab)](https://www.facebook.com/dialog/share?app_id=773782963242623&display=page&href=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&redirect_uri=https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&quote=%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22)\n*   [Email this](mailto:?body=Did%20you%20know,%20%22Writing%20code%20has%20become%20much%20faster%20with%20AI,%20but%20now%20the%20value%20is%20in%20testing%20and%20understanding%20it%20and%20seeing%20if%20it%20works%20for%20the%20business.%E2%80%9D%20%22.%20You%20can%20read%20more%20about%20it%20here:%20https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt&subject=I%20found%20this%20article%20on%20MorganStanley.com)\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 4. Data Companies Zero in on Evaluating AI\n-------------------------------------------------------------------------------------------------------------------------------------------\n\nCompanies in the data and cloud infrastructure ecosystem are catering to enterprises by building tools that can help them automate observability—the ability to understand a system’s behavior by analyzing the data it generates—and creating evaluation systems for their AI uses, to help customers drive [ROI](https://www.morganstanley.com/insights/articles/ai-monetization-race-to-roi-tmt).\n\n“Writing code has become much faster with AI, but now the value is in testing and understanding it and seeing if it works for the business,” said Enrique Perez-Hernandez, Head of Global Technology Investment Banking at Morgan Stanley.“Data companies are building AI engines more focused on helping companies understand whether LLMs are working properly and doing the right thing for the business.”\n\nSome data companies are partnering with LLMs to power frontier models that allow users without a business-intelligence background to derive insights. Executives spoke about the importance of building custom AI tools, such as chat interfaces, that can parse through entities’ structured and unstructured data, whether they are enterprises in regulated industries or countries where data must remain on premises.\n\nExecutives also highlighted the “data lakehouse revolution”—a trend to create unified data platforms that combine data lakes’ low-cost storage and flexibility with data warehouses’ structure and management features. This may involve partnerships with big corporations and other large tech companies in the AI ecosystem, to create best-of-breed AI and machine learning services for cloud integrations, cybersecurity, analytics, data sharing and industry-specific solutions.\n\n[](https://www.morganstanley.com/insights/articles/ai-trends-reasoning-frontier-models-2025-tmt) 5. Software Companies Set Sights on Agentic AI\n-----------------------------------------------------------------------------------------------------------------------------------------------\n\nSoftware executives spoke about their current use of AI for productivity gains in marketing and engineering and their longer-term prospects to gain market share in an agentic computing future. These companies are aiming to create large systems that deploy [AI agents](https://www.morganstanley.com/insights/podcasts/thoughts-on-the-market/ai-agents-adam-jonas-michelle-weaver) to make decisions, take autonomous actions and adapt to changing environments for real-world applications across industries.\n\nExecutives spoke about how next-gen technology is shifting toward personalized content and shopping experiences, taking form as assistants that are intimately familiar with users’ interests and queries. Many also warned against an agentic AI hype cycle, underscoring that investors shouldn’t expect profitability in the next three to five years.\n\n“Software companies are vying to create larger operating systems that harness machine learning, LLMs, natural language processing, generative AI and decision-making algorithms to move toward an agentic future,” said Brittany Skoda, Global Head of Software Banking. “Eventually, such systems could prove to be incredibly valuable to consumers, creators and advertisers and across enterprises,” said Melissa Knox, Global Head of Software Banking.\n\nDiscover More Investment Banking Insights\n-----------------------------------------\n\n[Read More(opens in a new tab)](https://www.morganstanley.com/what-we-do/investment-banking)\n\n* * *\n\nMore Stories\n\n[![Image 16](https://www.morganstanley.com/content/dam/msdotcom/Insights/articles/capital-markets-outlook-2025/tile-capital-markets-outlook-2025.jpg.img.410.medium.jpg/1739222957599.jpg) Investment Banking ### 2025 Capital Markets Outlook: 3 Trends Fueling a Resurgence Feb 18, 2025 Favorable economic conditions have set up a potential rebound in M&A, private credit assets could reach $2.8 trillion and corporate spending on AI is poised to grow.](https://www.morganstanley.com/insights/articles/capital-markets-outlook-2025)\n\n[![Image 17](https://www.morganstanley.com/content/dam/msdotcom/ideas/tech-telecom-europe-2025/tile-tech-telecom-europe-2025.jpg.img.410.medium.jpg/1738100255272.jpg) Investment Banking ### 3 European Tech and Telecom Trends for 2025 Jan 29, 2025 AI demand, M&A-friendly policy and investments in innovation could drive growth in Europe’s technology and telecommunications sectors.](https://www.morganstanley.com/insights/articles/tech-and-telecom-2025-european-outlook)\n\n[![Image 18](https://www.morganstanley.com/content/dam/msdotcom/ideas/2025-M-A-outlook/tile-2025-M-A-outlook.jpg.img.410.medium.jpg/1736277318657.jpg) Investment Banking ### 2025 M&A Outlook: 4 Trends Driving an Anticipated Rebound Jan 14, 2025 A favorable regulatory environment and almost $3 trillion in uncommitted capital are among key factors that could lead to a comeback for mergers and acquisitions.](https://www.morganstanley.com/ideas/mergers-and-acquisitions-outlook-2025-trends)\n\n*   [(opens in a new tab)](https://www.linkedin.com/company/morgan-stanley)\n*   [(opens in a new tab)](https://www.instagram.com/morgan.stanley)\n*   [(opens in a new tab)](https://www.twitter.com/morganstanley)\n*   [(opens in a new tab)](https://www.facebook.com/morganstanley)\n*   [(opens in a new tab)](https://www.youtube.com/user/mgstnly)\n\n* * *\n\n*   [Disclosures](https://www.morganstanley.com/disclosures \"Disclosures\")\n*   [Investor Relations](https://www.morganstanley.com/about-us-ir \"Investor Relations\")\n*   [Corporate Governance](https://www.morganstanley.com/about-us-governance \"Corporate Governance\")\n*   [Newsroom](https://www.morganstanley.com/about-us-newsroom#-536583991-tab \"Newsroom\")\n*   [Careers](https://www.morganstanley.com/people \"Careers\")\n\n* * *\n\n*   [Contact Us](https://www.morganstanley.com/contact-us \"Contact Us\")\n*   [Global Offices](https://www.morganstanley.com/about-us/global-offices \"Global Offices\")\n*   [Equal Employment Opportunity](https://www.morganstanley.com/people-opportunities/eeo \"Equal Employment Opportunity\")\n*   [Cybersecurity](https://www.morganstanley.com/about-us/cybersecurity-and-fraud-awareness \"Cybersecurity\")\n*   [Terms of Use](https://www.morganstanley.com/terms \"Terms of Use\")\n*   [Privacy & Cookies](https://www.morganstanley.com/privacy-pledge \"Privacy & Cookies\")\n*   [Your Privacy Choices ![Image 19: Your Privacy Choices](https://www.morganstanley.com/content/dam/msdotcom/footer-icons/privacyoptions29x14.jpg)](javascript:window.evidon.notice.showOptions(); \"Your Privacy Choices\")\n\n* * *\n\n© 2025 Morgan Stanley. All rights reserved.\n\nClose\n\n![Image 21](https://verifi.podscribe.com/tag?action=firmwide&user_id=650b3946-417b-46dc-a217-93397e88bdc7&advertiser=morganstanley&referrer=_&session_referrer=_&session_landing_url=null&device_id=pscrb_a9cfbd48-850e-4b3d-dcee-26f6a5a51bab&first_visited_at=1757915088740&stid=&ipv4=34.34.225.118&url=_&event_url=https%3A%2F%2Fwww.morganstanley.com%2Finsights%2Farticles%2Fai-trends-reasoning-frontier-models-2025-tmt&source=js-tag+v1.0.7&cachebust=1757915089136)\n\n![Image 22](https://bat.bing.com/action/0?ti=5189303&Ver=2&mid=0d4ca9f3-f1a0-4059-ade0-62f863460c6e&bo=1&sid=17d84fc091f711f0b944715753ad492b&vid=17df1df091f711f0b27ab115cca3f3ec&vids=1&msclkid=N&pi=918639831&lg=en-US&sw=800&sh=600&sc=24&tl=5%20AI%20Trends%20Shaping%20Innovation%20and%20ROI%20in%202025%20%7C%20Morgan%20Stanley&kw=Artificial%20intelligence,%20data%20centers,%20semiconductors,%20hyperscalers,%20LLMs,%20software,%20data%20infrastructure,%20cybersecurity,%20agentic%20AI,%20Morgan%20Stanley%20Technology,%20Media%20%26%20Telecom%20Conference,%20TMT%202025&p=https%3A%2F%2Fwww.morganstanley.com%2Finsights%2Farticles%2Fai-trends-reasoning-frontier-models-2025-tmt&r=&lt=3602&evt=pageLoad&sv=2&cdb=AQAS&rn=498497)\n",
              "images": []
            }
          ],
          "failed_results": [],
          "response_time": 0.01,
          "request_id": "3e6263b0-ff37-41db-a939-ca1b09e0b0c5"
        }
      },
      {
        "json": {
          "results": [
            {
              "url": "https://www.splashtop.com/blog/remote-work-trends-2025",
              "raw_content": "[Skip to main content](#main)\n\nLanguage\n\n[Log in](https://redirect.splashtop.com/my/login)[Free Trial](https://redirect.splashtop.com/my/splashtop-trial/signup?abtest=ineligible&platform=web&menutrial=1)\n\n[+1.408.886.7177](tel:+1.408.886.7177)[Free Trial](https://redirect.splashtop.com/my/splashtop-trial/signup?abtest=ineligible&platform=web&menutrial=1)\n\n# Top 10 Remote Work Trends and Strategy Tips for 2025\n\n[Verena Cooper](/authors/verena-cooper)\n\n11 min read\n\nUpdated\n\nGet Started with Splashtop\n\nTop-rated remote access, remote support, and endpoint management solutions.\n\n[Free Trial](https://redirect.splashtop.com/my/splashtop-trial/signup?blogbanner=3&abtest=ineligible&platform=web)\n\n#### Listen here\n\nRemote work has transformed from a pandemic-driven necessity into a fundamental part of modern business operations, redefining how organizations function, attract talent, and stay competitive. It has empowered employees with greater flexibility, enabled businesses to tap into global talent pools, and driven innovation through diverse, decentralized teams.\n\nAs we approach 2025, the remote work landscape continues to evolve, shaped by rapid technological advancements, shifting workforce priorities, and the growing demand for sustainable practices. Staying ahead of these trends is no longer optional but a necessity for organizations aiming to remain agile and future-ready.\n\nIn this article, we’ll explore the top 10 remote work trends and predictions for 2025, providing valuable insights to help businesses embrace the future of work and capitalize on emerging opportunities.\n\n## Remote Work Statistics 2025: Analyzing the Current Landscape\n\nRemote work has seen widespread adoption in recent years, evolving into a preferred work model for employees and a strategic necessity for businesses. Recent data underscores this shift, highlighting both its impact and the ongoing adjustments organizations are making.\n\n* **Global Adoption Rates:** [Recent data](https://www.timechamp.io/blogs/40-must-know-remote-work-statistics) indicates that approximately 28% of employees worldwide worked remotely in 2023, up from 20% in 2020. In the United States, about 22.8% of employees worked remotely at least part-time as of August 2024, translating to approximately 35.1 million people. This trend reflects the growing integration of remote work into long-term business strategies.\n* **Productivity Insights:** Contrary to initial skepticism, remote work has proven to boost productivity for many organizations. A two-year [study by Great Place to Work®](https://www.greatplacetowork.com/resources/blog/remote-work-productivity-study-finds-surprising-reality-2-year-study) analyzed over 800,000 employee responses and found that most reported stable or increased productivity levels after transitioning to remote work. [Another study](https://news.stanford.edu/stories/2024/06/hybrid-work-is-a-win-win-win-for-companies-workers) led by Stanford economist Nicholas Bloom on over 1,600 workers at Trip.com revealed that employees working from home two days a week were just as productive and likely to be promoted as their full-time office counterparts.\n* **Workforce Preferences:** Surveys reveal that flexibility remains a top priority for employees, with many willing to leave their jobs if remote options are not offered. A study by Statista found that [91% of employees](https://www.statista.com/statistics/1401265/preferred-work-structure-remote-workers-globally/) worldwide prefer to work fully or almost completely remotely. This highlights the growing importance of remote work in attracting and retaining talent.\n* **Return-to-Office Plans:**\n\n  A [KPMG study](https://www.cfodive.com/news/most-ceos-expect-full-returnoffice-kpmg-remote-hybrid-work) of 1,300 CEOs, revealed that 83% anticipate a full return to office within the next three years, up from 64% the previous year.\n\nThese statistics illustrate the ongoing evolution of remote work and set the stage for understanding the trends that will shape its future. By analyzing the current landscape, businesses can better prepare to navigate the opportunities and challenges of 2025.\n\n## 10 Top Remote Work Trends for 2025: What to Expect?\n\n### Trend 1: Hybrid Work Becomes the Norm\n\nAs businesses adapt to the evolving needs of their workforce, [hybrid work](/blog/what-is-hybrid-work) models are becoming the standard. This approach blends in-office and [remote work](/blog/what-is-remote-work), providing employees with the flexibility to work from home while maintaining opportunities for face-to-face collaboration.\n\nThe hybrid model addresses challenges such as maintaining team cohesion, supporting collaboration, and fostering creativity, which can be harder to achieve in fully remote setups. For businesses, hybrid work offers the [best of both worlds](/blog/hybrid-work-tips-for-employees): enhanced employee satisfaction and retention, coupled with sustained productivity. Employees benefit from fewer commutes and greater autonomy, while organizations maintain a centralized space for strategic meetings and team-building activities.\n\n### Trend 2: Increased Use of AI and Automation\n\nArtificial intelligence (AI) and automation are revolutionizing remote work by [streamlining workflows](/blog/workflow-management), boosting productivity, and enhancing collaboration. Businesses are increasingly leveraging AI tools for tasks such as scheduling, project management, and data analysis, allowing teams to focus on higher-value work.\n\nFor remote teams, AI-powered collaboration tools like real-time transcription, intelligent scheduling assistants, and automated reporting reduce friction in day-to-day operations. Automation is also playing a key role in [IT management](/blog/it-management), such as monitoring system performance and implementing updates seamlessly.\n\nBy 2025, these technologies are expected to become even more integrated into remote work ecosystems, empowering employees with smarter, more efficient tools and enabling organizations to scale their operations without compromising on quality or speed.\n\n### Trend 3: Virtual Reality (VR) and Augmented Reality (AR) for Collaboration\n\n[Virtual and augmented reality](/blog/ar-vs-vr) are reshaping how remote teams connect, communicate, and collaborate. By 2025, the adoption of VR and AR technologies for immersive team interactions is expected to rise significantly. Virtual meeting rooms and augmented reality tools are enabling lifelike experiences, bridging the gap between remote and in-person collaboration.\n\nThese technologies are particularly useful for industries that require hands-on training, detailed visualizations, or interactive problem-solving. For example, a global design team can brainstorm in a shared virtual space, while field technicians can use AR to receive step-by-step instructions overlaid onto their real-world tasks. As VR and AR hardware become more affordable and software solutions grow more sophisticated, these tools will play a pivotal role in fostering teamwork, creativity, and engagement in remote work settings.\n\n### Trend 4: Remote Access and Support Technologies Transforming Workplaces\n\nAs remote work becomes the norm, the demand for robust [remote access](/blog/what-is-remote-access) and [support](/blog/what-is-remote-support-software) solutions is surging. By 2025, businesses will prioritize tools that ensure seamless, secure connectivity to devices and systems, regardless of location. These technologies are critical for maintaining productivity, resolving IT issues efficiently, and supporting decentralized workforces.\n\nModern [remote access solutions](/products/remote-access) now offer features like multi-device compatibility, enhanced security protocols, and real-time monitoring. Meanwhile, [remote support tools](/products/remote-support) enable IT teams to diagnose and fix problems remotely, significantly reducing downtime and the need for on-site visits. These solutions are not only improving efficiency but also strengthening cybersecurity by enabling encrypted connections and proactive threat detection.\n\nWith these advancements, organizations can empower their teams to [work confidently from anywhere](/blog/work-from-anywhere), while ensuring that technical support is only a click away. This evolution in remote access and support technology will be instrumental in sustaining the growth of remote work.\n\nDiscover how Splashtop’s cutting-edge remote access and support solutions can empower your business to stay connected, secure, and productive in 2025. Experience seamless performance and robust security—[try Splashtop for free](/free-trial) today!\n\n### Trend 5: The Globalization of the Workforce\n\nRemote work has dissolved traditional geographical barriers, opening the door for companies to access a diverse, global talent pool. By 2025, this trend will continue to grow, enabling businesses to hire the best talent regardless of location. Organizations are now leveraging remote work to expand their teams beyond borders, bringing together unique perspectives and expertise from different cultures.\n\nThis globalization not only enhances innovation but also provides cost-saving opportunities by tapping into talent markets with varying wage structures. Additionally, businesses benefit from round-the-clock operations by employing teams across multiple time zones. However, this trend also requires companies to navigate complexities such as compliance with international labor laws and managing cross-cultural teams effectively.\n\n### Trend 6: Cybersecurity Takes Center Stage\n\nAs remote work grows, so do the associated [cybersecurity](/blog/what-is-cybersecurity) risks. By 2025, businesses will place even greater emphasis on secure systems and practices to combat rising threats in remote work environments. [Cyberattacks](/blog/how-to-prepare-for-potential-cyberattacks) such as [phishing](/blog/10-tips-employees-prevent-phishing), [ransomware](/blog/how-can-you-protect-your-network-from-ransomware-attacks), and data breaches remain significant concerns, particularly with employees accessing company resources from diverse locations and devices.\n\nTo address these challenges, organizations are adopting stronger security measures, including endpoint protection, [multi-factor authentication](/blog/multi-factor-authentication), and [zero-trust frameworks](/blog/zero-trust-security-a-comprehensive-approach-to-cybersecurity). Employee training on [cybersecurity best practices](/blog/it-security-best-practices) is also becoming a priority to mitigate risks from human error. As companies evolve their security strategies, tools like [Splashtop’s remote access solutions](/solutions/remote-access) are providing [enhanced protection](/security) with features like encrypted connections and proactive monitoring, ensuring data integrity and peace of mind.\n\n### Trend 7: Focus on Employee Well-being and Mental Health\n\nWith remote work becoming more widespread, businesses are increasingly recognizing the importance of prioritizing employee well-being and mental health. By 2025, organizations will focus on creating supportive environments that foster a healthy work-life balance for their teams. Remote work, while offering flexibility, can sometimes blur boundaries between personal and professional lives, leading to stress and burnout.\n\nCompanies are addressing this by introducing wellness initiatives, such as flexible schedules, mental health resources, and regular virtual check-ins to promote connection and reduce isolation. Offering tools that encourage breaks, facilitate ergonomic setups, and provide access to counseling services can further enhance employee satisfaction and retention. A holistic approach to well-being will be key to sustaining productivity and morale in remote teams.\n\n### Trend 8: Reskilling and Upskilling for Remote Work\n\nThe rapid pace of technological advancement and the evolving nature of remote roles are driving the need for continuous learning. By 2025, businesses will invest heavily in reskilling and upskilling initiatives to ensure employees remain adaptable and proficient in new tools and processes.\n\nThese programs will focus on equipping employees with both technical skills, such as navigating emerging remote collaboration tools, and soft skills like virtual communication and self-management. Companies will also emphasize leadership development to help [managers effectively guide dispersed teams](/blog/managing-remote-employees).\n\nOrganizations that prioritize lifelong learning will not only future-proof their workforce but also enhance employee engagement and career growth, fostering a culture of innovation and resilience in a remote-first world.\n\n### Trend 9: Sustainable Remote Work Practices\n\nSustainability is becoming a core focus for organizations, and remote work offers significant opportunities to [reduce environmental impact](/blog/environmental-benefits-remote-access). By 2025, eco-friendly remote work practices will play a vital role in corporate sustainability strategies. Eliminating or reducing commutes dramatically decreases carbon emissions, while encouraging employees to adopt energy-efficient home office setups contributes further to environmental goals.\n\nCompanies are also promoting digital solutions that minimize the need for printed materials and physical infrastructure. Some are even supporting green initiatives by providing subsidies for renewable energy use in home offices or collaborating with employees to adopt waste-reduction practices. These efforts not only benefit the planet but also appeal to environmentally conscious employees, enhancing brand reputation and employee satisfaction.\n\n### Trend 10: Decentralized Office Spaces and Remote Work Hubs\n\nThe era of centralized headquarters is giving way to decentralized office spaces and remote work hubs designed for distributed teams. By 2025, more companies will adopt this flexible approach, creating smaller, strategically located offices or shared workspaces that cater specifically to remote employees.\n\nThese hubs provide an alternative for employees who prefer not to work exclusively from home but don’t need to commute to a central office. They are designed to facilitate occasional in-person collaboration while offering a comfortable, productivity-enhancing environment. This model also allows businesses to reduce real estate costs and support employees in regions where access to home office resources might be limited.\n\nDecentralized workspaces are a testament to how businesses are adapting to the evolving needs of their remote and hybrid workforces, combining flexibility with physical spaces that foster community and teamwork.\n\n## How Can Businesses Prepare for Remote Work in 2025?\n\nTo thrive in the evolving remote work landscape, businesses must proactively adapt to the emerging trends and challenges of 2025. Implementing effective strategies will ensure that organizations remain competitive, productive, and employee-focused. Here are key areas to prioritize:\n\n1. **Invest in Advanced Remote Tools**\n\n   Equip teams with the latest technology for seamless remote work. This includes [secure remote access solutions](/solutions/remote-access), collaboration tools, and AI-powered solutions to enhance productivity and connectivity.\n2. **Establish Clear Objectives and Communication Channels**\n\n   Define goals and expectations to keep teams aligned. Regular virtual check-ins, transparent workflows, and accessible communication tools are essential for maintaining cohesion across dispersed teams.\n3. **Enhance Security Practices**\n\n   Protect sensitive data and systems by adopting robust cybersecurity measures. Multi-factor authentication, endpoint protection, and [secure remote support tools](/solutions/remote-it-support-software) are vital for safeguarding operations in remote environments.\n4. **Prioritize Reskilling and Upskilling**\n\n   Invest in continuous learning programs to prepare employees for evolving technologies and remote work challenges. Equip them with both technical skills and soft skills to thrive in virtual settings.\n5. **Focus on Employee Wellness**\n\n   Foster a healthy work-life balance by offering flexible schedules, mental health resources, and wellness initiatives. Create a supportive culture that values employee well-being as much as performance.\n6. **Adapt to Hybrid and Decentralized Work Models**\n\n   Embrace flexible work arrangements by combining remote and in-office options or establishing remote work hubs. This ensures employees have choices while fostering collaboration and innovation.\n\n## Revolutionize Your Remote Work Strategy with Splashtop Remote Access Solutions\n\nAs the remote work landscape evolves, Splashtop provides businesses with practical, high-performance tools designed to meet modern workforce demands. Trusted by organizations worldwide, Splashtop offers [remote access](/solutions/remote-access) and [remote support](/solutions/remote-support) solutions that emphasize robust security, flexibility, and efficiency.\n\n* **Seamless Remote Access:** Splashtop enables employees to securely access their office desktops, applications, and files from any device, ensuring uninterrupted productivity. Its\n\n  [high-speed connections](/features/high-performance) deliver reliable performance with low latency, even for bandwidth-intensive tasks like\n\n  [video editing](/blog/video-remote-desktop-video-editing-software) or [graphic design](/solutions/design-studios).\n* **Enhanced IT Support:** With Splashtop, IT teams can remotely troubleshoot and resolve issues on employee devices in real time. This reduces downtime and eliminates the need for on-site visits, saving time and resources.\n* **Strong Security Measures:** Splashtop employs\n\n  [advanced security features](/security/features), including AES-256 encryption, multi-factor authentication, and device authentication. These measures protect sensitive business data while meeting compliance standards like [GDPR](/blog/gdpr-compliance) and [HIPAA](/blog/hipaa-compliance).\n* **Scalability and Cost Efficiency:** Splashtop solutions scale easily for global teams and are [superior and more cost-effective than traditional VPN setups](/blog/vpn-vs-remote-desktop-software), making them an ideal choice for businesses of all sizes.\n* **Support for Hybrid Work Models:** Whether your workforce is fully remote or hybrid, Splashtop provides the tools needed to maintain seamless collaboration and productivity across distributed teams.\n\nBy integrating Splashtop into your remote work strategy, your business gains a reliable, secure, and user-friendly solution to navigate the challenges of 2025.\n\nSign up for a [free trial](/free-trial) today and experience the difference!\n\nGet Started Now!\n\nStart your Splashtop free trial\n\n[Free Trial](https://redirect.splashtop.com/my/splashtop-trial/signup?abtest=ineligible&platform=web)\n\n[Verena Cooper](/authors/verena-cooper)\n\nVerena is an International SEO Manager at Splashtop. With a keen interest in technology and cybersecurity, she's an avid user of Splashtop's remote access solution.\n\nShare This\n\n[RSS Feed](/blog-feed.xml)[Subscribe](/form/blog-subscription)\n\nWhat technologies are driving the evolution of remote work?\n\nTechnologies like AI, automation, virtual and augmented reality, and advanced remote access tools are transforming how teams collaborate and operate. These innovations streamline workflows, enhance communication, and ensure productivity across distributed teams.\n\nWhat are the key cybersecurity challenges for remote work in 2025?\n\nCyber threats such as phishing, ransomware, and data breaches remain significant, especially with employees accessing corporate resources from diverse locations. Businesses must address these risks by implementing robust security measures like endpoint protection, zero-trust frameworks, and employee training.\n\nHow are businesses adopting sustainable practices for remote work?\n\nOrganizations are reducing carbon footprints by minimizing commutes, promoting energy-efficient home offices, and digitizing operations to reduce paper waste. Many are also incentivizing green initiatives, such as renewable energy subsidies for remote employees.\n\nHow does Splashtop help businesses ensure seamless transitions to hybrid work models?\n\nSplashtop provides secure, high-performance remote access solutions that enable employees to switch effortlessly between home and office environments. Its robust features support hybrid work by ensuring consistent productivity and reliable IT support across locations.\n\nWhat makes Splashtop’s remote access solutions ideal for businesses in 2025?\n\nSplashtop combines top-tier security, high-speed performance, and cost-effectiveness, making it a versatile solution for businesses of all sizes. With support for hybrid work, compliance with regulations, and scalability for global teams, it’s tailored for the demands of the evolving workplace.\n\nHow can remote teams build stronger communication in 2025?\n\nTo build stronger communication in 2025, remote teams should prioritize real-time collaboration tools, regular video check-ins, and transparent project management platforms. Leveraging AI-driven meeting assistants, adopting asynchronous communication practices, and creating intentional virtual team-building activities will also be key to maintaining strong, connected teams across different locations and time zones.\n\n## Related Content\n\nIT & Help Desk Remote Support\n\n### How to Level Up Your Remote Support Experience with Splashtop Enterprise\n\n[Learn More](/blog/level-up-your-remote-support-experience-with-splashtop-enterprise)\n\nWorking Remotely\n\n### What is Hybrid Remote Work? Technology, Tools and Benefits\n\n[Learn More](/blog/what-is-hybrid-work)\n\nWorking Remotely\n\n### Can You Work from Home as an Accountant? (Yes!)\n\n[Learn More](/blog/how-accountants-can-work-from-home)\n\nSecurity\n\n### Can Splashtop Be Used to Spy on Remote Workers? Q&A\n\n[Learn More](/blog/splashtop-cannot-spy-remote-workers-qa)\n\n[View All Blogs](/blog)",
              "images": []
            }
          ],
          "failed_results": [],
          "response_time": 0.01,
          "request_id": "e794e5a6-4065-406f-bf86-d5eb5ed9f9b7"
        }
      }
    ]
  },
  "connections": {
    "Theme Search": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter 0.6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start on Saturday at 10 AM": {
      "main": [
        [
          {
            "node": "If Telegram or Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start on Telegram Message": {
      "main": [
        [
          {
            "node": "If Telegram or Schedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram or Schedule?": {
      "main": [
        [
          {
            "node": "Set Topics from Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fixed Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topics from Telegram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fixed Topics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Theme Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 0.6": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58e4960f-1780-4cc5-a697-78861e076295",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b85f0d09f3d863b4b665ea0e3475dac5af387c16ba8aaf52f137a98c26bd5361"
  },
  "id": "oKiseHkCtyJKptSq",
  "tags": []
}