07_Smart_License_Usage_Analyzer/Smart License Usage Analyzer.json
{
  "name": "Smart License Usage Analyzer 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3168,
        -2032
      ],
      "id": "c6251667-4918-4c51-b593-8256200970eb",
      "name": "Webhook - Telegram Bot",
      "webhookId": "555c8ccf-741d-46c2-9d44-c92899e63274",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0aebe7-3cc2-436b-9e72-97a6755e7829",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 - User Input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06f8b71a-a419-4fc2-8746-c0569ad7bfbd",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 - Создание ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8104b393-31e7-47be-b040-daa9528965e5",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(myresources|softwarecatalog|vmdetails)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 - Просмотр (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8342202e-e017-4985-b2dc-c193b6942c3b",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(optimize|checkidle)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 - Анализ (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36de61c5-af29-4813-8e9c-9096f8397a89",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/delete",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5 - Удаление ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c276292-995f-4620-8090-129e10a08a83",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "6 - Помощь"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Обработчик Fallback: Неизвестная команда"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -832,
        -1568
      ],
      "id": "762e56ef-bccf-4d38-aaae-c636aa41e21c",
      "name": "Command Router",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "672b5415-5aae-4b51-a0d1-72f0785edaf7",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        -2560
      ],
      "id": "194596e1-c58d-4983-a075-33e815f34c67",
      "name": "User Registered?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем данные пользователя (надежно)\nlet userData = null;\ntry {\n  // Пытаемся взять из узла, который проверял регистрацию\n  const userNode = $('User Registered?').first(); // Или 'Get User for VM Creation'\n  // Если узел User Registered - это IF, то данные могут быть во входном массиве\n  if (userNode) {\n     // Берем данные из контекста (входящие в IF)\n     const inputItem = $('Get User for VM Creation').first();\n     if (inputItem) userData = inputItem.json;\n  }\n} catch (e) {}\n\nif (!userData || !userData.user_id) {\n  // Фолбэк - ищем в любом месте\n  try {\n     userData = $('Get User for VM Creation').first().json;\n  } catch(e) {\n     throw new Error(\"Не удалось получить данные пользователя для проверки лимита\");\n  }\n}\n\n// 2. Получаем текущие ВМ пользователя\n// На вход этому узлу должны прийти ВМ (из Load Software Catalog2 / Get Existing VMs)\n// Если Load Software Catalog2 возвращает ВСЕ ВМ, фильтруем.\n// Если он возвращает только ВМ пользователя (через SQL WHERE), то просто берем длину.\n\nconst inputVMs = $input.all();\nlet currentCount = 0;\n\n// Проверяем, что нам пришло\nif (inputVMs.length > 0 && inputVMs[0].json.vm_id) {\n    // Это ВМ. Фильтруем по user_id на всякий случай\n    const userVMs = inputVMs.filter(item => \n        parseInt(item.json.user_id) === parseInt(userData.user_id)\n    );\n    currentCount = userVMs.length;\n} else {\n    // Если пришел пустой массив или не ВМ (например, каталог ПО), значит у юзера 0 ВМ\n    currentCount = 0;\n}\n\n// 3. Лимит\nconst limit = parseInt(userData.license_limit) || 3; // Дефолт 3, если не задано\n\nconsole.log(`User: ${userData.user_id}, VMs: ${currentCount}, Limit: ${limit}`);\n\n// 4. Результат\nconst canCreate = currentCount < limit;\n\nreturn {\n  json: {\n    canCreate: canCreate,\n    currentCount: currentCount,\n    limit: limit,\n    user_id: userData.user_id,\n    telegram_id: userData.telegram_id,\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -2896
      ],
      "id": "bc5dda3a-cf37-41f6-a1d1-d93088b27f42",
      "name": "Check License Limit",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "243b271c-bcaa-49e1-9711-4117e72a2b0d",
              "leftValue": "={{ $json.canCreate }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2944,
        -2896
      ],
      "id": "9a2d9155-9b3b-44da-a693-a51cb5f47bca",
      "name": "Can Create VM?"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. ПОЛУЧЕНИЕ ДАННЫХ ПОЛЬЗОВАТЕЛЯ ---\nlet userData = {\n  user_id: null,\n  telegram_id: $('Webhook - Telegram Bot').first().json.message.from.id,\n  username: $('Webhook - Telegram Bot').first().json.message.from.first_name\n};\n\ntry {\n  // 🔥 ПРИОРИТЕТ 1: Берем из Check UserId (гарантированный источник в начале)\n  const checkUserNode = $('Check UserId').first();\n  if (checkUserNode && checkUserNode.json && checkUserNode.json.user_id) {\n     userData.user_id = checkUserNode.json.user_id;\n  }\n  \n  // Попытка 2: Parse State (резерв)\n  if (!userData.user_id) {\n    const stateNode = $('Parse State').first(); \n    if (stateNode && stateNode.json && stateNode.json.user_id) {\n       userData.user_id = stateNode.json.user_id;\n    } \n  }\n  \n  // Попытка 3: Get User for VM Creation (резерв для прямой команды)\n  if (!userData.user_id) {\n     const directUserNode = $('Get User for VM Creation').first();\n     if (directUserNode && directUserNode.json && directUserNode.json.user_id) {\n        userData.user_id = directUserNode.json.user_id;\n     }\n  }\n\n} catch (e) {\n  console.log(\"Ошибка поиска ID: \" + e.message);\n}\n\n// КРИТИЧЕСКАЯ ПРОВЕРКА\nif (!userData.user_id) {\n   throw new Error(\"CRITICAL: Не найден User ID из базы данных! Проверьте, что пользователь зарегистрирован. (Node: Check UserId)\");\n}\n\n\n// --- 2. ПОЛУЧЕНИЕ И ОБРАБОТКА ВВОДА ---\nlet userInput = \"\";\ntry {\n  userInput = $('Webhook - Telegram Bot').first().json.message.text;\n} catch (e) {\n  userInput = \"\";\n}\n\n// Чистим ввод\nconst cleanInput = userInput.replace(/^\\/createvm\\s*/i, '').trim();\nlet selectedSoftwareIds = [];\n\nif (cleanInput) {\n  selectedSoftwareIds = cleanInput.split(',')\n    .map(id => parseInt(id.trim()))\n    .filter(id => !isNaN(id));\n}\n\nif (selectedSoftwareIds.length === 0) {\n  throw new Error('Не указано ПО! Введите номера из каталога (например: 1, 2)');\n}\n\n\n// --- 3. ВАЛИДАЦИЯ ПО КАТАЛОГУ ---\n// Каталог пришел НА ВХОД этому узлу ($input.all())\nconst softwareCatalog = $input.all().map(item => item.json);\n\nconst validIds = softwareCatalog\n  .map(s => parseInt(s.software_id))\n  .filter(n => !isNaN(n));\n\nvalidIds.sort((a, b) => a - b);\n\nconst invalidIds = selectedSoftwareIds.filter(id => !validIds.includes(id));\n\nif (invalidIds.length > 0) {\n  const badIdsStr = invalidIds.join(', ');\n  throw new Error(`Ошибка: ПО с номерами ${badIdsStr} не существует - для сбора доступного ПО выполните команду /softwarecatalog`);\n}\n\n// --- 4. РАСЧЕТ ПАРАМЕТРОВ ВМ ---\nlet monthlyCost = 0;\nconst installedSoftwareNames = [];\n\nselectedSoftwareIds.forEach(id => {\n  const sw = softwareCatalog.find(s => parseInt(s.software_id) === id);\n  if (sw) {\n    const price = parseFloat(sw.cost_per_month) || 0;\n    monthlyCost += price;\n    installedSoftwareNames.push(sw.name);\n  }\n});\n\nconst timestamp = Date.now();\nconst random = Math.floor(Math.random() * 1000);\nconst newVmId = Math.floor(timestamp / 1000) + random; \n\nconst shortTimestamp = timestamp.toString().slice(-6);\nconst softwareAbbr = installedSoftwareNames.length > 0 \n  ? installedSoftwareNames[0].substring(0, 3).toUpperCase() \n  : 'SYS';\n\nconst vmName = `VM-${userData.user_id}-${shortTimestamp}-${softwareAbbr}`;\n\nconst usageHours = Math.floor(Math.random() * 36) + 5;\nconst cpuUsage = Math.floor(Math.random() * 70) + 15;\nconst ramUsage = Math.floor(Math.random() * 60) + 30;\n\nlet status = 'active';\nif (usageHours < 5) status = 'stopped';\nelse if (usageHours < 20) status = 'idle';\n\nconst now = new Date();\nconst createdAt = now.toISOString().split('T')[0];\n\n// --- 5. ВОЗВРАТ РЕЗУЛЬТАТА ---\nreturn {\n  json: {\n    vm_id: newVmId,\n    user_id: userData.user_id,\n    vm_name: vmName,\n    software_installed: selectedSoftwareIds.join(','),\n    created_at: createdAt,\n    last_active: createdAt,\n    cpu_usage_avg: cpuUsage,\n    ram_usage_avg: ramUsage,\n    status: status,\n    monthly_cost: monthlyCost,\n    usage_hours_week: usageHours,\n    inactivity_days: 0,\n    alert_sent: false,\n    installed_software_names: installedSoftwareNames.join(', '),\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -2560
      ],
      "id": "d824493a-e444-4b75-98e6-df0a0cae263b",
      "name": "Create VM with Software",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Create VM with Software').item.json.chat_id }}",
        "text": "=✅ ВМ создана!\n\n📦 Название ВИ: {{ $json.vm_name }}\n💿 Установленное ПО: {{ $('Create VM with Software').item.json.installed_software_names }}\n📊 Статус: {{ $json.status }}\n💰 Стоимость: {{ $json.monthly_cost }} ₽/мес\n\n⚙️ Ресурсы:\n• CPU: ____ %\n• RAM: ____ %\n• Использование: ____ ч/неделю\n\nКоманды:\n📱 /myresources — все ресурсы\n🔍 /vmdetails {{ $json.vm_id }} — подробности",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3440,
        -2576
      ],
      "id": "71f24402-c0be-4470-b215-d70cafd1ef1a",
      "name": "Send: VM Created",
      "webhookId": "ee05d908-8316-461b-b370-6f150dbf510b",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Создание ВМ (/create_vm)\n\n\n",
        "height": 1040,
        "width": 2128,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        -3264
      ],
      "typeVersion": 1,
      "id": "ee6b75ec-84c2-423c-b32b-44f68811793a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User').first().json;\nconst allVMs = $('Get VMs for Resources').all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\nlet totalCost = 0;\nlet activeCount = 0;\nlet idleCount = 0;\nlet stoppedCount = 0;\nlet activeCost = 0;\nlet idleCost = 0;\nlet stoppedCost = 0;\n\nuserVMs.forEach(vm => {\n  totalCost += vm.json.monthly_cost;\n  \n  if (vm.json.status === 'active') {\n    activeCount++;\n    activeCost += vm.json.monthly_cost;\n  } else if (vm.json.status === 'idle') {\n    idleCount++;\n    idleCost += vm.json.monthly_cost;\n  } else {\n    stoppedCount++;\n    stoppedCost += vm.json.monthly_cost;\n  }\n});\n\nconst licenseMap = {\n  basic: { name: 'Basic', limit: 3, cost: 5000 },\n  standard: { name: 'Standard', limit: 10, cost: 15000 },\n  premium: { name: 'Premium', limit: 50, cost: 40000 }\n};\n\nconst license = licenseMap[userData.license_type];\n\nlet message = `📊 Ваши ресурсы\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `👤 Пользователь: ${userData.username}\\n`;\nmessage += `💼 Лицензия: ${license.name} (${userVMs.length}/${license.limit} ВМ)\\n`;\nmessage += `💰 Затраты: ${totalCost.toLocaleString()}₽/мес\\n\\n`;\n\nmessage += `🖥️ Виртуальные машины:\\n`;\nmessage += `✅ Активных: ${activeCount} (${activeCost.toLocaleString()}₽)\\n`;\nmessage += `⚠️ Простаивающих: ${idleCount} (${idleCost.toLocaleString()}₽)\\n`;\nmessage += `❌ Остановленных: ${stoppedCount} (${stoppedCost.toLocaleString()}₽)\\n\\n`;\n\n// ДОБАВЛЯЕМ СПИСОК ВМ\nif (userVMs.length > 0) {\n  message += `📋 Список ВМ:\\n`;\n  userVMs.forEach((vm, index) => {\n    const statusIcon = vm.json.status === 'active' ? '✅' : \n                       vm.json.status === 'idle' ? '⚠️' : '❌';\n    message += `${index + 1}. ${statusIcon} ${vm.json.vm_name}\\n`;\n    message += `   💿 ПО: ${vm.json.software_installed}\\n`;\n    message += `   💰 ${vm.json.monthly_cost.toLocaleString()}₽/мес\\n`;\n    message += `   🔍 /vmdetails ${vm.json.vm_id}\\n\\n`;\n  });\n}\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/optimize - Получить рекомендации\\n`;\nmessage += `/checkidle - Проверить простаивающие ВМ`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -1104
      ],
      "id": "d6ec69c9-bbad-437d-8169-4ac1407613bd",
      "name": "Calculate Summary"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        -1104
      ],
      "id": "0870e412-ba63-4e79-9a91-f1b8c43c5b29",
      "name": "Send: Resources Summary",
      "webhookId": "27f16c26-00f4-440b-8b19-5fe8c1f385e5",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Мои ресурсы (/my_resources)\n",
        "height": 608,
        "width": 1568,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -1248
      ],
      "typeVersion": 1,
      "id": "1f4afba8-fffe-4981-9857-5b999b0776a1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# AI-Оптимизация (/optimize)\n",
        "height": 592,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3808,
        -704
      ],
      "typeVersion": 1,
      "id": "436b1b9d-e5eb-48e5-9bcd-04ed2f9a9dd5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные пользователя\nconst userData = $('Get User for Optimize').first().json;\n\n// Получаем ВМ пользователя\nconst allVMs = $('Get VMs for Optimize').all();\n\n// Получаем каталог ПО\nconst software = $input.all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Создаём справочник ПО\nconst softwareMap = {};\nsoftware.forEach(sw => {\n  softwareMap[sw.json.software_id] = sw.json;\n});\n\n// Формируем детальное описание каждой ВМ\nlet vmDescriptions = '';\nuserVMs.forEach((vm, index) => {\n  // БЕЗОПАСНО парсим software_installed (может быть числом или строкой)\n  let softwareIds = [];\n  if (vm.json.software_installed) {\n    const softwareStr = String(vm.json.software_installed);\n    softwareIds = softwareStr.split(',').map(id => parseInt(id.trim())).filter(id => !isNaN(id));\n  }\n  \n  const softwareNames = softwareIds.map(id => \n    softwareMap[id] ? softwareMap[id].name : 'Unknown'\n  ).join(', ');\n  \n  vmDescriptions += `${index + 1}. ${vm.json.vm_name}\\n`;\n  vmDescriptions += `   ПО: ${softwareNames || 'Не установлено'}\\n`;\n  vmDescriptions += `   Использование: ${vm.json.usage_hours_week || 0} часов/неделю\\n`;\n  vmDescriptions += `   CPU: ${vm.json.cpu_usage_avg || 0}%, RAM: ${vm.json.ram_usage_avg || 0}%\\n`;\n  vmDescriptions += `   Простой: ${vm.json.inactivity_days || 0} дней\\n`;\n  vmDescriptions += `   Стоимость: ${vm.json.monthly_cost || 0}₽/мес\\n`;\n  vmDescriptions += `   Статус: ${vm.json.status}\\n\\n`;\n});\n\n// Если нет ВМ\nif (userVMs.length === 0) {\n  return {\n    json: {\n      error: true,\n      message: '❌ У вас нет виртуальных машин для анализа\\n\\nСоздайте ВМ командой /createvm',\n      chat_id: $('Edit Fields').first().json.chat_id\n    }\n  };\n}\n\nconst totalCost = userVMs.reduce((sum, vm) => sum + (vm.json.monthly_cost || 0), 0);\n\nconst prompt = `Проанализируй использование виртуальных машин и дай конкретные рекомендации.\n\n📊 Данные пользователя:\n- Лицензия: ${userData.license_type} (${userVMs.length}/${userData.license_limit} ВМ)\n- Текущие затраты: ${totalCost}₽/мес\n\n🖥️ Виртуальные машины:\n${vmDescriptions}\n\n📋 Задачи:\n1. Определи ВМ для удаления (критерий: простой >14 дней ИЛИ usage_hours_week <5)\n2. Найди ВМ для объединения (критерий: похожий набор ПО И суммарная нагрузка CPU+RAM <140%)\n3. Оцени оптимизацию лицензии:\n   - basic: 3 ВМ, 5000₽/мес\n   - standard: 10 ВМ, 15000₽/мес\n   - premium: 50 ВМ, 40000₽/мес\n4. Рассчитай потенциальную экономию\n\nВерни ответ СТРОГО по структуре из системного промпта, готовый для отправки в Telegram.`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    chat_id: $('Edit Fields').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        -528
      ],
      "id": "b41246c9-33ee-4b8c-9c84-2827f1214e79",
      "name": "Build Optimization Prompt"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4896,
        -320
      ],
      "id": "75e3c87b-96dc-4a06-91a5-7fdea3b8b61d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vTmXgtf5tUnqsJGf",
          "name": "OpenRouter posapr"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').first().json.telegram_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5536,
        -528
      ],
      "id": "7f8836ea-6f2f-4d62-8968-50408ad96f1a",
      "name": "Send: AI Recommendations",
      "webhookId": "735c4e5c-923d-4d62-a2d4-e31d28f70f42",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Проверка простоя (/check_idle)\n",
        "height": 592,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -256
      ],
      "typeVersion": 1,
      "id": "67d68421-fc1b-4073-b529-410564f2dd59",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User for Idle Check').first().json;\nconst allVMs = $('Get VMs for Idle Check').all();\n\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Основная классификация по критичности\nconst catastrophic = []; // >90 дней, stopped с dataLoss или failed\nconst critical = [];     // 30-90 дней или stopped\nconst high = [];         // 14-30 дней или idle с низким usage\nconst medium = [];       // 7-14 дней\nconst normal = [];       // 3-7 дней\nconst low = [];          // 1-3 дня\nconst minimal = [];      // <1 дня\n\n// Мониторинг в реальном времени для активных ВМ\nconst realTimeClassification = {\n  active: [],        // Текущая активная сессия (active_session = true)\n  recent: [],        // <15 минут (0.01 дня)\n  today: [],         // <24 часа (<1 дня)\n  thisWeek: [],      // <7 дней (уже в основных категориях)\n};\n\n// Получаем текущее время для расчёта точного простоя\nconst now = new Date();\n\nuserVMs.forEach(vm => {\n  const vmData = vm.json;\n  const inactivity = vmData.inactivity_days;\n  const status = vmData.status;\n  const usage = vmData.usage_hours_week;\n  const lastActivity = vmData.last_activity_time ? new Date(vmData.last_activity_time) : null;\n  const hasActiveSession = vmData.active_session === true;\n  \n  // Рассчитываем точное время простоя в часах/минутах\n  let exactInactivityHours = inactivity * 24;\n  if (lastActivity) {\n    exactInactivityHours = (now - lastActivity) / (1000 * 60 * 60);\n  }\n  \n  // Классификация по критичности\n  if ((inactivity >= 90 && status !== 'active') || (status === 'stopped' && (vmData.data_loss === true || vmData.state === 'failed'))) {\n    catastrophic.push(vmData);\n  } else if (inactivity >= 30 || (status === 'stopped' && inactivity >= 14)) {\n    critical.push(vmData);\n  } else if (inactivity >= 14 || (status === 'idle' && usage < 5)) {\n    high.push(vmData);\n  } else if (inactivity >= 7) {\n    medium.push(vmData);\n  } else if (inactivity >= 3) {\n    normal.push(vmData);\n  } else if (inactivity >= 1) {\n    low.push(vmData);\n  } else {\n    minimal.push(vmData);\n  }\n  \n  // Детальный мониторинг для активных ВМ (тех, что в minimal)\n  if (inactivity < 1) {\n    if (hasActiveSession) {\n      realTimeClassification.active.push(vmData);\n    } else if (exactInactivityHours < 0.25) { // <15 минут\n      realTimeClassification.recent.push(vmData);\n    } else if (exactInactivityHours < 1) { // <1 часа\n      vmData.inactivity_hours = exactInactivityHours.toFixed(1);\n      realTimeClassification.today.push(vmData);\n    } else {\n      // Остальные ВМ с простоям <1 дня остаются в minimal\n    }\n  }\n});\n\n// Формируем отчёт\nlet message = `🔍 Детальный анализ использования ВМ\\n━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// 1. Катастрофический уровень\nif (catastrophic.length > 0) {\n  message += `⛔ КАТАСТРОФИЧЕСКИЙ УРОВЕНЬ (${catastrophic.length}):\\n`;\n  catastrophic.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Статус: ${vm.status}${vm.data_loss ? ' (ПОТЕРЯ ДАННЫХ!)' : ''}\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: СРОЧНОЕ ВМЕШАТЕЛЬСТВО\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 2. Критический уровень\nif (critical.length > 0) {\n  message += `🔴 ТРЕБУЕТСЯ ДЕЙСТВИЕ (${critical.length}):\\n`;\n  critical.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Удалить\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 3. Высокий уровень\nif (high.length > 0) {\n  message += `🟠 ВЫСОКИЙ ПРИОРИТЕТ (${high.length}):\\n`;\n  high.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Использование: ${vm.usage_hours_week || 0}ч/неделю\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Рассмотреть удаление\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 4. Средний уровень\nif (medium.length > 0) {\n  message += `🟡 МОНИТОРИНГ (${medium.length}):\\n`;\n  medium.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней простоя)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 5. Нормальные и низкие (информативно)\nconst normalLowCount = normal.length + low.length;\nif (normalLowCount > 0) {\n  message += `🟢 АКТИВНОЕ ИСПОЛЬЗОВАНИЕ (${normalLowCount}):\\n`;\n  normal.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  low.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 6. Мониторинг в реальном времени\nconst realTimeCount = realTimeClassification.active.length + \n                      realTimeClassification.recent.length + \n                      realTimeClassification.today.length;\n\nif (realTimeCount > 0) {\n  message += `📊 МОНИТОРИНГ В РЕАЛЬНОМ ВРЕМЕНИ:\\n`;\n  \n  if (realTimeClassification.active.length > 0) {\n    message += `🟢 Активные сессии (${realTimeClassification.active.length}):\\n`;\n    realTimeClassification.active.forEach(vm => {\n      message += `└━ ${vm.vm_name} (сейчас онлайн)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.recent.length > 0) {\n    message += `🟡 Недавняя активность (${realTimeClassification.recent.length}):\\n`;\n    realTimeClassification.recent.forEach(vm => {\n      message += `└━ ${vm.vm_name} (<15 минут назад)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.today.length > 0) {\n    message += `🔵 Активны сегодня (${realTimeClassification.today.length}):\\n`;\n    realTimeClassification.today.forEach(vm => {\n      message += `└━ ${vm.vm_name} (${vm.inactivity_hours || '0.5'} часов назад)\\n`;\n    });\n    message += `\\n`;\n  }\n}\n\n// 7. Статистика и итоги\nconst totalIdle = catastrophic.length + critical.length + high.length + medium.length;\nconst totalCritical = catastrophic.length + critical.length;\nconst totalActive = userVMs.length - totalIdle;\nconst potentialSaving = [...catastrophic, ...critical, ...high, ...medium]\n  .reduce((sum, vm) => sum + (vm.monthly_cost || 0), 0);\n\nmessage += `📈 СТАТИСТИКА:\\n`;\nmessage += `┣━ Всего ВМ: ${userVMs.length}\\n`;\nmessage += `┣━ Активных: ${totalActive}\\n`;\nmessage += `┣━ Простаивающих: ${totalIdle}\\n`;\nif (totalCritical > 0) {\n  message += `┣━ Критических: ${totalCritical}\\n`;\n}\nmessage += `┗━ Потенциальная экономия: ${potentialSaving.toLocaleString()}₽/мес\\n\\n`;\n\n// 8. Рекомендации\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nif (totalIdle > 0) {\n  message += `💡 РЕКОМЕНДАЦИИ:\\n`;\n  if (catastrophic.length > 0) {\n    message += `• СРОЧНО проверьте ВМ с пометкой ⛔\\n`;\n  }\n  if (critical.length > 0 || high.length > 0) {\n    message += `• Используйте /optimize для детального анализа\\n`;\n  }\n  message += `• Рассмотрите архивацию редко используемых ВМ\\n`;\n} else {\n  message += `✅ Все ВМ используются эффективно!\\n`;\n  message += `Оптимизация не требуется.`;\n}\n\n// 9. Дополнительная информация (если есть активные в реальном времени)\nif (realTimeClassification.active.length > 0) {\n  message += `\\n\\n💻 Сейчас онлайн: ${realTimeClassification.active.length} ВМ`;\n}\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id,\n    idle_count: totalIdle,\n    critical_count: totalCritical,\n    potential_saving: potentialSaving,\n    stats: {\n      total: userVMs.length,\n      active: totalActive,\n      idle: totalIdle,\n      catastrophic: catastrophic.length,\n      critical: critical.length,\n      high: high.length,\n      medium: medium.length,\n      realTime: {\n        active: realTimeClassification.active.length,\n        recent: realTimeClassification.recent.length,\n        today: realTimeClassification.today.length\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -16
      ],
      "id": "bed67e04-c167-4823-b4ce-c9e4cd3c5479",
      "name": "Detect Idle VMs"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2848,
        -16
      ],
      "id": "45f1b667-8fea-46e1-be0a-ccbc97b381b2",
      "name": "Send: Idle Report",
      "webhookId": "b0dd063d-12f5-4765-b025-f54802ffec12",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Каталог ПО (/software_catalog)\n",
        "height": 448,
        "width": 1600,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -1968
      ],
      "typeVersion": 1,
      "id": "f2634ec0-07b5-4f14-a45b-b1a3fed607fc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const software = $input.all();\n\nlet message = `💿 Каталог инженерного ПО\\n━━━━━━━━━━━━━━━\\n\\n`;\n\nsoftware.forEach(sw => {\n  message += `${sw.json.software_id}. ${sw.json.name}\\n`;\n  message += `   📁 Категория: ${sw.json.category}\\n`;\n  message += `   💰 Стоимость: ${sw.json.cost_per_month}₽/мес\\n`;\n  message += `   ⚡ Нагрузка: ${'▓'.repeat(sw.json.resource_weight)}${'░'.repeat(5 - sw.json.resource_weight)} ${sw.json.resource_weight}/5\\n`;\n  message += `   📝 ${sw.json.description}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `Для создания ВМ с выбранным ПО:\\n`;\nmessage += `/create_vm [номера через запятую]\\n`;\nmessage += `Например: /create_vm 1,3,5`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -1744
      ],
      "id": "6d49c7ad-d88c-40b1-9aa2-b6cc8901da94",
      "name": "Format Catalog Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        -1744
      ],
      "id": "61ba462e-9b47-483b-acbf-90e46bcd18d9",
      "name": "Send: Software Catalog",
      "webhookId": "8eee79df-63c9-4821-b741-ac1101f76c79",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=👋 Добро пожаловать в POSASPR Helper!\n\nЭто прототип системы управления виртуальными машинами с инженерным ПО.\n\n📋 Доступные команды:\n\n➕ /createvm [ID_ПО]\n   Создать виртуальную машину\n   Пример: /createvm 1,3,5\n   Без параметров - случайный выбор ПО\n\n📊 /myresources\n   Посмотреть свои ресурсы и статистику\n\n🤖 /optimize\n   AI-анализ и рекомендации по оптимизации\n\n🔍 /checkidle\n   Проверить простаивающие ВМ\n\n💿 /softwarecatalog\n   Каталог доступного ПО\n\n👤 /register\n   Регистрация в системе (на всякий пожарный)\n\n  /delete\n  Удаление своей ВМ\n\n❓ /help\n   Эта справка\n\n━━━━━━━━━━━━━━━\n💡 Начните с /softwarecatalog",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -1088
      ],
      "id": "83bbbcf8-4e25-4813-b73c-9d5a96c048ff",
      "name": "Send: Help",
      "webhookId": "89600108-b8ac-4022-965d-b37f38555fe3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=❌ Неизвестная команда\n\nИспользуйте /help для списка доступных команд",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -880
      ],
      "id": "522f7233-9435-4afe-8f00-84ef6c1e7a9c",
      "name": "Send: Unknown Command",
      "webhookId": "5c15bd88-23b4-4035-8e67-1920978b1007",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Ты - эксперт по оптимизации IT-инфраструктуры. Анализируй данные о виртуальных машинах и давай конкретные рекомендации на русском языке.\n\nВАЖНО: Твой ответ будет отправлен в Telegram с форматированием Markdown. Используй правила:\n- Заголовки: **🗑️ Удалить** (жирный текст + эмодзи, НЕ используй ##)\n- Пункты списка: • или -\n- Жирный текст: **текст**\n- Курсив: _текст_\n- Код: `текст`\n\nСтруктура ответа:\n\n**🗑️ Удалить**\n\n• **[vm_name]**: [причина]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет ВМ для удаления: \"✅ Все ВМ используются эффективно\")\n\n**🔀 Объединить**\n\n• **[vm_name1]** + **[vm_name2]**: [обоснование]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет: \"ℹ️ Нет возможности объединения\")\n\n**📉 Оптимизация лицензии**\n\n[Рекомендация или \"✅ Не требуется\"]\n\n**💰 Итого**\n\nПотенциальная экономия: **[сумма]₽/мес** ([процент]%)\n\nНЕ добавляй никакие дополнительные разделители, футеры или команды в конце!"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        4960,
        -528
      ],
      "id": "722c261a-da63-4a6d-8b49-7fdf2016b60d",
      "name": "AI Optimization Analysis"
    },
    {
      "parameters": {
        "content": "# Детали ВМ (/vm_details)\n",
        "height": 672,
        "width": 2176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3776,
        -1712
      ],
      "typeVersion": 1,
      "id": "bf972a42-3c75-4fed-8aab-1a1d71f7be67",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "// Парсим команду: /vmdetails [vm_id или vm_name]\nconst message = $('Webhook - Telegram Bot').item.json.message.text;\nconst parts = message.trim().split(' ');\n\nlet vmId = null;\nlet vmName = null;\n\nif (parts.length > 1) {\n  const input = parts[1].trim();\n  \n  // Проверяем, что введено: число или имя\n  if (/^\\d+$/.test(input)) {\n    // Введён числовой ID\n    vmId = parseInt(input);\n  } else if (input.startsWith('VM-')) {\n    // Введено имя ВМ\n    vmName = input;\n  } else {\n    // Некорректный формат\n    return {\n      json: {\n        error: true,\n        message: `❌ Некорректный формат: \"${input}\"\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n      }\n    };\n  }\n}\n\n// Если ничего не указано\nif (!vmId && !vmName) {\n  return {\n    json: {\n      error: false,\n      help: true,\n      message: `💡 Укажите номер или имя ВМ для просмотра деталей\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n    }\n  };\n}\n\nreturn {\n  json: {\n    vm_id: vmId,\n    vm_name: vmName,\n    user_id: $input.first().json.user_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        -1376
      ],
      "id": "63979e02-ffed-41ff-8456-b5271ed0e00e",
      "name": "Parse VM ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27b80a8a-d4ba-4e6c-9234-6e555df1374f",
              "leftValue": "={{ $json.error === undefined || $json.error === false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4608,
        -1376
      ],
      "id": "b782ebaa-b0ad-477a-a7b3-717bbf4e2d46",
      "name": "Valid VM ID?"
    },
    {
      "parameters": {
        "jsCode": "// 1. ПОЛУЧАЕМ ДАННЫХ ВМ (из узла Get VM by NameID)\n// Мы не можем брать $input.first(), потому что $input - это каталог ПО!\n// Берем строго из узла с ВМ.\nconst vmNode = $('Get VM by NameID').first(); \n\nif (!vmNode || !vmNode.json || !vmNode.json.vm_id) {\n  return {\n    json: {\n      error: true,\n      message: \"❌ Ошибка: Данные ВМ потеряны. Проверьте связи узлов.\",\n      chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n    }\n  };\n}\n\nconst vm = vmNode.json;\n\n// 2. ПОЛУЧАЕМ КАТАЛОГ ПО (из входящих данных этого узла)\n// Так как Load Software Catalog3 стоит прямо перед нами, $input.all() - это и есть каталог.\nconst softwareCatalog = $input.all().map(item => item.json);\n\n// 3. СОПОСТАВЛЕНИЕ (Самая важная часть)\nlet softwareListText = \"Не установлено\";\n\nif (vm.software_installed) {\n  let ids = [];\n  \n  // Парсим входные ID (они могут быть строкой \"[1,2]\", строкой \"1,2\", числом или массивом)\n  if (Array.isArray(vm.software_installed)) {\n    ids = vm.software_installed;\n  } else if (typeof vm.software_installed === 'number') {\n    ids = [vm.software_installed];\n  } else if (typeof vm.software_installed === 'string') {\n    // Пробуем JSON\n    try {\n        const parsed = JSON.parse(vm.software_installed);\n        if (Array.isArray(parsed)) ids = parsed;\n        else ids = vm.software_installed.split(',').map(Number);\n    } catch (e) {\n        // Если не JSON, то CSV\n        ids = vm.software_installed.split(',').map(s => parseInt(s.trim()));\n    }\n  }\n\n  // Фильтруем NaN\n  ids = ids.filter(id => !isNaN(id));\n\n  if (ids.length > 0) {\n    const names = ids.map(id => {\n      // ПРИВЕДЕНИЕ ТИПОВ! Сравниваем ID как числа.\n      // В каталоге software_id может быть строкой \"1\", а у нас число 1.\n      const sw = softwareCatalog.find(s => parseInt(s.software_id) === parseInt(id));\n      \n      if (sw) {\n          return `• ${sw.name}`;\n      } else {\n          // Отладочная инфа, если не найдено (потом можно убрать ID)\n          return `• Unknown (ID: ${id})`; \n      }\n    });\n    softwareListText = names.join('\\n   ');\n  }\n}\n\n// 4. ФОРМИРОВАНИЕ СООБЩЕНИЯ\nconst drawBar = (val, max = 100) => {\n  const filled = Math.round((val / max) * 10); \n  return '▓'.repeat(filled) + '░'.repeat(10 - filled);\n};\n\nlet statusIcon = '✅';\nif (vm.status === 'stopped') statusIcon = '🔴';\nif (vm.status === 'idle') statusIcon = '⚠️';\n\nconst createdDate = vm.created_at ? new Date(vm.created_at).toISOString().split('T')[0] : 'N/A';\nconst lastActive = vm.last_active ? new Date(vm.last_active).toISOString().split('T')[0] : 'N/A';\nconst cost = vm.monthly_cost ? parseFloat(vm.monthly_cost).toLocaleString() : 0;\n\nconst message = `🖥️ **Детали ВМ: ${vm.vm_name}**\n━━━━━━━━━━━━━━━\n\n📅 Создана: ${createdDate}\n🕐 Активность: ${lastActive}\n⏱️ Простой: ${vm.inactivity_days || 0} дней\n${statusIcon} Статус: **${vm.status}**\n\n📊 **Использование:**\nCPU: ${drawBar(vm.cpu_usage_avg || 0)} ${vm.cpu_usage_avg}%\nRAM: ${drawBar(vm.ram_usage_avg || 0)} ${vm.ram_usage_avg}%\nЧасов в неделю: ${vm.usage_hours_week || 0}\n\n💻 **Установленное ПО:**\n   ${softwareListText}\n\n💰 Затраты: **${cost}₽/мес**\n━━━━━━━━━━━━━━━\n${vm.status === 'idle' ? '💡 Рекомендуется проверить простой (/checkidle)' : '✅ ВМ используется эффективно'}`;\n\nreturn {\n  json: {\n    message: message,\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id,\n    error: false\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5376,
        -1472
      ],
      "id": "d9894173-1507-4f9d-bc70-f69a4f777799",
      "name": "Format VM Details Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5600,
        -1472
      ],
      "id": "069aafbb-5bed-49a9-90c6-2e6a12d0347c",
      "name": "Send: VM Details",
      "webhookId": "0360f2c3-23a0-4270-b12a-7eb1354128f3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4944,
        -1248
      ],
      "id": "8418d063-4247-4841-a9ac-d6c35452cf37",
      "name": "Send: VM Error",
      "webhookId": "65f931dc-c175-47df-a0e9-92b25afd9f8c",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        -2544
      ],
      "id": "5acfb95b-455d-43ec-ba07-1e1a3d11973d",
      "name": "Send: Not Registered",
      "webhookId": "eec625cb-b3b2-4cd4-b8bc-f75db2cd9cae",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').first().json.telegram_id }}",
        "text": "=❌ Превышен лимит лицензии\n\nТекущих ВМ: {{ $json.currentCount }}\nЛимит: {{ $json.limit }}\n\nИспользуйте /optimize для рекомендаций по освобождению ресурсов",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        -2752
      ],
      "id": "37684bcc-ef48-4976-8ef2-6653208409e4",
      "name": "Send: Limit Exceeded",
      "webhookId": "49cfb367-0ba0-4470-b5c0-bcfb39858fde",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd1ba37-d64d-4440-8cb5-bfd33cd669c6",
              "name": "telegram_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "3b496a6c-af44-4080-9a0c-44309da9d6a5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "efb3c752-6dbc-4fac-9e69-cf0f380b0364",
              "name": "username",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        -2032
      ],
      "id": "52091f17-1fc7-4067-8e7c-7ee923b05102",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ac2e5db-7a62-46a6-8387-5388260370e8",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -1008
      ],
      "id": "044e43af-0259-41eb-9894-0a35bdc751ee",
      "name": "User Found for Resources?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        -880
      ],
      "id": "f0a69a15-53bf-4a0f-bb51-df3bfe33c294",
      "name": "Send: Not Registered for Resources",
      "webhookId": "6e6f072e-a190-4952-b3da-37cd6a534dc1",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54a39efc-c498-47a6-ad04-980a28c47ec9",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4192,
        -512
      ],
      "id": "e03afe6d-5c8a-4fb5-88d4-fcccde57439e",
      "name": "User Found for Optimize?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4432,
        -336
      ],
      "id": "eb22042c-661e-4e48-b8bc-c2d0c635d445",
      "name": "Send: Not Registered for Optimize",
      "webhookId": "babea0b8-b362-401b-9358-19162498f7d3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26e58526-1e6d-4d1b-8efc-8b69b40186ab",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2112,
        -16
      ],
      "id": "fb9c8dfe-d815-43a4-ae28-97caefc2baf6",
      "name": "User Found for Idle Check?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        112
      ],
      "id": "da1c44c8-5088-4cb6-83a9-8968dd28746a",
      "name": "Send: Not Registered for Idle Check",
      "webhookId": "483b1df8-f3bb-4572-a0f9-e3f84c4cb358",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').item.json.telegram_id }}",
        "text": "=✅ Email сохранён!\n\nТеперь укажите название вашей организации:\n\nПример: ООО \"Рога и Копыта\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -2976
      ],
      "id": "33e2a4bc-ec4c-4de2-aa24-3d16653f32a5",
      "name": "Send Request Organization",
      "webhookId": "2120c152-e1ed-4e98-b3c1-8ce182720521",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda7c66e-1239-4d73-b40a-a1c9a3a214b1",
              "name": "telegram_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "f9beed1e-e2a2-4060-b8a6-043885068a21",
              "name": "menu_text",
              "value": "=💿 Выберите ПО для установки:\n\n1. AutoCAD (CAD) - 3000₽/мес\n2. SolidWorks (CAD) - 3500₽/мес\n3. ANSYS (CAE) - 5000₽/мес\n4. CATIA (CAD/PLM) - 4000₽/мес\n5. MatLab (Programming) - 2500₽/мес\n6. Inventor (CAD) - 3200₽/мес\n7. Компас-3D (CAD) - 2000₽/мес\n\nОтправьте номера ПО через запятую\nНапример: 1,3,5\n\nИли /cancel для отмены",
              "type": "string"
            },
            {
              "id": "badfcae4-7e1b-4814-87ec-98cf6c5d478b",
              "name": "user_id",
              "value": "={{ $('Can Create VM?').item.json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        -3056
      ],
      "id": "979d66ef-d4d4-4a17-8504-77a21ad463b6",
      "name": "Prepare Software Menu",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=👋 Добро пожаловать, {{ $('Add New User').item.json.username }}!\n\n✅ Теперь укажите Ваш Email, с которым будете работать с инженерным ПО:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -3280
      ],
      "id": "f6c215de-f75b-4526-8fcd-12a23bff3065",
      "name": "Send Request Email",
      "webhookId": "fb079755-3fd3-4652-aa24-0c9929364d68",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Регистрация пользователя",
        "height": 1440,
        "width": 2272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -3664
      ],
      "typeVersion": 1,
      "id": "26a95861-777c-4451-a1a3-7d00fc1d570a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Telegram\nconst telegramData = $('Webhook - Telegram Bot').item.json.message.from;\nconst chatId = $('Edit Fields').item.json.chatid;\n\n// Генерируем уникальный ID на основе timestamp + random\nconst newUserId = Math.floor(Math.random() * 1000);\n\n// Формируем имя пользователя\nconst firstName = telegramData.first_name || '';\nconst lastName = telegramData.last_name || '';\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\nconst telegramUsername = telegramData.username || `user${telegramData.id}`;\n\n// Создаём нового пользователя\nconst newUser = {\n  user_id: newUserId,\n  username: fullName,\n  email: `${telegramUsername}@telegram.user`,\n  organization: firstName,\n  license_type: 'basic',\n  license_limit: 3,\n  created_at: new Date().toISOString().split('T')[0],\n  telegram_id: telegramData.id.toString()\n};\n\nreturn {\n  json: newUser\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -3280
      ],
      "id": "bbdeea5b-27fb-46f9-bcfb-84118dcc15d7",
      "name": "Generate Registration Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "524efa48-0de3-431c-95e7-c3fd7454961f",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Edit Fields').item.json.telegram_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -3376
      ],
      "id": "d90202c0-a2d3-49a9-b2d9-380c16f6fc5e",
      "name": "Already Registered?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17d5a8b1-6e75-4bce-af33-8a6b5968a94e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2912,
        -2032
      ],
      "id": "26d593c5-c4ac-406d-b6c5-de6e0c455f29",
      "name": "Has Message",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e535af2d-aef2-4ca3-a78a-875f1390765f",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Каталог ПО"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d41b2f57-2360-451b-9581-734edde4171a",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/vmdetails",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Подробности ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/myresources",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56cbe9ef-c4cf-46ea-925d-a95795418f6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Мои ресурсы"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        336,
        -1520
      ],
      "id": "8945baf7-d9c1-4a6a-8028-e2d1eada9390",
      "name": "Switch View"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/optimize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6b91e10-d533-4c50-aaad-21bb698807af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Оптимизация"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5e034e5-121d-484b-8ebd-33064b2b6f1c",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/checkidle",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Проверка простоя"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        432,
        -640
      ],
      "id": "73dd1f05-9f1e-4072-a765-148eb033db47",
      "name": "Switch Analyze"
    },
    {
      "parameters": {
        "content": "# Проверка регистрации\n\n",
        "height": 1200,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        -2544
      ],
      "typeVersion": 1,
      "id": "7ca0318b-e3e6-42f1-a2d4-956b49b6496f",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "427550c6-9bd1-4e19-a1ba-abe2238f9c65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8267457-1161-4f4c-87f8-81ec580cabc5",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_organization",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание организации"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30d0684-230d-45ee-9fb2-d94da9e6d15b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_license_count",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание количества лицензий"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bbc97e3a-2ff5-4538-9922-bf008749dc0a",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_software_selection",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание выбора ПО из каталога"
            }
          ]
        },
        "options": {
          "fallbackOutput": "=Новый пользователь, предложить /register"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        336,
        -2608
      ],
      "id": "db7d9fb6-4307-44fe-be6f-dcf590fb3b0d",
      "name": "State Router"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "={{ $json.menu_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3648,
        -2912
      ],
      "id": "967cbaec-7583-4173-af3e-9e9c597275ef",
      "name": "Send Software Menu",
      "webhookId": "732b2add-2846-47f1-bbd6-3212047174ee",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5d9fcc8-e32a-4006-8d3d-8d61ff60b4fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /createvm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ee8e8ab-ac43-463e-a24c-4b8d17cc889a",
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /softwarecatalog"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1680,
        -1760
      ],
      "id": "bc790321-4683-49b7-b270-744418149a7b",
      "name": "Route Catalog Output"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные каталога\nconst catalogData = $input.all();\n\n// Проверяем, откуда пришли\nlet source = 'unknown';\nlet stateInfo = null;\n\n// Проверяем State Router\ntry {\n  const stateRouter = $('State Router');\n  if (stateRouter && stateRouter.isExecuted) {\n    const stateData = stateRouter.first().json;\n    source = 'createvm';\n    stateInfo = {\n      state: stateData.state,\n      telegram_id: stateData.telegramid,\n      username: stateData.username\n    };\n  }\n} catch (e) {\n  // State Router не выполнялся\n}\n\n// Проверяем Edit Fields для /softwarecatalog\ntry {\n  const editFields = $('Edit Fields');\n  if (editFields && editFields.item.json.text.includes('softwarecatalog')) {\n    source = 'softwarecatalog';\n  }\n} catch (e) {\n  // Ошибка\n}\n\n// Возвращаем данные с контекстом\nreturn catalogData.map(item => ({\n  json: {\n    ...item.json,\n    _source: source,\n    _stateInfo: stateInfo\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -1760
      ],
      "id": "12dfb281-5c26-40bd-97ae-cd0b206ffafc",
      "name": "Add Context Info"
    },
    {
      "parameters": {
        "jsCode": "// Получаем ответ от AI\nconst aiResponse = $json.output || $json.text || $json.response || '';\n\n// Если ответа нет\nif (!aiResponse) {\n  return {\n    json: {\n      message: '❌ Не удалось получить рекомендации от AI',\n      chat_id: $('Build Optimization Prompt').first().json.chat_id\n    }\n  };\n}\n\n// Добавляем футер\nlet message = `🤖 Рекомендации по оптимизации\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += aiResponse;\nmessage += `\\n\\n━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/myresources - Посмотреть ресурсы\\n`;\nmessage += `/checkidle - Проверить простой`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Build Optimization Prompt').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5312,
        -528
      ],
      "id": "07ad8e24-1823-430a-8bdc-f9e2e9d03145",
      "name": "Add Footer to Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').item.json.telegram_id }}",
        "text": "=✅ Организация сохранена!\n\nТеперь укажите количество виртуальных машин, которое вам необходимо:\n\n💼 Тарифы:\n• 3-9 ВМ → Basic (5000₽/мес)\n• 10-49 ВМ → Standard (15000₽/мес)\n• 50+ ВМ → Premium (40000₽/мес)\n\nВведите число от 3 до 999:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -2768
      ],
      "id": "4d761128-c825-456b-9ce2-8a5e1b061fe8",
      "name": "Send Request License Count",
      "webhookId": "d9fe8dce-bd8e-4073-b0e4-5fb52d739d71",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=🎉 Регистрация ранее выполнена!\n\n👤 Пользователь: {{ $json.username }}\n💼 Лицензия: {{ $json.license_type }} на {{ $json.license_limit }} ВМ\n\nДоступные команды:\n/myresources - Посмотреть свои ресурсы\n/createvm - Создать виртуальную машину\n/softwarecatalog - Каталог доступного ПО",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -3488
      ],
      "id": "ee1df14f-b92f-42f5-8f34-5c9f6b5a376d",
      "name": "Send: Already Registered",
      "webhookId": "71e0f814-f2f7-4dc2-a7b1-6cf4c971c294",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').first().json.telegram_id }}",
        "text": "=✅ Регистрация организации завершена!\n\n👤 Email: {{ $('Check UserId').item.json.email }}\n🏢 Организация: {{ $('Check UserId').item.json.organization }}\n💼 Лицензия: {{ $json.license_type }} на {{ $json.license_limit }} ВМ\n\n📋 Доступные команды:\n/createvm - Создать виртуальную машину\n/myresources - Мои ресурсы\n/help - Справка\n\nИспользуйте /createvm для создания вашей первой ВМ!\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -2560
      ],
      "id": "26db6b7b-4791-4c79-9c25-f754c130b742",
      "name": "Send: Registration Finish",
      "webhookId": "6a6cf2d9-65af-4d5a-bbb8-ed0a737a7ade",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_id, username, email, organization, \n       license_type, license_limit, registered_at\nFROM users \nWHERE user_id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4128,
        -1376
      ],
      "id": "59e949c7-6339-4a58-bb01-b0ec11ee752d",
      "name": "Get User for VM Details",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        -2560
      ],
      "id": "61b98a87-f107-4a35-9de3-682d8c131614",
      "name": "Get User for VM Creation",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "vm_id",
              "value": "={{ $json.vm_id }}"
            },
            {
              "column": "vm_name",
              "value": "={{ $json.vm_name }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4960,
        -1472
      ],
      "id": "688c9daa-e2f3-46a7-a392-f794d85ecfd7",
      "name": "Get VM by NameID",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -1104
      ],
      "id": "fcd657f6-fdc4-4f2d-b608-b8f98ad6b2ae",
      "name": "Get VMs for Resources",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3920,
        -448
      ],
      "id": "ede47811-9012-48fa-8e1f-1c917f62d145",
      "name": "Get User for Optimize",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  vm.*,\n  COALESCE((\n    SELECT jsonb_agg(to_jsonb(sc) ORDER BY sc.software_id)\n    FROM unnest(vm.software_installed) AS sid(software_id)\n    JOIN software_catalog sc\n      ON sc.software_id = sid.software_id\n  ), '[]'::jsonb) AS software_installed_details,\n  COALESCE((\n    SELECT array_agg(sc.name ORDER BY sc.name)\n    FROM unnest(vm.software_installed) AS sid(software_id)\n    JOIN software_catalog sc\n      ON sc.software_id = sid.software_id\n  ), ARRAY[]::text[]) AS software_installed_names\nFROM virtual_machines vm\nWHERE vm.user_id = {{ $json.user_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4432,
        -528
      ],
      "id": "0e6aea3c-3f78-4c63-889b-7489122963f0",
      "name": "Get VMs for Optimize",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE user_id = {{ $('Switch Analyze').item.json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -16
      ],
      "id": "d23dcf84-5baa-45fb-9348-3178cd4ae382",
      "name": "Get User for Idle Check",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM virtual_machines WHERE user_id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        -112
      ],
      "id": "bcda25c0-10dd-48a9-b395-35375fe6cee6",
      "name": "Get VMs for Idle Check",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "software_catalog",
          "mode": "list",
          "cachedResultName": "software_catalog"
        },
        "sort": {
          "values": [
            {
              "column": "software_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        -1760
      ],
      "id": "6e820cb0-27e9-41aa-ab1d-cce583663b18",
      "name": "Load Software Catalog",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "license_limit": "={{ $json.license_limit }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "username": "={{ $json.username }}",
            "license_type": "={{ $json.license_type }}",
            "registered_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "registered_at",
              "displayName": "registered_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -3280
      ],
      "id": "96f03720-d6b1-4408-b746-ee79367e454a",
      "name": "Add New User",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  license_limit = {{ parseInt($('Edit Fields').item.json.text, 10) }},\n  license_type = CASE\n    WHEN {{ parseInt($('Edit Fields').item.json.text, 10) }} >= 50 THEN 'premium'\n    WHEN {{ parseInt($('Edit Fields').item.json.text, 10) }} >= 10 THEN 'standard'\n    WHEN {{ parseInt($('Edit Fields').item.json.text, 10) }} >= 3  THEN 'basic'\n    ELSE 'basic'\n  END\nWHERE user_id = {{ $json.user_id }}\nRETURNING user_id, license_limit, license_type;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        -2560
      ],
      "id": "2eb1fbf7-1f70-4080-8fa6-7fc4c2e915fe",
      "name": "Update User with Limit",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alert_sent": true,
            "vm_id": "={{ $json.vm_id }}",
            "user_id": "={{ $json.user_id }}",
            "cpu_usage_avg": "={{ $json.cpu_usage_avg }}",
            "usage_hours_week": "={{ $json.usage_hours_week }}",
            "inactivity_days": "={{ $json.inactivity_days }}",
            "monthly_cost": "={{ $json.monthly_cost }}",
            "vm_name": "={{ $json.vm_name }}",
            "created_at": "={{ $json.created_at }}",
            "status": "={{ $json.status }}",
            "last_active": "={{ $json.last_active }}",
            "ram_usage_avg": "={{ $json.ram_usage_avg }}",
            "software_installed": "=[{{ $json.software_installed }}]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vm_id",
              "displayName": "vm_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vm_name",
              "displayName": "vm_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "software_installed",
              "displayName": "software_installed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_active",
              "displayName": "last_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpu_usage_avg",
              "displayName": "cpu_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ram_usage_avg",
              "displayName": "ram_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "usage_hours_week",
              "displayName": "usage_hours_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "inactivity_days",
              "displayName": "inactivity_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_cost",
              "displayName": "monthly_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3200,
        -2576
      ],
      "id": "b639fa0a-ddab-47fc-a557-557ff88ed76f",
      "name": "Add VM to DB",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        -1024
      ],
      "id": "863c103b-1f9e-42d8-9b92-b5b04803df07",
      "name": "Get User",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.telegram_id }}",
        "value": "={{\n  JSON.stringify({ \n    state: \"awaiting_email\", \n    user_id: null, \n    username: null, \n    timestamp: new Date().toISOString() \n    }) \n}}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        864,
        -3280
      ],
      "id": "b9c7a2b3-3c2a-412d-a102-98e0ded5158b",
      "name": "Set User State register",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users \nSET email = '{{ $('Edit Fields').item.json.text }}'\nWHERE telegram_id = {{ $('Command Router').item.json.telegram_id }}\nRETURNING user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        -2976
      ],
      "id": "b8a13d8b-70b1-4349-b60d-d2228a25f857",
      "name": "Update User with Email",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "state",
        "key": "=redis-state:{{ $json.telegram_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        -2576
      ],
      "id": "9a082a1c-45e8-4e1c-a431-ef00f36e438a",
      "name": "Get Current State",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users \nSET organization = '{{ $('Webhook - Telegram Bot').first().json.message.text }}'\nWHERE user_id = {{ $json.user_id }}\nRETURNING user_id, organization;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        -2768
      ],
      "id": "1df04e0d-ecf1-4928-8110-2b29253514cb",
      "name": "Update Users with Org",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $('Command Router').item.json.telegram_id }}",
        "value": "={{ \n  JSON.stringify({ \n  state: \"awaiting_organization\", \n  user_id: $('Update User with Email').first().json.user_id, \n  username: $('Update User with Email').first().json.username, \n  email: $json.text, \n  timestamp: new Date().toISOString() \n  }) \n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        864,
        -2976
      ],
      "id": "0e7e6b93-08fd-4f9a-b4a2-7239f5121733",
      "name": "Update State Email",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $('Command Router').item.json.telegram_id }}",
        "value": "={{\n  JSON.stringify({\n    state: \"awaiting_license_count\",\n    user_id: $('Update Users with Org').first().json.user_id,\n    organization: $('Update Users with Org').first().json.organization,\n    timestamp: new Date().toISOString()\n  })\n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        864,
        -2768
      ],
      "id": "0fce0751-2372-4f40-b2ef-f28da8d39c69",
      "name": "Update State Organization",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $('Command Router').item.json.telegram_id }}",
        "value": "={{\n  JSON.stringify({\n    state: \"awaiting_software\",\n    user_id: $json.user_id,\n    timestamp: new Date().toISOString()\n  })\n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        864,
        -2560
      ],
      "id": "a42d579f-78c3-47fc-826e-5bc198f962ff",
      "name": "Update State License",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=redis-state:{{ $('Command Router').item.json.telegram_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1520,
        -2560
      ],
      "id": "fe2ddb12-0669-40da-9c48-c83a74f6a57c",
      "name": "Clear User State",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем элемент из предыдущего узла (Redis)\nconst item = $input.first();\n\n// Если данных нет, возвращаем дефолтное состояние (например, null или 'start')\nif (!item || !item.json || !item.json.state) {\n  return {\n    json: {\n      state: null,      // Состояния нет\n      user_id: null,\n      full_data: {}     // Пустой объект данных\n    }\n  };\n}\n\nlet parsedData = {};\nlet currentState = null;\n\ntry {\n  // Пытаемся распарсить строку, пришедшую из Redis\n  // item.json.state - это строка \"{\\\"state\\\":\\\"awaiting_email\\\",...}\"\n  const rawState = item.json.state;\n  \n  if (typeof rawState === 'string') {\n    parsedData = JSON.parse(rawState);\n  } else if (typeof rawState === 'object') {\n    parsedData = rawState;\n  }\n  \n  // Извлекаем само название состояния\n  currentState = parsedData.state || null;\n  \n} catch (error) {\n  console.log('Ошибка парсинга JSON из Redis:', error);\n  currentState = null;\n}\n\n// Возвращаем чистую структуру для State Router\nreturn {\n  json: {\n    state: currentState,           // Строка для Switch (например: \"awaiting_email\")\n    user_id: parsedData.user_id,   // ID юзера (если есть)\n    username: parsedData.username, // Имя (если есть)\n    full_data: parsedData          // Весь объект на случай, если понадобится позже\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -2576
      ],
      "id": "a443c44d-04b3-4b1d-806b-51fb29d378b5",
      "name": "Parse State"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.telegram_id }}",
        "value": "={{ JSON.stringify({\n  state: \"awaiting_software_selection\",\n  user_id: $('Get User for VM Creation').first().json.user_id,\n  timestamp: new Date().toISOString()\n}) }}\n",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3440,
        -3056
      ],
      "id": "ef81ee38-8ad0-4f79-a89d-0c8c1fa2a08a",
      "name": "Set State: Awaiting Software",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "software_catalog",
          "mode": "list",
          "cachedResultName": "software_catalog"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5168,
        -1472
      ],
      "id": "49ec2bcd-1198-468f-9f96-702f3c899822",
      "name": "Load Software Catalog3",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').first().json.telegram_id }}",
        "text": "=Введённые значения не относятся к какой-либо команде и не могут быть адекватно распознаны. Для уточнения имеющихся команд используйте /help",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        -2400
      ],
      "id": "92d67b7f-c760-4a09-81a0-8a9f3c488bf6",
      "name": "Error ID Software",
      "webhookId": "2b96b496-4395-4118-b607-10c91554eca3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем команду из вебхука\nconst text = $('Webhook - Telegram Bot').first().json.message.text;\n\n// Парсим параметр после /delete\n// Регулярка ищет пробелы и захватывает всё остальное в группу 1\nconst match = text.match(/^\\/delete\\s+(.+)$/i);\n\n// Проверяем, есть ли совпадение И есть ли захваченная группа\nif (!match || !match[1]) {\n  return {\n    json: {\n      error: true,\n      message: \"❌ Ошибка синтаксиса.\\n\\nИспользуйте:\\n/delete <id_или_имя>\\n\\nПримеры:\\n/delete 1767378761\\n/delete Analysis-Server\",\n      chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n    }\n  };\n}\n\n// БЕРЕМ ПЕРВУЮ ГРУППУ (match[1]), а не весь массив\nconst searchParam = match[1].trim();\n\n// Проверяем, это число или строка\nconst vmId = parseInt(searchParam);\n// Проверка: это число И это не NaN\nconst isNumericId = !isNaN(vmId) && String(vmId) === searchParam;\n\nreturn {\n  json: {\n    search_param: searchParam,\n    is_numeric: isNumericId,\n    // Если число — отдаем как ID, иначе как имя\n    vm_id: isNumericId ? vmId : null,\n    vm_name: !isNumericId ? searchParam : null,\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id,\n    telegram_id: $('Webhook - Telegram Bot').first().json.message.from.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        880
      ],
      "id": "d15c6c3f-de8c-45ea-a95d-a1a783ad2500",
      "name": "Parse Delete Command"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $('Command Router').item.json.telegram_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        880
      ],
      "id": "1b9f38f0-2985-410c-b031-9e8d739559fb",
      "name": "Get User for VM Deletion",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "vm_name",
              "value": "={{ $('Parse Delete Command').item.json.vm_name }}"
            },
            {
              "column": "vm_id",
              "value": "={{ $('Parse Delete Command').item.json.vm_id }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        880
      ],
      "id": "dd262eff-a698-476f-9c04-3b6afbfa2723",
      "name": "Get VM by NameID_",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8795146c-9d1b-4e84-acc9-030538d55e54",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        880
      ],
      "id": "08612b22-b5dc-4b58-a946-317f2bdbec60",
      "name": "VM Found?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM virtual_machines \nWHERE vm_id = {{ $input.first().json.vm_id }} AND user_id = {{ $input.first().json.user_id }}\nRETURNING vm_id, vm_name, monthly_cost",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2032,
        768
      ],
      "id": "f9e7ce62-02c3-4dfa-9772-cd220f46a8eb",
      "name": "Delete VM from DB",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем результат удаления\nconst deleteResult = $input.first().json;\n\n// Если удаление не прошло (success = false)\nif (deleteResult.success === false) {\n  return {\n    json: {\n      error: true,\n      message: `❌ ${deleteResult.message}`,\n      chat_id: $('Parse Delete Command').item.json.chat_id\n    }\n  };\n}\n\n// Успешное удаление\nconst vmName = deleteResult.vm_name;\nconst monthlyCost = parseFloat(deleteResult.monthly_cost) || 0;\n\n// Получаем обновленную статистику пользователя\nconst userId = $input.first().json.user_id;\n\nconst message = `✅ ВМ удалена успешно!\n\n🖥️ **Название:** ${vmName}\n💰 **Экономия:** ${monthlyCost.toLocaleString()}₽/мес\n\n📊 **Следующие шаги:**\n• Используйте /myresources чтобы увидеть оставшиеся ВМ\n• Создайте новую ВМ: /createvm [id_по]\n• Получите помощь: /help`;\n\nreturn {\n  json: {\n    success: true,\n    message: message,\n    chat_id: $('Parse Delete Command').item.json.chat_id,\n    vm_name: vmName,\n    saved_cost: monthlyCost\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        768
      ],
      "id": "5bbcb99d-87d6-4fdf-b5e8-0e09c337eee9",
      "name": "Format Delete Response"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        768
      ],
      "id": "6e51a11a-6c65-4ebb-a3f9-0265129c8b72",
      "name": "Send Delete Confirmation",
      "webhookId": "bd795967-e9f5-43b8-8fc4-c4447c9d8c29",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Delete Command').item.json.telegram_id }}",
        "text": "=❌ ВМ не найдена\n\nПроверьте ID или имя ВМ и попробуйте снова:\n/delete [vm_id_или_имя]\n\nВаши ВМ: /myresources",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        1024
      ],
      "id": "2200936f-4d6d-41a9-8878-7ef22f96eda0",
      "name": "Send VM Not Found",
      "webhookId": "8eee79df-63c9-4821-b741-ac1101f76c79",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "86407230-ea07-4bcb-a19e-39d005070be6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b4f1c635-9767-4285-a2da-da2754394997",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/register",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Register"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cdb93996-3b1c-42ac-98ea-cff1d2dd7163",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Другие команды"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2080,
        -2048
      ],
      "id": "78fdb8a1-1906-4712-ba25-4b4efac5dc18",
      "name": "System Commands Router"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $('Edit Fields').item.json.telegram_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        -2016
      ],
      "id": "31633bdd-28aa-4663-a0ee-78dd68abd413",
      "name": "Check User Exists (Register)",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $json.telegram_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        -2336
      ],
      "id": "7c771db3-dfd7-4f8a-9130-9de70b78dcd7",
      "name": "Get User for Start",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfe30c26-de7a-4eff-becd-ebba5508a32f",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        -2336
      ],
      "id": "2ffc2ed0-e19f-4f13-b91c-c14945a796e9",
      "name": "If User Exists?"
    },
    {
      "parameters": {
        "chatId": "={{ $('System Commands Router').item.json.telegram_id }}",
        "text": "=👋 Привет, {{ $('System Commands Router').item.json.username }}, и добро пожаловать в License Manager!\n\nЯ помогу вам управлять виртуальными машинами и лицензиями.\n\n🚀 **Возможности:**\n• Создание и удаление ВМ\n• Контроль расходов\n• Мониторинг ресурсов\n\nДля начала работы необходимо зарегистрироваться:\n👉 Нажмите /register",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -2256
      ],
      "id": "115a6a5e-e0e1-4536-98c4-9bddc44c481c",
      "name": "Send Welcome (New User)",
      "webhookId": "a604fe08-e22e-43d4-bafa-9533058eeb00",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('System Commands Router').item.json.telegram_id }}",
        "text": "=С возвращением, {{ $('System Commands Router').item.json.username }}! \nВы уже зарегистрированы. \n\nВаши ресурсы: /myresources",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -2432
      ],
      "id": "72a0a0ec-656e-4722-8f4d-a05b6e058e80",
      "name": "Send noRetry Reg",
      "webhookId": "a604fe08-e22e-43d4-bafa-9533058eeb00",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $json.telegram_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        -1712
      ],
      "id": "8274653e-e69b-404a-8cc8-b4bda7f1692a",
      "name": "Check UserId",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "content": "# Удаление ВМ\n",
        "height": 544,
        "width": 1968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        672
      ],
      "typeVersion": 1,
      "id": "79ed248e-0add-48cc-9aa4-6685427c5996",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        -2560
      ],
      "id": "7b7c8c4b-2979-4f87-b5f0-441c3bdc39b2",
      "name": "Select rows from a table",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Это вам не это!"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2640,
        -1856
      ],
      "id": "2767c42e-0a4a-414f-88f3-14f1edfcceeb",
      "name": "Stop and Error",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=redis-state:{{ $('Command Router').first().json.telegram_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3664,
        -2576
      ],
      "id": "5ad979fd-b5e5-4e18-a204-60da9822cc8f",
      "name": "Clear User State2",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Telegram Bot": {
      "main": [
        [
          {
            "node": "Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Get Current State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Delete Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered?": {
      "main": [
        [
          {
            "node": "Check License Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License Limit": {
      "main": [
        [
          {
            "node": "Can Create VM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Create VM?": {
      "main": [
        [
          {
            "node": "Prepare Software Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VM with Software": {
      "main": [
        [
          {
            "node": "Add VM to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error ID Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          {
            "node": "Send: Resources Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Optimization Prompt": {
      "main": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Idle VMs": {
      "main": [
        [
          {
            "node": "Send: Idle Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Catalog Message": {
      "main": [
        [
          {
            "node": "Send: Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimization Analysis": {
      "main": [
        [
          {
            "node": "Add Footer to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VM ID": {
      "main": [
        [
          {
            "node": "Valid VM ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid VM ID?": {
      "main": [
        [
          {
            "node": "Get VM by NameID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: VM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format VM Details Message": {
      "main": [
        [
          {
            "node": "Send: VM Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Limit Exceeded": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "System Commands Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Resources?": {
      "main": [
        [
          {
            "node": "Get VMs for Resources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Optimize?": {
      "main": [
        [
          {
            "node": "Get VMs for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Optimize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Idle Check?": {
      "main": [
        [
          {
            "node": "Get VMs for Idle Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Software Menu": {
      "main": [
        [
          {
            "node": "Set State: Awaiting Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request Email": {
      "main": [
        []
      ]
    },
    "Generate Registration Data": {
      "main": [
        [
          {
            "node": "Add New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Registered?": {
      "main": [
        [
          {
            "node": "Send: Already Registered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Registration Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch View": {
      "main": [
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Analyze": {
      "main": [
        [
          {
            "node": "Get User for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Update User with Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Users with Org",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update User with Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Software Menu": {
      "main": [
        []
      ]
    },
    "Route Catalog Output": {
      "main": [
        [
          {
            "node": "Create VM with Software",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Catalog Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context Info": {
      "main": [
        [
          {
            "node": "Route Catalog Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Footer to Message": {
      "main": [
        [
          {
            "node": "Send: AI Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request License Count": {
      "main": [
        []
      ]
    },
    "Send Request Organization": {
      "main": [
        []
      ]
    },
    "Get User for VM Details": {
      "main": [
        [
          {
            "node": "Parse VM ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for VM Creation": {
      "main": [
        [
          {
            "node": "User Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VM by NameID": {
      "main": [
        [
          {
            "node": "Load Software Catalog3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Resources": {
      "main": [
        [
          {
            "node": "Calculate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Optimize": {
      "main": [
        [
          {
            "node": "User Found for Optimize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Optimize": {
      "main": [
        [
          {
            "node": "Build Optimization Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Idle Check": {
      "main": [
        [
          {
            "node": "User Found for Idle Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Idle Check": {
      "main": [
        [
          {
            "node": "Detect Idle VMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog": {
      "main": [
        [
          {
            "node": "Add Context Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New User": {
      "main": [
        [
          {
            "node": "Set User State register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Limit": {
      "main": [
        [
          {
            "node": "Update State License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add VM to DB": {
      "main": [
        [
          {
            "node": "Send: VM Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "User Found for Resources?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User State register": {
      "main": [
        [
          {
            "node": "Send Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Email": {
      "main": [
        [
          {
            "node": "Update State Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current State": {
      "main": [
        [
          {
            "node": "Parse State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Users with Org": {
      "main": [
        [
          {
            "node": "Update State Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State Email": {
      "main": [
        [
          {
            "node": "Send Request Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State Organization": {
      "main": [
        [
          {
            "node": "Send Request License Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State License": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Registration Finish": {
      "main": [
        [
          {
            "node": "Clear User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse State": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State: Awaiting Software": {
      "main": [
        [
          {
            "node": "Send Software Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog3": {
      "main": [
        [
          {
            "node": "Format VM Details Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Delete Command": {
      "main": [
        [
          {
            "node": "Get User for VM Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for VM Deletion": {
      "main": [
        [
          {
            "node": "Get VM by NameID_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VM by NameID_": {
      "main": [
        [
          {
            "node": "VM Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VM Found?": {
      "main": [
        [
          {
            "node": "Delete VM from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send VM Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete VM from DB": {
      "main": [
        [
          {
            "node": "Format Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response": {
      "main": [
        [
          {
            "node": "Send Delete Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Commands Router": {
      "main": [
        [
          {
            "node": "Get User for Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User Exists (Register)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check UserId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists (Register)": {
      "main": [
        [
          {
            "node": "Already Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Start": {
      "main": [
        [
          {
            "node": "If User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If User Exists?": {
      "main": [
        [
          {
            "node": "Send noRetry Reg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome (New User)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check UserId": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send: Registration Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: VM Created": {
      "main": [
        [
          {
            "node": "Clear User State2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VM Not Found": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "0cyaeiAogQ373wZ5"
  },
  "versionId": "7aee4f5e-c0e1-4dd3-b9c4-6c5340968e98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4300700b5a89163b88ad6a908ff9e3076c705e8b03a3f40f03ff2f29f7e4289"
  },
  "id": "8fMPbkdJOZiJulZD",
  "tags": [
    {
      "updatedAt": "2026-01-01T10:05:42.794Z",
      "createdAt": "2026-01-01T10:05:42.794Z",
      "id": "FnoHHZ9X50FaY3Y2",
      "name": "redis"
    },
    {
      "updatedAt": "2026-01-01T10:05:39.508Z",
      "createdAt": "2026-01-01T10:05:39.508Z",
      "id": "hLmpjl8xP4ZIbj8N",
      "name": "postgres"
    },
    {
      "updatedAt": "2025-12-12T17:26:52.994Z",
      "createdAt": "2025-12-12T17:26:52.994Z",
      "id": "J09NNQhWt9FvC7x9",
      "name": "Telegram"
    },
    {
      "updatedAt": "2025-11-08T19:43:00.150Z",
      "createdAt": "2025-11-08T19:43:00.150Z",
      "id": "Njsl4hZJ3E75k2I3",
      "name": "prod"
    }
  ]
}