07_Smart_License_Usage_Analyzer/Smart License Usage Analyzer.json
{
  "name": "Smart License Usage Analyzer 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3376,
        -1920
      ],
      "id": "c6251667-4918-4c51-b593-8256200970eb",
      "name": "Webhook - Telegram Bot",
      "webhookId": "555c8ccf-741d-46c2-9d44-c92899e63274",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0aebe7-3cc2-436b-9e72-97a6755e7829",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 - User Input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06f8b71a-a419-4fc2-8746-c0569ad7bfbd",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 - Создание ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8104b393-31e7-47be-b040-daa9528965e5",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(myresources|softwarecatalog|vmdetails)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 - Просмотр (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8342202e-e017-4985-b2dc-c193b6942c3b",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(optimize|checkidle)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 - Анализ (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c276292-995f-4620-8090-129e10a08a83",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5 - Помощь"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Обработчик Fallback: Неизвестная команда"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -896,
        -1792
      ],
      "id": "762e56ef-bccf-4d38-aaae-c636aa41e21c",
      "name": "Command Router",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "672b5415-5aae-4b51-a0d1-72f0785edaf7",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        -2880
      ],
      "id": "194596e1-c58d-4983-a075-33e815f34c67",
      "name": "User Registered?"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем наличие данных пользователя\nconst userNode = $('Get User for VM Creation');\nif (!userNode || userNode.all().length === 0) {\n  return [{\n    json: {\n      canCreate: false,\n      currentCount: 0,\n      limit: 0,\n      error: 'User not found',\n      chat_id: $('Edit Fields').item.json.chat_id\n    },\n    pairedItem: 0\n  }];\n}\n\nconst userData = userNode.first().json;\nconst allVMs = $input.all();\n\n// Считаем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => \n  parseInt(vm.json.user_id) === parseInt(userData.user_id)\n);\n\nconst currentCount = userVMs.length;\nconst limit = parseInt(userData.license_limit) || 0;\n\nreturn [{\n  json: {\n    canCreate: currentCount < limit,\n    currentCount,\n    limit,\n    user_id: userData.user_id,\n    telegram_id: userData.telegram_id,\n    username: userData.username,\n    chat_id: $('Edit Fields').item.json.chat_id\n  },\n  pairedItem: 0\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        -2880
      ],
      "id": "bc5dda3a-cf37-41f6-a1d1-d93088b27f42",
      "name": "Check License Limit",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "243b271c-bcaa-49e1-9711-4117e72a2b0d",
              "leftValue": "={{ $json.canCreate }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        -2880
      ],
      "id": "9a2d9155-9b3b-44da-a693-a51cb5f47bca",
      "name": "Can Create VM?"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. ПОЛУЧЕНИЕ ДАННЫХ ПОЛЬЗОВАТЕЛЯ ---\nlet userData = {\n  user_id: null,\n  telegram_id: $('Webhook - Telegram Bot').first().json.message.from.id,\n  username: $('Webhook - Telegram Bot').first().json.message.from.first_name\n};\n\n// Попытка 1: Данные пришли на вход (если проброшены через State Router)\n// State Router обычно передает item дальше. Проверим входные данные узла.\n// Но так как здесь на вход приходит Каталог ПО (массив из 8 элементов),\n// мы не можем искать user_id в $input.all().\n// НАМ НУЖНО НАЙТИ ДАННЫЕ В ПРЕДЫДУЩИХ УЗЛАХ.\n\ntry {\n  // Ищем в Parse State (самый надежный источник при работе через меню)\n  // Имя узла должно точно совпадать с вашим (проверьте в редакторе!)\n  const stateNode = $('Parse State').first(); \n  \n  if (stateNode && stateNode.json && stateNode.json.user_id) {\n     userData.user_id = stateNode.json.user_id;\n     console.log(\"User ID найден в Parse State: \" + userData.user_id);\n  } \n  \n  // Попытка 2: Если шли прямой дорогой (не через Router), а сразу после создания\n  if (!userData.user_id) {\n     const directUserNode = $('Get User for VM Creation').first();\n     if (directUserNode && directUserNode.json && directUserNode.json.user_id) {\n        userData.user_id = directUserNode.json.user_id;\n        console.log(\"User ID найден в Get User: \" + userData.user_id);\n     }\n  }\n\n} catch (e) {\n  console.log(\"Ошибка поиска ID: \" + e.message);\n}\n\n// КРИТИЧЕСКАЯ ПРОВЕРКА\n// Если user_id всё еще нет или он равен telegram_id (что подозрительно, но возможно)\n// Но для вашей системы user_id (serial) и telegram_id (bigint) обычно разные.\nif (!userData.user_id) {\n   throw new Error(\"CRITICAL: Не найден User ID из базы данных! Проверьте, что пользователь зарегистрирован и состояние Redis содержит user_id.\");\n}\n\n// ... далее остальной код (обработка ввода, каталог и т.д.)\n\n\n// --- 2. ОБРАБОТКА ВВОДА (ВЫБОР ПО) ---\nlet userInput = \"\";\ntry {\n  // Берем текст прямо из вебхука, чтобы не зависеть от Edit Fields\n  userInput = $('Webhook - Telegram Bot').first().json.message.text;\n} catch (e) {\n  userInput = \"\";\n}\n\n// Убираем команду, если есть\nconst cleanInput = userInput.replace(/^\\/createvm\\s*/i, '').trim();\nlet selectedSoftwareIds = [];\n\nif (cleanInput) {\n  selectedSoftwareIds = cleanInput.split(',')\n    .map(id => parseInt(id.trim()))\n    .filter(id => !isNaN(id));\n}\n\nif (selectedSoftwareIds.length === 0) {\n  throw new Error('Не указано ПО! Введите номера (например: 1, 2)');\n}\n\n// --- 3. РАБОТА С КАТАЛОГОМ ПО ---\n// Каталог пришел НА ВХОД этому узлу (см. ваш Input data)\n// Мы можем просто использовать $input.all()\nconst softwareCatalog = $input.all().map(item => item.json);\n\nlet monthlyCost = 0;\nconst installedSoftwareNames = [];\n\nselectedSoftwareIds.forEach(id => {\n  const sw = softwareCatalog.find(s => parseInt(s.software_id) === id);\n  if (sw) {\n    // Парсим цену, если она строка \"3000.00\"\n    const price = parseFloat(sw.cost_per_month) || 0;\n    monthlyCost += price;\n    installedSoftwareNames.push(sw.name);\n  }\n});\n\n// --- 4. ГЕНЕРАЦИЯ ДАННЫХ ВМ ---\nconst timestamp = Date.now();\nconst random = Math.floor(Math.random() * 1000);\n// Генерируем ID, который влезет в integer (если в базе int4)\nconst newVmId = Math.floor(timestamp / 1000) + random; \n\nconst shortTimestamp = timestamp.toString().slice(-6);\nconst softwareAbbr = installedSoftwareNames.length > 0 \n  ? installedSoftwareNames[0].substring(0, 3).toUpperCase() \n  : 'SYS';\n\nconst vmName = `VM-${userData.user_id}-${shortTimestamp}-${softwareAbbr}`;\n\n// Симуляция метрик\nconst usageHours = Math.floor(Math.random() * 36) + 5;\nconst cpuUsage = Math.floor(Math.random() * 70) + 15;\nconst ramUsage = Math.floor(Math.random() * 60) + 30;\n\nlet status = 'active';\nif (usageHours < 5) status = 'stopped';\nelse if (usageHours < 20) status = 'idle';\n\nconst now = new Date();\nconst createdAt = now.toISOString().split('T')[0];\n\n// Возвращаем результат\nreturn {\n  json: {\n    vm_id: newVmId,\n    user_id: userData.user_id,\n    vm_name: vmName,\n    software_installed: selectedSoftwareIds.join(','),\n    created_at: createdAt,\n    last_active: createdAt,\n    cpu_usage_avg: cpuUsage,\n    ram_usage_avg: ramUsage,\n    status: status,\n    monthly_cost: monthlyCost,\n    usage_hours_week: usageHours,\n    inactivity_days: 0,\n    alert_sent: false,\n    installed_software_names: installedSoftwareNames.join(', '),\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -2560
      ],
      "id": "d824493a-e444-4b75-98e6-df0a0cae263b",
      "name": "Create VM with Software"
    },
    {
      "parameters": {
        "chatId": "={{ $('Create VM with Software').item.json.chat_id }}",
        "text": "=✅ ВМ создана!\n\n📦 Название ВИ: {{ $json.vm_name }}\n💿 Установленное ПО: {{ $('Create VM with Software').item.json.installed_software_names }}\n📊 Статус: {{ $json.status }}\n💰 Стоимость: {{ $json.monthly_cost }} ₽/мес\n\n⚙️ Ресурсы:\n• CPU: ____ %\n• RAM: ____ %\n• Использование: ____ ч/неделю\n\nКоманды:\n📱 /myresources — все ресурсы\n🔍 /vmdetails {{ $json.vm_id }} — подробности",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3568,
        -2560
      ],
      "id": "71f24402-c0be-4470-b215-d70cafd1ef1a",
      "name": "Send: VM Created",
      "webhookId": "ee05d908-8316-461b-b370-6f150dbf510b",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Создание ВМ (/create_vm)\n\n1. Пользователь отправляет команду `/createvm`, сообщение попадает из `Webhook - Telegram Bot` в `Edit Fields`\n1. Затем через `Command Router` в ветку «**1 - Создание ВМ**».\n1. Узел `Get User for VM Creation` загружает данные пользователя из таблицы, а `User Registered?` проверяет, зарегистрирован ли он\n1. При отрицательном результате выполняется `Send: Not Registered`.\n1. Если пользователь зарегистрирован, `Get Existing VMs for User` подтягивает список его ВМ, затем `Check License Limit` считает количество ВМ и сравнивает с лимитом лицензии, результат уходит в `Can Create VM?`.\n1. В `Can Create VM?` при наличии свободного лимита формируется меню ПО через `Prepare Software Menu` (далее — узел отправки этого меню в Telegram), а при превышении лимита срабатывает `Send: Limit Exceeded`.\n1. После того как пользователь выбрал ПО, кодовый узел `Create VM with Software` рассчитывает параметры новой ВМ и формирует запись, `Save VM to Sheet` добавляет строку в таблицу **Virtual_Machines**\n1. `Send: VM Created` отправляет в Telegram итоговое сообщение о созданной ВМ и подсказки по дальнейшим командам.\n",
        "height": 1152,
        "width": 2288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        -3360
      ],
      "typeVersion": 1,
      "id": "ee6b75ec-84c2-423c-b32b-44f68811793a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User').first().json;\nconst allVMs = $('Get VMs for Resources').all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\nlet totalCost = 0;\nlet activeCount = 0;\nlet idleCount = 0;\nlet stoppedCount = 0;\nlet activeCost = 0;\nlet idleCost = 0;\nlet stoppedCost = 0;\n\nuserVMs.forEach(vm => {\n  totalCost += vm.json.monthly_cost;\n  \n  if (vm.json.status === 'active') {\n    activeCount++;\n    activeCost += vm.json.monthly_cost;\n  } else if (vm.json.status === 'idle') {\n    idleCount++;\n    idleCost += vm.json.monthly_cost;\n  } else {\n    stoppedCount++;\n    stoppedCost += vm.json.monthly_cost;\n  }\n});\n\nconst licenseMap = {\n  basic: { name: 'Basic', limit: 3, cost: 5000 },\n  standard: { name: 'Standard', limit: 10, cost: 15000 },\n  premium: { name: 'Premium', limit: 50, cost: 40000 }\n};\n\nconst license = licenseMap[userData.license_type];\n\nlet message = `📊 Ваши ресурсы\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `👤 Пользователь: ${userData.username}\\n`;\nmessage += `💼 Лицензия: ${license.name} (${userVMs.length}/${license.limit} ВМ)\\n`;\nmessage += `💰 Затраты: ${totalCost.toLocaleString()}₽/мес\\n\\n`;\n\nmessage += `🖥️ Виртуальные машины:\\n`;\nmessage += `✅ Активных: ${activeCount} (${activeCost.toLocaleString()}₽)\\n`;\nmessage += `⚠️ Простаивающих: ${idleCount} (${idleCost.toLocaleString()}₽)\\n`;\nmessage += `❌ Остановленных: ${stoppedCount} (${stoppedCost.toLocaleString()}₽)\\n\\n`;\n\n// ДОБАВЛЯЕМ СПИСОК ВМ\nif (userVMs.length > 0) {\n  message += `📋 Список ВМ:\\n`;\n  userVMs.forEach((vm, index) => {\n    const statusIcon = vm.json.status === 'active' ? '✅' : \n                       vm.json.status === 'idle' ? '⚠️' : '❌';\n    message += `${index + 1}. ${statusIcon} ${vm.json.vm_name}\\n`;\n    message += `   💿 ПО: ${vm.json.software_installed}\\n`;\n    message += `   💰 ${vm.json.monthly_cost.toLocaleString()}₽/мес\\n`;\n    message += `   🔍 /vmdetails ${vm.json.vm_id}\\n\\n`;\n  });\n}\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/optimize - Получить рекомендации\\n`;\nmessage += `/checkidle - Проверить простаивающие ВМ`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -1104
      ],
      "id": "d6ec69c9-bbad-437d-8169-4ac1407613bd",
      "name": "Calculate Summary"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        -1104
      ],
      "id": "0870e412-ba63-4e79-9a91-f1b8c43c5b29",
      "name": "Send: Resources Summary",
      "webhookId": "27f16c26-00f4-440b-8b19-5fe8c1f385e5",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Мои ресурсы (/my_resources)\n\n1. Команда `/myresources` маршрутизируется через `Command Router` в ветку просмотра ресурсов, где узел `Get User for Resources` получает профиль пользователя, а `Get VMs for Resources` — все его виртуальные машины из таблицы.\n1. Кодовый узел `Calculate Summary` агрегирует статистику по ВМ: считает общее количество, распределение по статусам (**active**/**idle**/**stopped**), общую стоимость и формирует текстовый отчёт с кратким списком ВМ и командами для детального анализа.\n1. Узел `Send: Resources Summary` отправляет пользователю этот отчёт в Telegram, чтобы он видел картину по своим ресурсам и мог перейти к `/vmdetails`, `/optimize` или `/checkidle`.",
        "height": 688,
        "width": 1568,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        -1344
      ],
      "typeVersion": 1,
      "id": "1f4afba8-fffe-4981-9857-5b999b0776a1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Обработчик: AI-Оптимизация (/optimize)\n\n1. При команде` /optimize` Command Router направляет сообщение в ветку анализа, где `Get User for Optimize` загружает данные пользователя и его лицензии, а `Get VMs for Optimize` — список всех его ВМ.\n1. Параллельно в workflow уже загружен каталог ПО (через Load Software Catalog), и узел `Build Optimization Prompt` на основе данных по ВМ, лицензии и ПО собирает подробный текстовый промпт для LLM.\n1. Узел OpenRouter Chat Model (через внутренний узел `AI Optimization Analysis`) обрабатывает этот промпт, `Add Footer to Message` добавляет стандартные пояснения и подсказки\n1.  `Send: AI Recommendations` возвращает пользователю готовый текст с рекомендациями по удалению, объединению ВМ и оптимизации лицензии.",
        "height": 592,
        "width": 2000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        -656
      ],
      "typeVersion": 1,
      "id": "436b1b9d-e5eb-48e5-9bcd-04ed2f9a9dd5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные пользователя\nconst userData = $('Get User for Optimize').first().json;\n\n// Получаем ВМ пользователя\nconst allVMs = $('Get VMs for Optimize').all();\n\n// Получаем каталог ПО\nconst software = $input.all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Создаём справочник ПО\nconst softwareMap = {};\nsoftware.forEach(sw => {\n  softwareMap[sw.json.software_id] = sw.json;\n});\n\n// Формируем детальное описание каждой ВМ\nlet vmDescriptions = '';\nuserVMs.forEach((vm, index) => {\n  // БЕЗОПАСНО парсим software_installed (может быть числом или строкой)\n  let softwareIds = [];\n  if (vm.json.software_installed) {\n    const softwareStr = String(vm.json.software_installed);\n    softwareIds = softwareStr.split(',').map(id => parseInt(id.trim())).filter(id => !isNaN(id));\n  }\n  \n  const softwareNames = softwareIds.map(id => \n    softwareMap[id] ? softwareMap[id].name : 'Unknown'\n  ).join(', ');\n  \n  vmDescriptions += `${index + 1}. ${vm.json.vm_name}\\n`;\n  vmDescriptions += `   ПО: ${softwareNames || 'Не установлено'}\\n`;\n  vmDescriptions += `   Использование: ${vm.json.usage_hours_week || 0} часов/неделю\\n`;\n  vmDescriptions += `   CPU: ${vm.json.cpu_usage_avg || 0}%, RAM: ${vm.json.ram_usage_avg || 0}%\\n`;\n  vmDescriptions += `   Простой: ${vm.json.inactivity_days || 0} дней\\n`;\n  vmDescriptions += `   Стоимость: ${vm.json.monthly_cost || 0}₽/мес\\n`;\n  vmDescriptions += `   Статус: ${vm.json.status}\\n\\n`;\n});\n\n// Если нет ВМ\nif (userVMs.length === 0) {\n  return {\n    json: {\n      error: true,\n      message: '❌ У вас нет виртуальных машин для анализа\\n\\nСоздайте ВМ командой /createvm',\n      chat_id: $('Edit Fields').first().json.chat_id\n    }\n  };\n}\n\nconst totalCost = userVMs.reduce((sum, vm) => sum + (vm.json.monthly_cost || 0), 0);\n\nconst prompt = `Проанализируй использование виртуальных машин и дай конкретные рекомендации.\n\n📊 Данные пользователя:\n- Лицензия: ${userData.license_type} (${userVMs.length}/${userData.license_limit} ВМ)\n- Текущие затраты: ${totalCost}₽/мес\n\n🖥️ Виртуальные машины:\n${vmDescriptions}\n\n📋 Задачи:\n1. Определи ВМ для удаления (критерий: простой >14 дней ИЛИ usage_hours_week <5)\n2. Найди ВМ для объединения (критерий: похожий набор ПО И суммарная нагрузка CPU+RAM <140%)\n3. Оцени оптимизацию лицензии:\n   - basic: 3 ВМ, 5000₽/мес\n   - standard: 10 ВМ, 15000₽/мес\n   - premium: 50 ВМ, 40000₽/мес\n4. Рассчитай потенциальную экономию\n\nВерни ответ СТРОГО по структуре из системного промпта, готовый для отправки в Telegram.`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    chat_id: $('Edit Fields').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        -480
      ],
      "id": "b41246c9-33ee-4b8c-9c84-2827f1214e79",
      "name": "Build Optimization Prompt"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3744,
        -272
      ],
      "id": "75e3c87b-96dc-4a06-91a5-7fdea3b8b61d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vTmXgtf5tUnqsJGf",
          "name": "OpenRouter posapr"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').first().json.telegram_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4384,
        -480
      ],
      "id": "7f8836ea-6f2f-4d62-8968-50408ad96f1a",
      "name": "Send: AI Recommendations",
      "webhookId": "735c4e5c-923d-4d62-a2d4-e31d28f70f42",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Проверка простоя (/check_idle)\n\n1. Команда `/checkidle` также попадает через Command Router в ветку анализа, где `Get User for Idle Check` получает данные пользователя\n1. Узел `Get VMs for Idle Check` подтягивает все его ВМ с метриками использования и простоя.\n1. Кодовый узел `Detect Idle VMs` классифицирует машины по уровням критичности (катастрофический, критический, высокий, средний, нормальный и т.д.), рассчитывает потенциальную экономию и формирует детализированный отчёт по каждой группе.\n1. Узел `Send: Idle Report` отправляет этот отчёт в Telegram, включая статистику по количеству ВМ, простоям и рекомендации по дальнейшим действиям (в том числе ссылку на `/optimize`).\n",
        "height": 624,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -272
      ],
      "typeVersion": 1,
      "id": "67d68421-fc1b-4073-b529-410564f2dd59",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User for Idle Check').first().json;\nconst allVMs = $('Get VMs for Idle Check').all();\n\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Основная классификация по критичности\nconst catastrophic = []; // >90 дней, stopped с dataLoss или failed\nconst critical = [];     // 30-90 дней или stopped\nconst high = [];         // 14-30 дней или idle с низким usage\nconst medium = [];       // 7-14 дней\nconst normal = [];       // 3-7 дней\nconst low = [];          // 1-3 дня\nconst minimal = [];      // <1 дня\n\n// Мониторинг в реальном времени для активных ВМ\nconst realTimeClassification = {\n  active: [],        // Текущая активная сессия (active_session = true)\n  recent: [],        // <15 минут (0.01 дня)\n  today: [],         // <24 часа (<1 дня)\n  thisWeek: [],      // <7 дней (уже в основных категориях)\n};\n\n// Получаем текущее время для расчёта точного простоя\nconst now = new Date();\n\nuserVMs.forEach(vm => {\n  const vmData = vm.json;\n  const inactivity = vmData.inactivity_days;\n  const status = vmData.status;\n  const usage = vmData.usage_hours_week;\n  const lastActivity = vmData.last_activity_time ? new Date(vmData.last_activity_time) : null;\n  const hasActiveSession = vmData.active_session === true;\n  \n  // Рассчитываем точное время простоя в часах/минутах\n  let exactInactivityHours = inactivity * 24;\n  if (lastActivity) {\n    exactInactivityHours = (now - lastActivity) / (1000 * 60 * 60);\n  }\n  \n  // Классификация по критичности\n  if ((inactivity >= 90 && status !== 'active') || (status === 'stopped' && (vmData.data_loss === true || vmData.state === 'failed'))) {\n    catastrophic.push(vmData);\n  } else if (inactivity >= 30 || (status === 'stopped' && inactivity >= 14)) {\n    critical.push(vmData);\n  } else if (inactivity >= 14 || (status === 'idle' && usage < 5)) {\n    high.push(vmData);\n  } else if (inactivity >= 7) {\n    medium.push(vmData);\n  } else if (inactivity >= 3) {\n    normal.push(vmData);\n  } else if (inactivity >= 1) {\n    low.push(vmData);\n  } else {\n    minimal.push(vmData);\n  }\n  \n  // Детальный мониторинг для активных ВМ (тех, что в minimal)\n  if (inactivity < 1) {\n    if (hasActiveSession) {\n      realTimeClassification.active.push(vmData);\n    } else if (exactInactivityHours < 0.25) { // <15 минут\n      realTimeClassification.recent.push(vmData);\n    } else if (exactInactivityHours < 1) { // <1 часа\n      vmData.inactivity_hours = exactInactivityHours.toFixed(1);\n      realTimeClassification.today.push(vmData);\n    } else {\n      // Остальные ВМ с простоям <1 дня остаются в minimal\n    }\n  }\n});\n\n// Формируем отчёт\nlet message = `🔍 Детальный анализ использования ВМ\\n━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// 1. Катастрофический уровень\nif (catastrophic.length > 0) {\n  message += `⛔ КАТАСТРОФИЧЕСКИЙ УРОВЕНЬ (${catastrophic.length}):\\n`;\n  catastrophic.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Статус: ${vm.status}${vm.data_loss ? ' (ПОТЕРЯ ДАННЫХ!)' : ''}\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: СРОЧНОЕ ВМЕШАТЕЛЬСТВО\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 2. Критический уровень\nif (critical.length > 0) {\n  message += `🔴 ТРЕБУЕТСЯ ДЕЙСТВИЕ (${critical.length}):\\n`;\n  critical.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Удалить\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 3. Высокий уровень\nif (high.length > 0) {\n  message += `🟠 ВЫСОКИЙ ПРИОРИТЕТ (${high.length}):\\n`;\n  high.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Использование: ${vm.usage_hours_week || 0}ч/неделю\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Рассмотреть удаление\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 4. Средний уровень\nif (medium.length > 0) {\n  message += `🟡 МОНИТОРИНГ (${medium.length}):\\n`;\n  medium.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней простоя)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 5. Нормальные и низкие (информативно)\nconst normalLowCount = normal.length + low.length;\nif (normalLowCount > 0) {\n  message += `🟢 АКТИВНОЕ ИСПОЛЬЗОВАНИЕ (${normalLowCount}):\\n`;\n  normal.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  low.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 6. Мониторинг в реальном времени\nconst realTimeCount = realTimeClassification.active.length + \n                      realTimeClassification.recent.length + \n                      realTimeClassification.today.length;\n\nif (realTimeCount > 0) {\n  message += `📊 МОНИТОРИНГ В РЕАЛЬНОМ ВРЕМЕНИ:\\n`;\n  \n  if (realTimeClassification.active.length > 0) {\n    message += `🟢 Активные сессии (${realTimeClassification.active.length}):\\n`;\n    realTimeClassification.active.forEach(vm => {\n      message += `└━ ${vm.vm_name} (сейчас онлайн)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.recent.length > 0) {\n    message += `🟡 Недавняя активность (${realTimeClassification.recent.length}):\\n`;\n    realTimeClassification.recent.forEach(vm => {\n      message += `└━ ${vm.vm_name} (<15 минут назад)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.today.length > 0) {\n    message += `🔵 Активны сегодня (${realTimeClassification.today.length}):\\n`;\n    realTimeClassification.today.forEach(vm => {\n      message += `└━ ${vm.vm_name} (${vm.inactivity_hours || '0.5'} часов назад)\\n`;\n    });\n    message += `\\n`;\n  }\n}\n\n// 7. Статистика и итоги\nconst totalIdle = catastrophic.length + critical.length + high.length + medium.length;\nconst totalCritical = catastrophic.length + critical.length;\nconst totalActive = userVMs.length - totalIdle;\nconst potentialSaving = [...catastrophic, ...critical, ...high, ...medium]\n  .reduce((sum, vm) => sum + (vm.monthly_cost || 0), 0);\n\nmessage += `📈 СТАТИСТИКА:\\n`;\nmessage += `┣━ Всего ВМ: ${userVMs.length}\\n`;\nmessage += `┣━ Активных: ${totalActive}\\n`;\nmessage += `┣━ Простаивающих: ${totalIdle}\\n`;\nif (totalCritical > 0) {\n  message += `┣━ Критических: ${totalCritical}\\n`;\n}\nmessage += `┗━ Потенциальная экономия: ${potentialSaving.toLocaleString()}₽/мес\\n\\n`;\n\n// 8. Рекомендации\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nif (totalIdle > 0) {\n  message += `💡 РЕКОМЕНДАЦИИ:\\n`;\n  if (catastrophic.length > 0) {\n    message += `• СРОЧНО проверьте ВМ с пометкой ⛔\\n`;\n  }\n  if (critical.length > 0 || high.length > 0) {\n    message += `• Используйте /optimize для детального анализа\\n`;\n  }\n  message += `• Рассмотрите архивацию редко используемых ВМ\\n`;\n} else {\n  message += `✅ Все ВМ используются эффективно!\\n`;\n  message += `Оптимизация не требуется.`;\n}\n\n// 9. Дополнительная информация (если есть активные в реальном времени)\nif (realTimeClassification.active.length > 0) {\n  message += `\\n\\n💻 Сейчас онлайн: ${realTimeClassification.active.length} ВМ`;\n}\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id,\n    idle_count: totalIdle,\n    critical_count: totalCritical,\n    potential_saving: potentialSaving,\n    stats: {\n      total: userVMs.length,\n      active: totalActive,\n      idle: totalIdle,\n      catastrophic: catastrophic.length,\n      critical: critical.length,\n      high: high.length,\n      medium: medium.length,\n      realTime: {\n        active: realTimeClassification.active.length,\n        recent: realTimeClassification.recent.length,\n        today: realTimeClassification.today.length\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        0
      ],
      "id": "bed67e04-c167-4823-b4ce-c9e4cd3c5479",
      "name": "Detect Idle VMs"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        0
      ],
      "id": "45f1b667-8fea-46e1-be0a-ccbc97b381b2",
      "name": "Send: Idle Report",
      "webhookId": "b0dd063d-12f5-4765-b025-f54802ffec12",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Каталог ПО (/software_catalog)\n\n1. При вводе команды `/softwarecatalog` (или эквивалентной формы в regex) Command Router направляет поток в ветку каталога ПО.\n1. Узел `Load Software Catalog` загружает таблицу **Software_Catalog** из Google Sheets\n1. После чего `Add Context Info` обогащает сырые записи дополнительными полями (например, визуальной оценкой ресурсоёмкости).\n1. Кодовый узел `Format Catalog Message` превращает список ПО в структурированное текстовое сообщение с ID, названием, категорией, ценой и кратким описанием\n1. Узел `Send: Software Catalog` отправляет его пользователю вместе с инструкцией, как использовать номера ПО в команде `/createvm`.",
        "height": 512,
        "width": 1600,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -2032
      ],
      "typeVersion": 1,
      "id": "f2634ec0-07b5-4f14-a45b-b1a3fed607fc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const software = $input.all();\n\nlet message = `💿 Каталог инженерного ПО\\n━━━━━━━━━━━━━━━\\n\\n`;\n\nsoftware.forEach(sw => {\n  message += `${sw.json.software_id}. ${sw.json.name}\\n`;\n  message += `   📁 Категория: ${sw.json.category}\\n`;\n  message += `   💰 Стоимость: ${sw.json.cost_per_month}₽/мес\\n`;\n  message += `   ⚡ Нагрузка: ${'▓'.repeat(sw.json.resource_weight)}${'░'.repeat(5 - sw.json.resource_weight)} ${sw.json.resource_weight}/5\\n`;\n  message += `   📝 ${sw.json.description}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `Для создания ВМ с выбранным ПО:\\n`;\nmessage += `/create_vm [номера через запятую]\\n`;\nmessage += `Например: /create_vm 1,3,5`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -1744
      ],
      "id": "6d49c7ad-d88c-40b1-9aa2-b6cc8901da94",
      "name": "Format Catalog Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        -1744
      ],
      "id": "61ba462e-9b47-483b-acbf-90e46bcd18d9",
      "name": "Send: Software Catalog",
      "webhookId": "8eee79df-63c9-4821-b741-ac1101f76c79",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=👋 Добро пожаловать в POSASPR Helper!\n\nЭто прототип системы управления виртуальными машинами с инженерным ПО.\n\n📋 Доступные команды:\n\n➕ /createvm [ID_ПО]\n   Создать виртуальную машину\n   Пример: /createvm 1,3,5\n   Без параметров - случайный выбор ПО\n\n📊 /myresources\n   Посмотреть свои ресурсы и статистику\n\n🤖 /optimize\n   AI-анализ и рекомендации по оптимизации\n\n🔍 /checkidle\n   Проверить простаивающие ВМ\n\n💿 /softwarecatalog\n   Каталог доступного ПО\n\n👤 /register\n   Регистрация в системе (на всякий пожарный)\n\n❓ /help\n   Эта справка\n\n━━━━━━━━━━━━━━━\n💡 Начните с /softwarecatalog",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -1088
      ],
      "id": "83bbbcf8-4e25-4813-b73c-9d5a96c048ff",
      "name": "Send: Help",
      "webhookId": "89600108-b8ac-4022-965d-b37f38555fe3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=❌ Неизвестная команда\n\nИспользуйте /help для списка доступных команд",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -880
      ],
      "id": "522f7233-9435-4afe-8f00-84ef6c1e7a9c",
      "name": "Send: Unknown Command",
      "webhookId": "5c15bd88-23b4-4035-8e67-1920978b1007",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Ты - эксперт по оптимизации IT-инфраструктуры. Анализируй данные о виртуальных машинах и давай конкретные рекомендации на русском языке.\n\nВАЖНО: Твой ответ будет отправлен в Telegram с форматированием Markdown. Используй правила:\n- Заголовки: **🗑️ Удалить** (жирный текст + эмодзи, НЕ используй ##)\n- Пункты списка: • или -\n- Жирный текст: **текст**\n- Курсив: _текст_\n- Код: `текст`\n\nСтруктура ответа:\n\n**🗑️ Удалить**\n\n• **[vm_name]**: [причина]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет ВМ для удаления: \"✅ Все ВМ используются эффективно\")\n\n**🔀 Объединить**\n\n• **[vm_name1]** + **[vm_name2]**: [обоснование]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет: \"ℹ️ Нет возможности объединения\")\n\n**📉 Оптимизация лицензии**\n\n[Рекомендация или \"✅ Не требуется\"]\n\n**💰 Итого**\n\nПотенциальная экономия: **[сумма]₽/мес** ([процент]%)\n\nНЕ добавляй никакие дополнительные разделители, футеры или команды в конце!"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3808,
        -480
      ],
      "id": "722c261a-da63-4a6d-8b49-7fdf2016b60d",
      "name": "AI Optimization Analysis"
    },
    {
      "parameters": {
        "content": "## Обработчик 7: Детали ВМ (/vm_details)\n\n1. Команда `/vmdetails` попадает из Webhook - Telegram Bot через Edit Fields и Command Router в ветку просмотра **2 - Просмотр (объединённое)**, где далее обрабатывается узлом Switch View`. \n1. Узел `Get User for VM Details` загружает информацию о пользователе и его правах доступа к ВМ.\n1. Узел `Parse VM ID` разбирает введённый пользователем идентификатор или имя ВМ (из текста сообщения).\n1. Узел `Valid VM ID?` проверяет, что идентификатор корректен; при ошибке сразу вызывается `Send: VM Error` с подсказкой пользователю.\n1. Узел `Route VM Lookup` направляет поток либо в `Get VM by ID`, либо в `Get VM by Name` (таблица **Virtual_Machines**), в зависимости от того, что именно ввёл пользователь.\n1. Узел `Merge VM Lookup` объединяет результаты поиска по ID/имени в единый объект ВМ, а затем Get Software Info for VM подгружает описание установленного ПО из каталога **Software_Catalog**.\n1. Узел `Format VM Details Message` формирует человекочитаемое описание ВМ (ресурсы, статус, простой, установленное ПО, стоимость) и передаёт его в `Send: VM Details` для отправки пользователю в Telegram.",
        "height": 752,
        "width": 2176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        -1744
      ],
      "typeVersion": 1,
      "id": "bf972a42-3c75-4fed-8aab-1a1d71f7be67",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "// Парсим команду: /vmdetails [vm_id или vm_name]\nconst message = $('Webhook - Telegram Bot').item.json.message.text;\nconst parts = message.trim().split(' ');\n\nlet vmId = null;\nlet vmName = null;\n\nif (parts.length > 1) {\n  const input = parts[1].trim();\n  \n  // Проверяем, что введено: число или имя\n  if (/^\\d+$/.test(input)) {\n    // Введён числовой ID\n    vmId = parseInt(input);\n  } else if (input.startsWith('VM-')) {\n    // Введено имя ВМ\n    vmName = input;\n  } else {\n    // Некорректный формат\n    return {\n      json: {\n        error: true,\n        message: `❌ Некорректный формат: \"${input}\"\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n      }\n    };\n  }\n}\n\n// Если ничего не указано\nif (!vmId && !vmName) {\n  return {\n    json: {\n      error: false,\n      help: true,\n      message: `💡 Укажите номер или имя ВМ для просмотра деталей\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n    }\n  };\n}\n\nreturn {\n  json: {\n    vm_id: vmId,\n    vm_name: vmName,\n    user_id: $input.first().json.user_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        -1328
      ],
      "id": "63979e02-ffed-41ff-8456-b5271ed0e00e",
      "name": "Parse VM ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27b80a8a-d4ba-4e6c-9234-6e555df1374f",
              "leftValue": "={{ $json.error === undefined || $json.error === false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3456,
        -1328
      ],
      "id": "b782ebaa-b0ad-477a-a7b3-717bbf4e2d46",
      "name": "Valid VM ID?"
    },
    {
      "parameters": {
        "jsCode": "// 1. ПОЛУЧАЕМ ДАННЫХ ВМ (из узла Get VM by NameID)\n// Мы не можем брать $input.first(), потому что $input - это каталог ПО!\n// Берем строго из узла с ВМ.\nconst vmNode = $('Get VM by NameID').first(); \n\nif (!vmNode || !vmNode.json || !vmNode.json.vm_id) {\n  return {\n    json: {\n      error: true,\n      message: \"❌ Ошибка: Данные ВМ потеряны. Проверьте связи узлов.\",\n      chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id\n    }\n  };\n}\n\nconst vm = vmNode.json;\n\n// 2. ПОЛУЧАЕМ КАТАЛОГ ПО (из входящих данных этого узла)\n// Так как Load Software Catalog3 стоит прямо перед нами, $input.all() - это и есть каталог.\nconst softwareCatalog = $input.all().map(item => item.json);\n\n// 3. СОПОСТАВЛЕНИЕ (Самая важная часть)\nlet softwareListText = \"Не установлено\";\n\nif (vm.software_installed) {\n  let ids = [];\n  \n  // Парсим входные ID (они могут быть строкой \"[1,2]\", строкой \"1,2\", числом или массивом)\n  if (Array.isArray(vm.software_installed)) {\n    ids = vm.software_installed;\n  } else if (typeof vm.software_installed === 'number') {\n    ids = [vm.software_installed];\n  } else if (typeof vm.software_installed === 'string') {\n    // Пробуем JSON\n    try {\n        const parsed = JSON.parse(vm.software_installed);\n        if (Array.isArray(parsed)) ids = parsed;\n        else ids = vm.software_installed.split(',').map(Number);\n    } catch (e) {\n        // Если не JSON, то CSV\n        ids = vm.software_installed.split(',').map(s => parseInt(s.trim()));\n    }\n  }\n\n  // Фильтруем NaN\n  ids = ids.filter(id => !isNaN(id));\n\n  if (ids.length > 0) {\n    const names = ids.map(id => {\n      // ПРИВЕДЕНИЕ ТИПОВ! Сравниваем ID как числа.\n      // В каталоге software_id может быть строкой \"1\", а у нас число 1.\n      const sw = softwareCatalog.find(s => parseInt(s.software_id) === parseInt(id));\n      \n      if (sw) {\n          return `• ${sw.name}`;\n      } else {\n          // Отладочная инфа, если не найдено (потом можно убрать ID)\n          return `• Unknown (ID: ${id})`; \n      }\n    });\n    softwareListText = names.join('\\n   ');\n  }\n}\n\n// 4. ФОРМИРОВАНИЕ СООБЩЕНИЯ\nconst drawBar = (val, max = 100) => {\n  const filled = Math.round((val / max) * 10); \n  return '▓'.repeat(filled) + '░'.repeat(10 - filled);\n};\n\nlet statusIcon = '✅';\nif (vm.status === 'stopped') statusIcon = '🔴';\nif (vm.status === 'idle') statusIcon = '⚠️';\n\nconst createdDate = vm.created_at ? new Date(vm.created_at).toISOString().split('T')[0] : 'N/A';\nconst lastActive = vm.last_active ? new Date(vm.last_active).toISOString().split('T')[0] : 'N/A';\nconst cost = vm.monthly_cost ? parseFloat(vm.monthly_cost).toLocaleString() : 0;\n\nconst message = `🖥️ **Детали ВМ: ${vm.vm_name}**\n━━━━━━━━━━━━━━━\n\n📅 Создана: ${createdDate}\n🕐 Активность: ${lastActive}\n⏱️ Простой: ${vm.inactivity_days || 0} дней\n${statusIcon} Статус: **${vm.status}**\n\n📊 **Использование:**\nCPU: ${drawBar(vm.cpu_usage_avg || 0)} ${vm.cpu_usage_avg}%\nRAM: ${drawBar(vm.ram_usage_avg || 0)} ${vm.ram_usage_avg}%\nЧасов в неделю: ${vm.usage_hours_week || 0}\n\n💻 **Установленное ПО:**\n   ${softwareListText}\n\n💰 Затраты: **${cost}₽/мес**\n━━━━━━━━━━━━━━━\n${vm.status === 'idle' ? '💡 Рекомендуется проверить простой (/checkidle)' : '✅ ВМ используется эффективно'}`;\n\nreturn {\n  json: {\n    message: message,\n    chat_id: $('Webhook - Telegram Bot').first().json.message.chat.id,\n    error: false\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        -1424
      ],
      "id": "d9894173-1507-4f9d-bc70-f69a4f777799",
      "name": "Format VM Details Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4448,
        -1424
      ],
      "id": "069aafbb-5bed-49a9-90c6-2e6a12d0347c",
      "name": "Send: VM Details",
      "webhookId": "0360f2c3-23a0-4270-b12a-7eb1354128f3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3792,
        -1200
      ],
      "id": "8418d063-4247-4841-a9ac-d6c35452cf37",
      "name": "Send: VM Error",
      "webhookId": "65f931dc-c175-47df-a0e9-92b25afd9f8c",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        -2720
      ],
      "id": "5acfb95b-455d-43ec-ba07-1e1a3d11973d",
      "name": "Send: Not Registered",
      "webhookId": "eec625cb-b3b2-4cd4-b8bc-f75db2cd9cae",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Превышен лимит лицензии\n\nТекущих ВМ: {{ $json.currentCount }}\nЛимит: {{ $json.limit }}\n\nИспользуйте /optimize для рекомендаций по освобождению ресурсов",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3328,
        -2736
      ],
      "id": "37684bcc-ef48-4976-8ef2-6653208409e4",
      "name": "Send: Limit Exceeded",
      "webhookId": "49cfb367-0ba0-4470-b5c0-bcfb39858fde",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd1ba37-d64d-4440-8cb5-bfd33cd669c6",
              "name": "telegram_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "3b496a6c-af44-4080-9a0c-44309da9d6a5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "efb3c752-6dbc-4fac-9e69-cf0f380b0364",
              "name": "username",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2848,
        -1936
      ],
      "id": "52091f17-1fc7-4067-8e7c-7ee923b05102",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ac2e5db-7a62-46a6-8387-5388260370e8",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -1008
      ],
      "id": "044e43af-0259-41eb-9894-0a35bdc751ee",
      "name": "User Found for Resources?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1856,
        -880
      ],
      "id": "f0a69a15-53bf-4a0f-bb51-df3bfe33c294",
      "name": "Send: Not Registered for Resources",
      "webhookId": "6e6f072e-a190-4952-b3da-37cd6a534dc1",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54a39efc-c498-47a6-ad04-980a28c47ec9",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3040,
        -464
      ],
      "id": "e03afe6d-5c8a-4fb5-88d4-fcccde57439e",
      "name": "User Found for Optimize?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        -288
      ],
      "id": "eb22042c-661e-4e48-b8bc-c2d0c635d445",
      "name": "Send: Not Registered for Optimize",
      "webhookId": "babea0b8-b362-401b-9358-19162498f7d3",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26e58526-1e6d-4d1b-8efc-8b69b40186ab",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        0
      ],
      "id": "fb9c8dfe-d815-43a4-ae28-97caefc2baf6",
      "name": "User Found for Idle Check?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        128
      ],
      "id": "da1c44c8-5088-4cb6-83a9-8968dd28746a",
      "name": "Send: Not Registered for Idle Check",
      "webhookId": "483b1df8-f3bb-4572-a0f9-e3f84c4cb358",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').item.json.telegram_id }}",
        "text": "=✅ Email сохранён!\n\nТеперь укажите название вашей организации:\n\nПример: ООО \"Рога и Копыта\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -3312
      ],
      "id": "33e2a4bc-ec4c-4de2-aa24-3d16653f32a5",
      "name": "Send Request Organization",
      "webhookId": "2120c152-e1ed-4e98-b3c1-8ce182720521",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda7c66e-1239-4d73-b40a-a1c9a3a214b1",
              "name": "telegram_id",
              "value": "={{ $json.telegram_id }}",
              "type": "string"
            },
            {
              "id": "f9beed1e-e2a2-4060-b8a6-043885068a21",
              "name": "menu_text",
              "value": "=💿 Выберите ПО для установки:\n\n1. AutoCAD (CAD) - 3000₽/мес\n2. SolidWorks (CAD) - 3500₽/мес\n3. ANSYS (CAE) - 5000₽/мес\n4. CATIA (CAD/PLM) - 4000₽/мес\n5. MatLab (Programming) - 2500₽/мес\n6. Inventor (CAD) - 3200₽/мес\n7. Компас-3D (CAD) - 2000₽/мес\n\nОтправьте номера ПО через запятую\nНапример: 1,3,5\n\nИли /cancel для отмены",
              "type": "string"
            },
            {
              "id": "badfcae4-7e1b-4814-87ec-98cf6c5d478b",
              "name": "user_id",
              "value": "={{ $('Can Create VM?').item.json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3328,
        -3040
      ],
      "id": "979d66ef-d4d4-4a17-8504-77a21ad463b6",
      "name": "Prepare Software Menu",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=👋 Добро пожаловать, {{ $('Add New User').item.json.username }}!\n\n✅ Теперь укажите Ваш Email, с которым будете работать с инженерным ПО:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -3616
      ],
      "id": "f6c215de-f75b-4526-8fcd-12a23bff3065",
      "name": "Send Request Email",
      "webhookId": "fb079755-3fd3-4652-aa24-0c9929364d68",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Регистрация пользователя\n\n1. Узел `Check User State` на основе последнего сообщения и хранилища состояний пользователя (таблица **User_States**) определяет, есть ли у пользователя активный «шаг» диалога (например, регистрация, ввод данных и т.п.).\n1. Узел `Route by State` направляет свободный пользовательский ввод (**4 - User Input** из Command Router) в нужную ветку: обычная работа, регистрация, ввод дополнительных атрибутов, шаги мастера и т.д.\n1. Для новых или незарегистрированных пользователей после `Send: Not Registered` отдельная ветка в Route by State устанавливает нужное состояние (например, «ожидание названия компании/почты/лицензии») и запускает последовательность узлов отправки сообщений (Send: ...) и кодовых узлов для записи введённых данных в таблицы.\n1. На каждом шаге регистрации кодовые узлы обновляют состояние пользователя (через обновление записи в таблице состояний **User_States**), а Route by State по этому состоянию решает, какой вопрос задать следующим и когда считать регистрацию завершённой.\n1. После успешного завершения регистрации состояние пользователя сбрасывается в «обычное» (без активного мастера), и дальше все основные команды (`/createvm`, `/myresources`, `/optimize`, `/checkidle`, `/softwarecatalog`) работают уже в режиме зарегистрированного пользователя.",
        "height": 1568,
        "width": 2288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -4064
      ],
      "typeVersion": 1,
      "id": "26a95861-777c-4451-a1a3-7d00fc1d570a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Telegram\nconst telegramData = $('Webhook - Telegram Bot').item.json.message.from;\nconst chatId = $('Edit Fields').item.json.chatid;\n\n// Генерируем уникальный ID на основе timestamp + random\nconst newUserId = Math.floor(Math.random() * 1000);\n\n// Формируем имя пользователя\nconst firstName = telegramData.first_name || '';\nconst lastName = telegramData.last_name || '';\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\nconst telegramUsername = telegramData.username || `user${telegramData.id}`;\n\n// Создаём нового пользователя\nconst newUser = {\n  user_id: newUserId,\n  username: fullName,\n  email: `${telegramUsername}@telegram.user`,\n  organization: firstName,\n  license_type: 'basic',\n  license_limit: 3,\n  created_at: new Date().toISOString().split('T')[0],\n  telegram_id: telegramData.id.toString()\n};\n\nreturn {\n  json: newUser\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -3616
      ],
      "id": "bbdeea5b-27fb-46f9-bcfb-84118dcc15d7",
      "name": "Generate Registration Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "524efa48-0de3-431c-95e7-c3fd7454961f",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Edit Fields').item.json.telegram_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -3712
      ],
      "id": "d90202c0-a2d3-49a9-b2d9-380c16f6fc5e",
      "name": "Already Registered?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17d5a8b1-6e75-4bce-af33-8a6b5968a94e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3120,
        -1920
      ],
      "id": "26d593c5-c4ac-406d-b6c5-de6e0c455f29",
      "name": "Has Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e535af2d-aef2-4ca3-a78a-875f1390765f",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Каталог ПО"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d41b2f57-2360-451b-9581-734edde4171a",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/vmdetails",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Подробности ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/myresources",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56cbe9ef-c4cf-46ea-925d-a95795418f6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Мои ресурсы"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        112,
        -1760
      ],
      "id": "8945baf7-d9c1-4a6a-8028-e2d1eada9390",
      "name": "Switch View"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/optimize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6b91e10-d533-4c50-aaad-21bb698807af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Оптимизация"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5e034e5-121d-484b-8ebd-33064b2b6f1c",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/checkidle",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Проверка простоя"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        -912
      ],
      "id": "73dd1f05-9f1e-4072-a765-148eb033db47",
      "name": "Switch Analyze"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "178a088d-9ae4-4527-8dc6-3eadce72c82f",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Is Start Command?').item.json.chat_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2272,
        -2176
      ],
      "id": "c932d57f-d3cf-408e-8509-d6633be7f365",
      "name": "User Registered for Start?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=👋 Добро пожаловать, {{ $('Edit Fields').item.json.username }}!\n\n📊 Ваша лицензия: {{ $('Check Registration for Start').first().json.license_type }}\n💼 Использовано: ВМ будет подсчитано/{{ $('Check Registration for Start').first().json.license_limit }}\n\n📋 Доступные команды:\n\n➕ /createvm [ID_ПО]\n   Создать виртуальную машину\n   Пример: /createvm 1,3,5\n\n📊 /myresources\n   Посмотреть свои ресурсы и статистику\n\n🤖 /optimize\n   AI-анализ и рекомендации по оптимизации\n\n🔍 /checkidle\n   Проверить простаивающие ВМ\n\n💿 /softwarecatalog\n   Каталог доступного ПО\n\n❓ /help\n   Эта справка\n\n━━━━━━━━━━━━━━━\nИспользуйте команды для управления вашими ресурсами!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1968,
        -2288
      ],
      "id": "4f7fd8f5-6585-4bab-9bb0-288cc7e38b87",
      "name": "Send: Welcome (Registered)",
      "webhookId": "2df9641d-6340-4689-b5ea-cd0bcaf4bcfb",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8fbe15d-2261-4264-95e3-c9f9c32cc06d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=/register",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2272,
        -1728
      ],
      "id": "a8642bbe-2594-4d89-bd1b-b479ee608f1f",
      "name": "Is Register Command?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c91ce669-bc82-458b-ac28-c5591e9bf257",
              "leftValue": "={{ $('Edit Fields').item.json.chat_id }}",
              "rightValue": "={{ $('Is Register Command?').item.json.chat_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        -1712
      ],
      "id": "99119dc7-6bde-4e19-9a02-65b80d9bf6ca",
      "name": "User Registered for Commands?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Проверка регистрации\n\n1. Любое входящее сообщение пользователя после нормализации текстом в `Edit Fields` проходит через Command Router, где команда маршрутизируется по типам (создание ВМ, просмотр, анализ, помощь и т.п.).\n1. Для ветки создания ВМ команда направляется в узел `Get User for VM Creation`, который ищет пользователя в таблице **Users** по Telegram ID и поднимает его профиль (тип лицензии, лимит ВМ и т.д.).\n1. Узел `User Registered?` проверяет, найден ли пользователь; если пользователь не зарегистрирован, поток уходит в `Send: Not Registered`, который отправляет сообщение с инструкциями по регистрации.\n1. Если пользователь найден, его данные (user_id, license_type, license_limit и т.п.) используются далее в `Get Existing VMs for User` и `Check License Limit` для проверки доступности операций (создание ВМ, анализ, просмотр ресурсов).\n1. Аналогичная проверка регистрации используется в других ветках (ресурсы, оптимизация, простой), где узлы `Get User for Resources`, `Get User for Optimize`, `Get User for Idle Check` выполняют роль проверки существования пользователя и загрузки его профиля перед бизнес-логикой.",
        "height": 1408,
        "width": 1936
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2976,
        -2512
      ],
      "typeVersion": 1,
      "id": "7ca0318b-e3e6-42f1-a2d4-956b49b6496f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Доступ запрещён\n\nВы не зарегистрированы в системе.\n\nДля начала работы используйте /register\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1472,
        -1440
      ],
      "id": "fa682c2d-68b9-4e94-a690-ac4ba2d6057f",
      "name": "Send: Please Register First",
      "webhookId": "37486563-5a97-4c19-a951-b8f4dca9c0b5",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "427550c6-9bd1-4e19-a1ba-abe2238f9c65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8267457-1161-4f4c-87f8-81ec580cabc5",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_organization",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание организации"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30d0684-230d-45ee-9fb2-d94da9e6d15b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_license_count",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание количества лицензий"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bbc97e3a-2ff5-4538-9922-bf008749dc0a",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_software_selection",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ожидание выбора ПО из каталога"
            }
          ]
        },
        "options": {
          "fallbackOutput": "=Новый пользователь, предложить /register"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        -2944
      ],
      "id": "db7d9fb6-4307-44fe-be6f-dcf590fb3b0d",
      "name": "State Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac38a90c-1028-4783-a794-a592e0eaefb4",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2656,
        -1936
      ],
      "id": "52d89942-1ae8-4fbd-b829-87e7e09795c5",
      "name": "Is Start Command?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=Здравствуйте!\n\nЭто бот для работы с инженерным ПО.\n\nВы не зарегистрированы в системе.\n\nДля начала работы используйте /register\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1968,
        -2080
      ],
      "id": "2f3315cb-4d5e-4d93-9306-e3568e9a3916",
      "name": "Send: Please Register",
      "webhookId": "dc8c1c64-8868-4578-8ae8-625b911c50e5",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "={{ $json.menu_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3824,
        -2896
      ],
      "id": "967cbaec-7583-4173-af3e-9e9c597275ef",
      "name": "Send Software Menu",
      "webhookId": "732b2add-2846-47f1-bbd6-3212047174ee",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5d9fcc8-e32a-4006-8d3d-8d61ff60b4fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /createvm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ee8e8ab-ac43-463e-a24c-4b8d17cc889a",
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /softwarecatalog"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1680,
        -1760
      ],
      "id": "bc790321-4683-49b7-b270-744418149a7b",
      "name": "Route Catalog Output"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные каталога\nconst catalogData = $input.all();\n\n// Проверяем, откуда пришли\nlet source = 'unknown';\nlet stateInfo = null;\n\n// Проверяем State Router\ntry {\n  const stateRouter = $('State Router');\n  if (stateRouter && stateRouter.isExecuted) {\n    const stateData = stateRouter.first().json;\n    source = 'createvm';\n    stateInfo = {\n      state: stateData.state,\n      telegram_id: stateData.telegramid,\n      username: stateData.username\n    };\n  }\n} catch (e) {\n  // State Router не выполнялся\n}\n\n// Проверяем Edit Fields для /softwarecatalog\ntry {\n  const editFields = $('Edit Fields');\n  if (editFields && editFields.item.json.text.includes('softwarecatalog')) {\n    source = 'softwarecatalog';\n  }\n} catch (e) {\n  // Ошибка\n}\n\n// Возвращаем данные с контекстом\nreturn catalogData.map(item => ({\n  json: {\n    ...item.json,\n    _source: source,\n    _stateInfo: stateInfo\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -1760
      ],
      "id": "12dfb281-5c26-40bd-97ae-cd0b206ffafc",
      "name": "Add Context Info"
    },
    {
      "parameters": {
        "jsCode": "// Получаем ответ от AI\nconst aiResponse = $json.output || $json.text || $json.response || '';\n\n// Если ответа нет\nif (!aiResponse) {\n  return {\n    json: {\n      message: '❌ Не удалось получить рекомендации от AI',\n      chat_id: $('Build Optimization Prompt').first().json.chat_id\n    }\n  };\n}\n\n// Добавляем футер\nlet message = `🤖 Рекомендации по оптимизации\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += aiResponse;\nmessage += `\\n\\n━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/myresources - Посмотреть ресурсы\\n`;\nmessage += `/checkidle - Проверить простой`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Build Optimization Prompt').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        -480
      ],
      "id": "07ad8e24-1823-430a-8bdc-f9e2e9d03145",
      "name": "Add Footer to Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').item.json.telegram_id }}",
        "text": "=✅ Организация сохранена!\n\nТеперь укажите количество виртуальных машин, которое вам необходимо:\n\n💼 Тарифы:\n• 3-9 ВМ → Basic (5000₽/мес)\n• 10-49 ВМ → Standard (15000₽/мес)\n• 50+ ВМ → Premium (40000₽/мес)\n\nВведите число от 3 до 999:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -3104
      ],
      "id": "4d761128-c825-456b-9ce2-8a5e1b061fe8",
      "name": "Send Request License Count",
      "webhookId": "d9fe8dce-bd8e-4073-b0e4-5fb52d739d71",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=🎉 Регистрация ранее выполнена!\n\n👤 Пользователь: {{ $json.username }}\n💼 Лицензия: {{ $json.license_type }} \n\nДоступные команды:\n/myresources - Посмотреть свои ресурсы\n/createvm - Создать виртуальную машину\n/softwarecatalog - Каталог доступного ПО",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -3824
      ],
      "id": "ee1df14f-b92f-42f5-8f34-5c9f6b5a376d",
      "name": "Send: Already Registered",
      "webhookId": "71e0f814-f2f7-4dc2-a7b1-6cf4c971c294",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Command Router').first().json.telegram_id }}",
        "text": "=✅ Регистрация организации завершена!\n\n👤 Email: {{ $('Check Registration for Commands').first().json.email }}\n🏢 Организация: {{ $('Check Registration for Commands').first().json.organization }}\n💼 Лицензия: {{ $('Check Registration for Commands').first().json.license_type }} на {{ $('Update User with Limit').item.json.license_limit }} ВМ\n\n📋 Доступные команды:\n/createvm - Создать виртуальную машину\n/myresources - Мои ресурсы\n/help - Справка\n\nИспользуйте /createvm для создания вашей первой ВМ!\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -2896
      ],
      "id": "26db6b7b-4791-4c79-9c25-f754c130b742",
      "name": "Send: Registration Finish",
      "webhookId": "6a6cf2d9-65af-4d5a-bbb8-ed0a737a7ade",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, telegram_id, username, email, organization, \n       license_type, license_limit, registered_at\nFROM users \nWHERE user_id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        -1328
      ],
      "id": "59e949c7-6339-4a58-bb01-b0ec11ee752d",
      "name": "Get User for VM Details",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2064,
        -2880
      ],
      "id": "61b98a87-f107-4a35-9de3-682d8c131614",
      "name": "Get User for VM Creation",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "vm_id",
              "value": "={{ $json.vm_id }}"
            },
            {
              "column": "vm_name",
              "value": "={{ $json.vm_name }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3808,
        -1424
      ],
      "id": "688c9daa-e2f3-46a7-a392-f794d85ecfd7",
      "name": "Get VM by NameID",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -1104
      ],
      "id": "fcd657f6-fdc4-4f2d-b608-b8f98ad6b2ae",
      "name": "Get VMs for Resources",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2768,
        -400
      ],
      "id": "ede47811-9012-48fa-8e1f-1c917f62d145",
      "name": "Get User for Optimize",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  vm.*,\n  COALESCE((\n    SELECT jsonb_agg(to_jsonb(sc) ORDER BY sc.software_id)\n    FROM unnest(vm.software_installed) AS sid(software_id)\n    JOIN software_catalog sc\n      ON sc.software_id = sid.software_id\n  ), '[]'::jsonb) AS software_installed_details,\n  COALESCE((\n    SELECT array_agg(sc.name ORDER BY sc.name)\n    FROM unnest(vm.software_installed) AS sid(software_id)\n    JOIN software_catalog sc\n      ON sc.software_id = sid.software_id\n  ), ARRAY[]::text[]) AS software_installed_names\nFROM virtual_machines vm\nWHERE vm.user_id = {{ $json.user_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3280,
        -480
      ],
      "id": "0e6aea3c-3f78-4c63-889b-7489122963f0",
      "name": "Get VMs for Optimize",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM users WHERE user_id = {{ $('Switch Analyze').item.json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        0
      ],
      "id": "d23dcf84-5baa-45fb-9348-3178cd4ae382",
      "name": "Get User for Idle Check",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM virtual_machines WHERE user_id = {{ $json.user_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        -96
      ],
      "id": "bcda25c0-10dd-48a9-b395-35375fe6cee6",
      "name": "Get VMs for Idle Check",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "software_catalog",
          "mode": "list",
          "cachedResultName": "software_catalog"
        },
        "sort": {
          "values": [
            {
              "column": "software_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        -1760
      ],
      "id": "6e820cb0-27e9-41aa-ab1d-cce583663b18",
      "name": "Load Software Catalog",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "telegram_id",
              "value": "={{ $json.telegram_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1984,
        -1712
      ],
      "id": "289cecdf-13c1-4c91-9216-53bb4327c03d",
      "name": "Check Registration for Commands",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "license_limit": "={{ $json.license_limit }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "username": "={{ $json.username }}",
            "license_type": "={{ $json.license_type }}",
            "registered_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "registered_at",
              "displayName": "registered_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        -3616
      ],
      "id": "96f03720-d6b1-4408-b746-ee79367e454a",
      "name": "Add New User",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users \nSET license_limit = {{ $('Edit Fields').item.json.text }}\nWHERE user_id = {{ $json.user_id }}\nRETURNING user_id, license_limit;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -2896
      ],
      "id": "2eb1fbf7-1f70-4080-8fa6-7fc4c2e915fe",
      "name": "Update User with Limit",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "virtual_machines",
          "mode": "list",
          "cachedResultName": "virtual_machines"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alert_sent": true,
            "vm_id": "={{ $json.vm_id }}",
            "user_id": "={{ $json.user_id }}",
            "cpu_usage_avg": "={{ $json.cpu_usage_avg }}",
            "usage_hours_week": "={{ $json.usage_hours_week }}",
            "inactivity_days": "={{ $json.inactivity_days }}",
            "monthly_cost": "={{ $json.monthly_cost }}",
            "vm_name": "={{ $json.vm_name }}",
            "created_at": "={{ $json.created_at }}",
            "status": "={{ $json.status }}",
            "last_active": "={{ $json.last_active }}",
            "ram_usage_avg": "={{ $json.ram_usage_avg }}",
            "software_installed": "=[{{ $json.software_installed }}]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vm_id",
              "displayName": "vm_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vm_name",
              "displayName": "vm_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "software_installed",
              "displayName": "software_installed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_active",
              "displayName": "last_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpu_usage_avg",
              "displayName": "cpu_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ram_usage_avg",
              "displayName": "ram_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "usage_hours_week",
              "displayName": "usage_hours_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "inactivity_days",
              "displayName": "inactivity_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_cost",
              "displayName": "monthly_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3328,
        -2560
      ],
      "id": "b639fa0a-ddab-47fc-a557-557ff88ed76f",
      "name": "Add VM to DB",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1168,
        -1024
      ],
      "id": "863c103b-1f9e-42d8-9b92-b5b04803df07",
      "name": "Get User",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "software_catalog",
          "mode": "list",
          "cachedResultName": "software_catalog"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        -3008
      ],
      "id": "f22931fa-e8f6-47dd-a88d-71d815be4237",
      "name": "Load Software Catalog2",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.user_id }}",
        "value": "={{\n  JSON.stringify({ \n    state: \"awaiting_email\", \n    user_id: null, \n    username: null, \n    timestamp: new Date().toISOString() \n    }) \n}}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        -3616
      ],
      "id": "b9c7a2b3-3c2a-412d-a102-98e0ded5158b",
      "name": "Set User State register",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users \nSET email = '{{ $('Edit Fields').item.json.text }}'\nWHERE telegram_id = {{ $('Command Router').item.json.telegram_id }}\nRETURNING user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -3312
      ],
      "id": "b8a13d8b-70b1-4349-b60d-d2228a25f857",
      "name": "Update User with Email",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "state",
        "key": "=redis-state:{{ $json.user_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        -2912
      ],
      "id": "9a082a1c-45e8-4e1c-a431-ef00f36e438a",
      "name": "Get Current State",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users \nSET organization = '{{ $('Webhook - Telegram Bot').first().json.message.text }}'\nWHERE user_id = {{ $json.user_id }}\nRETURNING user_id, organization;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -3104
      ],
      "id": "1df04e0d-ecf1-4928-8110-2b29253514cb",
      "name": "Update Users with Org",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.user_id }}",
        "value": "={{ \n  JSON.stringify({ \n  state: \"awaiting_organization\", \n  user_id: $('Update User with Email').first().json.user_id, \n  username: $('Update User with Email').first().json.username, \n  email: $json.text, \n  timestamp: new Date().toISOString() \n  }) \n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        -3312
      ],
      "id": "0e7e6b93-08fd-4f9a-b4a2-7239f5121733",
      "name": "Update State Email",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.user_id }}",
        "value": "={{\n  JSON.stringify({\n    state: \"awaiting_license_count\",\n    user_id: $('Update Users with Org').first().json.user_id,\n    organization: $('Update Users with Org').first().json.organization,\n    timestamp: new Date().toISOString()\n  })\n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        -3104
      ],
      "id": "0fce0751-2372-4f40-b2ef-f28da8d39c69",
      "name": "Update State Organization",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.user_id }}",
        "value": "={{\n  JSON.stringify({\n    state: \"awaiting_software\",\n    user_id: $json.user_id,\n    timestamp: new Date().toISOString()\n  })\n}}",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        -2896
      ],
      "id": "a42d579f-78c3-47fc-826e-5bc198f962ff",
      "name": "Update State License",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "==redis-state:{{ $json.user_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1296,
        -2896
      ],
      "id": "fe2ddb12-0669-40da-9c48-c83a74f6a57c",
      "name": "Clear User State",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем элемент из предыдущего узла (Redis)\nconst item = $input.first();\n\n// Если данных нет, возвращаем дефолтное состояние (например, null или 'start')\nif (!item || !item.json || !item.json.state) {\n  return {\n    json: {\n      state: null,      // Состояния нет\n      user_id: null,\n      full_data: {}     // Пустой объект данных\n    }\n  };\n}\n\nlet parsedData = {};\nlet currentState = null;\n\ntry {\n  // Пытаемся распарсить строку, пришедшую из Redis\n  // item.json.state - это строка \"{\\\"state\\\":\\\"awaiting_email\\\",...}\"\n  const rawState = item.json.state;\n  \n  if (typeof rawState === 'string') {\n    parsedData = JSON.parse(rawState);\n  } else if (typeof rawState === 'object') {\n    parsedData = rawState;\n  }\n  \n  // Извлекаем само название состояния\n  currentState = parsedData.state || null;\n  \n} catch (error) {\n  console.log('Ошибка парсинга JSON из Redis:', error);\n  currentState = null;\n}\n\n// Возвращаем чистую структуру для State Router\nreturn {\n  json: {\n    state: currentState,           // Строка для Switch (например: \"awaiting_email\")\n    user_id: parsedData.user_id,   // ID юзера (если есть)\n    username: parsedData.username, // Имя (если есть)\n    full_data: parsedData          // Весь объект на случай, если понадобится позже\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -2912
      ],
      "id": "a443c44d-04b3-4b1d-806b-51fb29d378b5",
      "name": "Parse State"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=redis-state:{{ $json.user_id }}",
        "value": "={{ JSON.stringify({\n  state: \"awaiting_software_selection\",\n  user_id: $('Get User for VM Creation').item.json.user_id,\n  timestamp: new Date().toISOString()\n}) }}\n",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3568,
        -3040
      ],
      "id": "ef81ee38-8ad0-4f79-a89d-0c8c1fa2a08a",
      "name": "Set State: Awaiting Software",
      "credentials": {
        "redis": {
          "id": "k3rZiJXMKohxs4tn",
          "name": "Redis beget 47"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "software_catalog",
          "mode": "list",
          "cachedResultName": "software_catalog"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4016,
        -1424
      ],
      "id": "49ec2bcd-1198-468f-9f96-702f3c899822",
      "name": "Load Software Catalog3",
      "credentials": {
        "postgres": {
          "id": "uHdhvi0uS3Mpktwy",
          "name": "Postgres beget 31"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Telegram Bot": {
      "main": [
        [
          {
            "node": "Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Get Current State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered?": {
      "main": [
        [
          {
            "node": "Load Software Catalog2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License Limit": {
      "main": [
        [
          {
            "node": "Can Create VM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Create VM?": {
      "main": [
        [
          {
            "node": "Prepare Software Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VM with Software": {
      "main": [
        [
          {
            "node": "Add VM to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          {
            "node": "Send: Resources Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Optimization Prompt": {
      "main": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Idle VMs": {
      "main": [
        [
          {
            "node": "Send: Idle Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Catalog Message": {
      "main": [
        [
          {
            "node": "Send: Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimization Analysis": {
      "main": [
        [
          {
            "node": "Add Footer to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VM ID": {
      "main": [
        [
          {
            "node": "Valid VM ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid VM ID?": {
      "main": [
        [
          {
            "node": "Get VM by NameID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: VM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format VM Details Message": {
      "main": [
        [
          {
            "node": "Send: VM Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Limit Exceeded": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is Start Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Resources?": {
      "main": [
        [
          {
            "node": "Get VMs for Resources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Optimize?": {
      "main": [
        [
          {
            "node": "Get VMs for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Optimize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Idle Check?": {
      "main": [
        [
          {
            "node": "Get VMs for Idle Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Software Menu": {
      "main": [
        [
          {
            "node": "Set State: Awaiting Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request Email": {
      "main": [
        []
      ]
    },
    "Generate Registration Data": {
      "main": [
        [
          {
            "node": "Add New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Registered?": {
      "main": [
        [
          {
            "node": "Send: Already Registered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Registration Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch View": {
      "main": [
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Analyze": {
      "main": [
        [
          {
            "node": "Get User for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered for Start?": {
      "main": [
        [
          {
            "node": "Send: Welcome (Registered)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Please Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Register Command?": {
      "main": [
        [
          {
            "node": "Already Registered?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Registration for Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered for Commands?": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Please Register First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [
          {
            "node": "Update User with Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Users with Org",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update User with Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command?": {
      "main": [
        [
          {
            "node": "User Registered for Start?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Register Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Software Menu": {
      "main": [
        []
      ]
    },
    "Route Catalog Output": {
      "main": [
        [
          {
            "node": "Create VM with Software",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Catalog Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context Info": {
      "main": [
        [
          {
            "node": "Route Catalog Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Footer to Message": {
      "main": [
        [
          {
            "node": "Send: AI Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request License Count": {
      "main": [
        []
      ]
    },
    "Send Request Organization": {
      "main": [
        []
      ]
    },
    "Get User for VM Details": {
      "main": [
        [
          {
            "node": "Parse VM ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for VM Creation": {
      "main": [
        [
          {
            "node": "User Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VM by NameID": {
      "main": [
        [
          {
            "node": "Load Software Catalog3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Resources": {
      "main": [
        [
          {
            "node": "Calculate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Optimize": {
      "main": [
        [
          {
            "node": "User Found for Optimize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Optimize": {
      "main": [
        [
          {
            "node": "Build Optimization Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Idle Check": {
      "main": [
        [
          {
            "node": "User Found for Idle Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Idle Check": {
      "main": [
        [
          {
            "node": "Detect Idle VMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog": {
      "main": [
        [
          {
            "node": "Add Context Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Registration for Commands": {
      "main": [
        [
          {
            "node": "User Registered for Commands?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New User": {
      "main": [
        [
          {
            "node": "Set User State register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Limit": {
      "main": [
        [
          {
            "node": "Update State License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add VM to DB": {
      "main": [
        [
          {
            "node": "Send: VM Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "User Found for Resources?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog2": {
      "main": [
        [
          {
            "node": "Check License Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User State register": {
      "main": [
        [
          {
            "node": "Send Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Email": {
      "main": [
        [
          {
            "node": "Update State Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current State": {
      "main": [
        [
          {
            "node": "Parse State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Users with Org": {
      "main": [
        [
          {
            "node": "Update State Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State Email": {
      "main": [
        [
          {
            "node": "Send Request Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State Organization": {
      "main": [
        [
          {
            "node": "Send Request License Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State License": {
      "main": [
        [
          {
            "node": "Send: Registration Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Registration Finish": {
      "main": [
        [
          {
            "node": "Clear User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse State": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State: Awaiting Software": {
      "main": [
        [
          {
            "node": "Send Software Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog3": {
      "main": [
        [
          {
            "node": "Format VM Details Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1e6c6f9-0c98-41bb-b93b-24d174b5fe9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4300700b5a89163b88ad6a908ff9e3076c705e8b03a3f40f03ff2f29f7e4289"
  },
  "id": "8fMPbkdJOZiJulZD",
  "tags": [
    {
      "updatedAt": "2026-01-01T10:05:42.794Z",
      "createdAt": "2026-01-01T10:05:42.794Z",
      "id": "FnoHHZ9X50FaY3Y2",
      "name": "redis"
    },
    {
      "updatedAt": "2026-01-01T10:05:39.508Z",
      "createdAt": "2026-01-01T10:05:39.508Z",
      "id": "hLmpjl8xP4ZIbj8N",
      "name": "postgres"
    },
    {
      "updatedAt": "2025-12-12T17:26:52.994Z",
      "createdAt": "2025-12-12T17:26:52.994Z",
      "id": "J09NNQhWt9FvC7x9",
      "name": "Telegram"
    }
  ]
}