07_Smart_License_Usage_Analyzer/Smart License Usage Analyzer.json
{
  "name": "Smart License Usage Analyzer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4096,
        -1584
      ],
      "id": "255774f6-d648-4425-ac99-76ec7ce2dbf2",
      "name": "Webhook - Telegram Bot",
      "webhookId": "87ddb7ae-afa2-4c10-8268-5aac0252165b",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0aebe7-3cc2-436b-9e72-97a6755e7829",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4 - User Input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06f8b71a-a419-4fc2-8746-c0569ad7bfbd",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 - Создание ВМ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8104b393-31e7-47be-b040-daa9528965e5",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(myresources|softwarecatalog|vmdetails)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 - Просмотр (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8342202e-e017-4985-b2dc-c193b6942c3b",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=^/(optimize|checkidle)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 - Анализ (объединённое)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c276292-995f-4620-8090-129e10a08a83",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "=/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5 - Помощь"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Обработчик Fallback: Неизвестная команда"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1344,
        -1136
      ],
      "id": "b65b5dca-3aff-42b2-9f41-652bfdac43b0",
      "name": "Command Router",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "672b5415-5aae-4b51-a0d1-72f0785edaf7",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        -1568
      ],
      "id": "efae6dd4-b61b-4b94-af0d-a5d0cea59d23",
      "name": "User Registered?"
    },
    {
      "parameters": {
        "jsCode": "// Проверяем наличие данных пользователя\nconst userNode = $('Get User for VM Creation');\nif (!userNode || userNode.all().length === 0) {\n  return [{\n    json: {\n      canCreate: false,\n      currentCount: 0,\n      limit: 0,\n      error: 'User not found',\n      chat_id: $('Edit Fields').item.json.chat_id\n    },\n    pairedItem: 0\n  }];\n}\n\nconst userData = userNode.first().json;\nconst allVMs = $input.all();\n\n// Считаем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => \n  parseInt(vm.json.user_id) === parseInt(userData.user_id)\n);\n\nconst currentCount = userVMs.length;\nconst limit = parseInt(userData.license_limit) || 0;\n\nreturn [{\n  json: {\n    canCreate: currentCount < limit,\n    currentCount,\n    limit,\n    user_id: userData.user_id,\n    telegram_id: userData.telegram_id,\n    username: userData.username,\n    chat_id: $('Edit Fields').item.json.chat_id\n  },\n  pairedItem: 0\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -1584
      ],
      "id": "b06fcfbf-0471-4ca6-aa11-03b8e40f2234",
      "name": "Check License Limit",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "243b271c-bcaa-49e1-9711-4117e72a2b0d",
              "leftValue": "={{ $json.canCreate }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2704,
        -1520
      ],
      "id": "adfab979-0385-4f08-83dc-b7a016ab4f23",
      "name": "Can Create VM?"
    },
    {
      "parameters": {
        "jsCode": "// Безопасная проверка: откуда пришли данные?\nlet userData = null;\n\ntry {\n  const userNode = $('Get User for VM Creation');\n  if (userNode && userNode.all().length > 0) {\n    userData = userNode.first().json;\n  }\n} catch (e) {\n  // Узел не выполнялся — значит пришли через State Router\n}\n\n// Если userData нет — получаем из State Router\nif (!userData) {\n  const stateData = $('Check User State').first().json;\n  \n  // Парсим данные из поля data\n  let parsedData = {};\n  try {\n    parsedData = typeof stateData.data === 'string' \n      ? JSON.parse(stateData.data) \n      : stateData.data || {};\n  } catch (e) {\n    console.error('Ошибка парсинга data:', e);\n    parsedData = {};\n  }\n  \n  // ОБЯЗАТЕЛЬНО берём user_id из data, НЕ из telegram_id!\n  if (!parsedData.user_id) {\n    throw new Error('❌ В состоянии пользователя нет user_id! Обратитесь к администратору.');\n  }\n  \n  userData = {\n    user_id: parsedData.user_id,\n    telegram_id: stateData.telegram_id,\n    username: parsedData.username || `User${parsedData.user_id}`\n  };\n}\n\n// Получаем входной текст (номера ПО)\nconst userInput = $('Edit Fields').item.json.text;\n\n// Парсим выбранные ID ПО\nlet selectedSoftwareIds = [];\n\n// Убираем команду /createvm если есть\nconst cleanInput = userInput.replace(/^\\/createvm\\s*/i, '').trim();\n\nif (cleanInput) {\n  // Пользователь ввёл номера\n  selectedSoftwareIds = cleanInput.split(',')\n    .map(id => parseInt(id.trim()))\n    .filter(id => !isNaN(id));\n}\n\n// Если не указано ПО — ошибка!\nif (selectedSoftwareIds.length === 0) {\n  throw new Error('Не указано ПО для установки! Выберите из меню.');\n}\n\n// Загружаем каталог ПО (БЕЗОПАСНО!)\nlet softwareCatalog = [];\ntry {\n  const catalogNode = $('Load Software Catalog').first();\n  \n  if (Array.isArray(catalogNode.json)) {\n    softwareCatalog = catalogNode.json;\n  } else {\n    const allCatalog = $('Load Software Catalog').all();\n    if (Array.isArray(allCatalog)) {\n      softwareCatalog = allCatalog.map(item => item.json);\n    }\n  }\n} catch (e) {\n  console.error('Ошибка загрузки каталога:', e);\n  softwareCatalog = [];\n}\n\n// Рассчитываем стоимость и список ПО\nlet monthlyCost = 0;\nconst installedSoftware = [];\n\nselectedSoftwareIds.forEach(id => {\n  const sw = softwareCatalog.find(s => parseInt(s.software_id) === id);\n  if (sw) {\n    monthlyCost += parseInt(sw.cost_per_month);\n    installedSoftware.push(sw.name);\n  }\n});\n\n// Получаем все существующие ВМ для генерации нового ID (БЕЗОПАСНО!)\nlet allVMs = [];\ntry {\n  const vmsNode = $('Get Existing VMs for User');\n  if (vmsNode && vmsNode.all) {\n    const vmsData = vmsNode.all();\n    if (Array.isArray(vmsData)) {\n      allVMs = vmsData;\n    }\n  }\n} catch (e) {\n  allVMs = [];\n}\n\n// Генерируем УНИКАЛЬНЫЙ vmid\n// Используем timestamp + случайное число для гарантии уникальности\nconst timestamp = Date.now();\nconst random = Math.floor(Math.random() * 1000);\nconst newVmId = parseInt(`${timestamp}${random}`.slice(-10)); // Берём последние 10 цифр\n\n// Генерируем УНИКАЛЬНОЕ имя ВМ\n// Формат: VM-[user_id]-[timestamp]-[ПО]\nconst shortTimestamp = timestamp.toString().slice(-6); // Последние 6 цифр\nconst softwareAbbr = installedSoftware.length > 0 \n  ? installedSoftware[0].substring(0, 3).toUpperCase() \n  : 'SYS';\nconst vmName = `VM-${userData.user_id}-${shortTimestamp}-${softwareAbbr}`;\n\n// Симулируем метрики\nconst usageHours = Math.floor(Math.random() * 36) + 5; // 5-40 часов\nconst cpuUsage = Math.floor(Math.random() * 70) + 15; // 15-85%\nconst ramUsage = Math.floor(Math.random() * 60) + 30; // 30-90%\n\nlet status = 'active';\nif (usageHours < 5) status = 'stopped';\nelse if (usageHours < 20) status = 'idle';\n\nconst now = new Date();\nconst createdAt = now.toISOString().split('T')[0];\n\nreturn {\n  json: {\n    vm_id: newVmId,\n    user_id: userData.user_id,\n    vm_name: vmName,\n    software_installed: selectedSoftwareIds.join(','),\n    created_at: createdAt,\n    last_active: createdAt,\n    cpu_usage_avg: cpuUsage,\n    ram_usage_avg: ramUsage,\n    status: status,\n    monthly_cost: monthlyCost,\n    usage_hours_week: usageHours,\n    inactivity_days: 0,\n    alert_sent: false,\n    installed_software_names: installedSoftware.join(', '),\n    chat_id: $('Edit Fields').item.json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -960
      ],
      "id": "d94c4803-742f-4665-8588-58fcfe08dd48",
      "name": "Create VM with Software"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vm_id": "={{ $json.vm_id }}",
            "user_id": "={{ $json.user_id }}",
            "vm_name": "={{ $json.vm_name }}",
            "software_installed": "={{ $json.software_installed }}",
            "created_at": "={{ $json.created_at }}",
            "last_active": "={{ $json.last_active }}",
            "cpu_usage_avg": "={{ $json.cpu_usage_avg }}",
            "ram_usage_avg": "={{ $json.ram_usage_avg }}",
            "status": "={{ $json.status }}",
            "monthly_cost": "={{ $json.monthly_cost }}",
            "usage_hours_week": "={{ $json.usage_hours_week }}",
            "inactivity_days": "={{ $json.inactivity_days }}",
            "alert_sent": "={{ $json.alert_sent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vm_id",
              "displayName": "vm_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vm_name",
              "displayName": "vm_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "software_installed",
              "displayName": "software_installed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_active",
              "displayName": "last_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpu_usage_avg",
              "displayName": "cpu_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ram_usage_avg",
              "displayName": "ram_usage_avg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_cost",
              "displayName": "monthly_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usage_hours_week",
              "displayName": "usage_hours_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inactivity_days",
              "displayName": "inactivity_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        -1136
      ],
      "id": "58c1836b-a025-4517-a810-5ccf7110d55d",
      "name": "Save VM to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Create VM with Software').item.json.chat_id }}",
        "text": "=✅ ВМ создана!\n\n📦 Название ВИ: {{ $json.vm_name }}\n💿 Установленное ПО: {{ $json.software_installed }}\n📊 Статус: {{ $json.status }}\n💰 Стоимость: {{ $json.monthly_cost }} ₽/мес\n\n⚙️ Ресурсы:\n• CPU: ____ %\n• RAM: ____ %\n• Использование: ____ ч/неделю\n\nКоманды:\n📱 /myresources — все ресурсы\n🔍 /vmdetails {{ $json.vm_id }} — подробности",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2976,
        -976
      ],
      "id": "961fa40d-600f-4dc5-bf7a-7605d30247d4",
      "name": "Send: VM Created",
      "webhookId": "dc4f3e65-b34f-4f4d-89f7-c398efd6638e",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Создание ВМ (/create_vm)\n\n1. Пользователь отправляет команду `/createvm`, сообщение попадает из `Webhook - Telegram Bot` в `Edit Fields`\n1. Затем через `Command Router` в ветку «**1 - Создание ВМ**».\n1. Узел `Get User for VM Creation` загружает данные пользователя из таблицы, а `User Registered?` проверяет, зарегистрирован ли он\n1. При отрицательном результате выполняется `Send: Not Registered`.\n1. Если пользователь зарегистрирован, `Get Existing VMs for User` подтягивает список его ВМ, затем `Check License Limit` считает количество ВМ и сравнивает с лимитом лицензии, результат уходит в `Can Create VM?`.\n1. В `Can Create VM?` при наличии свободного лимита формируется меню ПО через `Prepare Software Menu` (далее — узел отправки этого меню в Telegram), а при превышении лимита срабатывает `Send: Limit Exceeded`.\n1. После того как пользователь выбрал ПО, кодовый узел `Create VM with Software` рассчитывает параметры новой ВМ и формирует запись, `Save VM to Sheet` добавляет строку в таблицу **Virtual_Machines**\n1. `Send: VM Created` отправляет в Telegram итоговое сообщение о созданной ВМ и подсказки по дальнейшим командам.\n",
        "height": 1312,
        "width": 2464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -1952
      ],
      "typeVersion": 1,
      "id": "9c6d80cd-51c3-417c-a782-be00a58d4ca1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User for Resources').first().json;\nconst allVMs = $('Get VMs for Resources').all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\nlet totalCost = 0;\nlet activeCount = 0;\nlet idleCount = 0;\nlet stoppedCount = 0;\nlet activeCost = 0;\nlet idleCost = 0;\nlet stoppedCost = 0;\n\nuserVMs.forEach(vm => {\n  totalCost += vm.json.monthly_cost;\n  \n  if (vm.json.status === 'active') {\n    activeCount++;\n    activeCost += vm.json.monthly_cost;\n  } else if (vm.json.status === 'idle') {\n    idleCount++;\n    idleCost += vm.json.monthly_cost;\n  } else {\n    stoppedCount++;\n    stoppedCost += vm.json.monthly_cost;\n  }\n});\n\nconst licenseMap = {\n  basic: { name: 'Basic', limit: 3, cost: 5000 },\n  standard: { name: 'Standard', limit: 10, cost: 15000 },\n  premium: { name: 'Premium', limit: 50, cost: 40000 }\n};\n\nconst license = licenseMap[userData.license_type];\n\nlet message = `📊 Ваши ресурсы\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `👤 Пользователь: ${userData.username}\\n`;\nmessage += `💼 Лицензия: ${license.name} (${userVMs.length}/${license.limit} ВМ)\\n`;\nmessage += `💰 Затраты: ${totalCost.toLocaleString()}₽/мес\\n\\n`;\n\nmessage += `🖥️ Виртуальные машины:\\n`;\nmessage += `✅ Активных: ${activeCount} (${activeCost.toLocaleString()}₽)\\n`;\nmessage += `⚠️ Простаивающих: ${idleCount} (${idleCost.toLocaleString()}₽)\\n`;\nmessage += `❌ Остановленных: ${stoppedCount} (${stoppedCost.toLocaleString()}₽)\\n\\n`;\n\n// ДОБАВЛЯЕМ СПИСОК ВМ\nif (userVMs.length > 0) {\n  message += `📋 Список ВМ:\\n`;\n  userVMs.forEach((vm, index) => {\n    const statusIcon = vm.json.status === 'active' ? '✅' : \n                       vm.json.status === 'idle' ? '⚠️' : '❌';\n    message += `${index + 1}. ${statusIcon} ${vm.json.vm_name}\\n`;\n    message += `   💿 ПО: ${vm.json.software_installed}\\n`;\n    message += `   💰 ${vm.json.monthly_cost.toLocaleString()}₽/мес\\n`;\n    message += `   🔍 /vmdetails ${vm.json.vm_id}\\n\\n`;\n  });\n}\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/optimize - Получить рекомендации\\n`;\nmessage += `/checkidle - Проверить простаивающие ВМ`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        528
      ],
      "id": "a124ed41-eebf-45ba-95b7-ff90020780b8",
      "name": "Calculate Summary"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        528
      ],
      "id": "47ada2b0-29fd-41cf-8ecc-e0ae70e2ab75",
      "name": "Send: Resources Summary",
      "webhookId": "93478464-7aa2-42d3-b91d-00effe75322d",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Мои ресурсы (/my_resources)\n\n1. Команда `/myresources` маршрутизируется через `Command Router` в ветку просмотра ресурсов, где узел `Get User for Resources` получает профиль пользователя, а `Get VMs for Resources` — все его виртуальные машины из таблицы.\n1. Кодовый узел `Calculate Summary` агрегирует статистику по ВМ: считает общее количество, распределение по статусам (**active**/**idle**/**stopped**), общую стоимость и формирует текстовый отчёт с кратким списком ВМ и командами для детального анализа.\n1. Узел `Send: Resources Summary` отправляет пользователю этот отчёт в Telegram, чтобы он видел картину по своим ресурсам и мог перейти к `/vmdetails`, `/optimize` или `/checkidle`.",
        "height": 592,
        "width": 1648,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        288
      ],
      "typeVersion": 1,
      "id": "98464509-71f0-40cb-bc25-2c3b1d9bdef1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Обработчик: AI-Оптимизация (/optimize)\n\n1. При команде` /optimize` Command Router направляет сообщение в ветку анализа, где `Get User for Optimize` загружает данные пользователя и его лицензии, а `Get VMs for Optimize` — список всех его ВМ.\n1. Параллельно в workflow уже загружен каталог ПО (через Load Software Catalog), и узел `Build Optimization Prompt` на основе данных по ВМ, лицензии и ПО собирает подробный текстовый промпт для LLM.\n1. Узел OpenRouter Chat Model (через внутренний узел `AI Optimization Analysis`) обрабатывает этот промпт, `Add Footer to Message` добавляет стандартные пояснения и подсказки\n1.  `Send: AI Recommendations` возвращает пользователю готовый текст с рекомендациями по удалению, объединению ВМ и оптимизации лицензии.",
        "height": 544,
        "width": 2048,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        1792
      ],
      "typeVersion": 1,
      "id": "e96f8c34-9cea-4b79-ba80-f293d1bf9037",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные пользователя\nconst userData = $('Get User for Optimize').first().json;\n\n// Получаем ВМ пользователя\nconst allVMs = $('Get VMs for Optimize').all();\n\n// Получаем каталог ПО\nconst software = $input.all();\n\n// Фильтруем ВМ текущего пользователя\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Создаём справочник ПО\nconst softwareMap = {};\nsoftware.forEach(sw => {\n  softwareMap[sw.json.software_id] = sw.json;\n});\n\n// Формируем детальное описание каждой ВМ\nlet vmDescriptions = '';\nuserVMs.forEach((vm, index) => {\n  // БЕЗОПАСНО парсим software_installed (может быть числом или строкой)\n  let softwareIds = [];\n  if (vm.json.software_installed) {\n    const softwareStr = String(vm.json.software_installed);\n    softwareIds = softwareStr.split(',').map(id => parseInt(id.trim())).filter(id => !isNaN(id));\n  }\n  \n  const softwareNames = softwareIds.map(id => \n    softwareMap[id] ? softwareMap[id].name : 'Unknown'\n  ).join(', ');\n  \n  vmDescriptions += `${index + 1}. ${vm.json.vm_name}\\n`;\n  vmDescriptions += `   ПО: ${softwareNames || 'Не установлено'}\\n`;\n  vmDescriptions += `   Использование: ${vm.json.usage_hours_week || 0} часов/неделю\\n`;\n  vmDescriptions += `   CPU: ${vm.json.cpu_usage_avg || 0}%, RAM: ${vm.json.ram_usage_avg || 0}%\\n`;\n  vmDescriptions += `   Простой: ${vm.json.inactivity_days || 0} дней\\n`;\n  vmDescriptions += `   Стоимость: ${vm.json.monthly_cost || 0}₽/мес\\n`;\n  vmDescriptions += `   Статус: ${vm.json.status}\\n\\n`;\n});\n\n// Если нет ВМ\nif (userVMs.length === 0) {\n  return {\n    json: {\n      error: true,\n      message: '❌ У вас нет виртуальных машин для анализа\\n\\nСоздайте ВМ командой /createvm',\n      chat_id: $('Edit Fields').first().json.chat_id\n    }\n  };\n}\n\nconst totalCost = userVMs.reduce((sum, vm) => sum + (vm.json.monthly_cost || 0), 0);\n\nconst prompt = `Проанализируй использование виртуальных машин и дай конкретные рекомендации.\n\n📊 Данные пользователя:\n- Лицензия: ${userData.license_type} (${userVMs.length}/${userData.license_limit} ВМ)\n- Текущие затраты: ${totalCost}₽/мес\n\n🖥️ Виртуальные машины:\n${vmDescriptions}\n\n📋 Задачи:\n1. Определи ВМ для удаления (критерий: простой >14 дней ИЛИ usage_hours_week <5)\n2. Найди ВМ для объединения (критерий: похожий набор ПО И суммарная нагрузка CPU+RAM <140%)\n3. Оцени оптимизацию лицензии:\n   - basic: 3 ВМ, 5000₽/мес\n   - standard: 10 ВМ, 15000₽/мес\n   - premium: 50 ВМ, 40000₽/мес\n4. Рассчитай потенциальную экономию\n\nВерни ответ СТРОГО по структуре из системного промпта, готовый для отправки в Telegram.`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    chat_id: $('Edit Fields').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1968
      ],
      "id": "305aa05e-6baa-47b4-b604-f6e1c4d653aa",
      "name": "Build Optimization Prompt"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2480,
        2160
      ],
      "id": "24e42efa-b599-4695-9fd5-63a12d474d72",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vTmXgtf5tUnqsJGf",
          "name": "OpenRouter posapr"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        1952
      ],
      "id": "7d78fd12-f2bb-46ab-b069-ca85186691df",
      "name": "Send: AI Recommendations",
      "webhookId": "8e79902a-e5c9-411d-be06-9bd37e23f7bb",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Проверка простоя (/check_idle)\n\n1. Команда `/checkidle` также попадает через Command Router в ветку анализа, где `Get User for Idle Check` получает данные пользователя\n1. Узел `Get VMs for Idle Check` подтягивает все его ВМ с метриками использования и простоя.\n1. Кодовый узел `Detect Idle VMs` классифицирует машины по уровням критичности (катастрофический, критический, высокий, средний, нормальный и т.д.), рассчитывает потенциальную экономию и формирует детализированный отчёт по каждой группе.\n1. Узел `Send: Idle Report` отправляет этот отчёт в Telegram, включая статистику по количеству ВМ, простоям и рекомендации по дальнейшим действиям (в том числе ссылку на `/optimize`).\n",
        "height": 576,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        2384
      ],
      "typeVersion": 1,
      "id": "83f57a39-8372-40ee-9ec4-ef5224c61248",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User for Idle Check').first().json;\nconst allVMs = $('Get VMs for Idle Check').all();\n\nconst userVMs = allVMs.filter(vm => vm.json.user_id === userData.user_id);\n\n// Основная классификация по критичности\nconst catastrophic = []; // >90 дней, stopped с dataLoss или failed\nconst critical = [];     // 30-90 дней или stopped\nconst high = [];         // 14-30 дней или idle с низким usage\nconst medium = [];       // 7-14 дней\nconst normal = [];       // 3-7 дней\nconst low = [];          // 1-3 дня\nconst minimal = [];      // <1 дня\n\n// Мониторинг в реальном времени для активных ВМ\nconst realTimeClassification = {\n  active: [],        // Текущая активная сессия (active_session = true)\n  recent: [],        // <15 минут (0.01 дня)\n  today: [],         // <24 часа (<1 дня)\n  thisWeek: [],      // <7 дней (уже в основных категориях)\n};\n\n// Получаем текущее время для расчёта точного простоя\nconst now = new Date();\n\nuserVMs.forEach(vm => {\n  const vmData = vm.json;\n  const inactivity = vmData.inactivity_days;\n  const status = vmData.status;\n  const usage = vmData.usage_hours_week;\n  const lastActivity = vmData.last_activity_time ? new Date(vmData.last_activity_time) : null;\n  const hasActiveSession = vmData.active_session === true;\n  \n  // Рассчитываем точное время простоя в часах/минутах\n  let exactInactivityHours = inactivity * 24;\n  if (lastActivity) {\n    exactInactivityHours = (now - lastActivity) / (1000 * 60 * 60);\n  }\n  \n  // Классификация по критичности\n  if ((inactivity >= 90 && status !== 'active') || (status === 'stopped' && (vmData.data_loss === true || vmData.state === 'failed'))) {\n    catastrophic.push(vmData);\n  } else if (inactivity >= 30 || (status === 'stopped' && inactivity >= 14)) {\n    critical.push(vmData);\n  } else if (inactivity >= 14 || (status === 'idle' && usage < 5)) {\n    high.push(vmData);\n  } else if (inactivity >= 7) {\n    medium.push(vmData);\n  } else if (inactivity >= 3) {\n    normal.push(vmData);\n  } else if (inactivity >= 1) {\n    low.push(vmData);\n  } else {\n    minimal.push(vmData);\n  }\n  \n  // Детальный мониторинг для активных ВМ (тех, что в minimal)\n  if (inactivity < 1) {\n    if (hasActiveSession) {\n      realTimeClassification.active.push(vmData);\n    } else if (exactInactivityHours < 0.25) { // <15 минут\n      realTimeClassification.recent.push(vmData);\n    } else if (exactInactivityHours < 1) { // <1 часа\n      vmData.inactivity_hours = exactInactivityHours.toFixed(1);\n      realTimeClassification.today.push(vmData);\n    } else {\n      // Остальные ВМ с простоям <1 дня остаются в minimal\n    }\n  }\n});\n\n// Формируем отчёт\nlet message = `🔍 Детальный анализ использования ВМ\\n━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// 1. Катастрофический уровень\nif (catastrophic.length > 0) {\n  message += `⛔ КАТАСТРОФИЧЕСКИЙ УРОВЕНЬ (${catastrophic.length}):\\n`;\n  catastrophic.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Статус: ${vm.status}${vm.data_loss ? ' (ПОТЕРЯ ДАННЫХ!)' : ''}\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: СРОЧНОЕ ВМЕШАТЕЛЬСТВО\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 2. Критический уровень\nif (critical.length > 0) {\n  message += `🔴 ТРЕБУЕТСЯ ДЕЙСТВИЕ (${critical.length}):\\n`;\n  critical.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Удалить\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 3. Высокий уровень\nif (high.length > 0) {\n  message += `🟠 ВЫСОКИЙ ПРИОРИТЕТ (${high.length}):\\n`;\n  high.forEach(vm => {\n    message += `┣━ ${vm.vm_name}\\n`;\n    message += `┃  └ Простой: ${vm.inactivity_days} дней\\n`;\n    message += `┃  └ Использование: ${vm.usage_hours_week || 0}ч/неделю\\n`;\n    message += `┃  └ Затраты: ${vm.monthly_cost}₽/мес\\n`;\n    message += `┃  └ Рекомендация: Рассмотреть удаление\\n┃\\n`;\n  });\n  message += `\\n`;\n}\n\n// 4. Средний уровень\nif (medium.length > 0) {\n  message += `🟡 МОНИТОРИНГ (${medium.length}):\\n`;\n  medium.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней простоя)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 5. Нормальные и низкие (информативно)\nconst normalLowCount = normal.length + low.length;\nif (normalLowCount > 0) {\n  message += `🟢 АКТИВНОЕ ИСПОЛЬЗОВАНИЕ (${normalLowCount}):\\n`;\n  normal.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  low.forEach(vm => {\n    message += `└━ ${vm.vm_name} (${vm.inactivity_days} дней)\\n`;\n  });\n  message += `\\n`;\n}\n\n// 6. Мониторинг в реальном времени\nconst realTimeCount = realTimeClassification.active.length + \n                      realTimeClassification.recent.length + \n                      realTimeClassification.today.length;\n\nif (realTimeCount > 0) {\n  message += `📊 МОНИТОРИНГ В РЕАЛЬНОМ ВРЕМЕНИ:\\n`;\n  \n  if (realTimeClassification.active.length > 0) {\n    message += `🟢 Активные сессии (${realTimeClassification.active.length}):\\n`;\n    realTimeClassification.active.forEach(vm => {\n      message += `└━ ${vm.vm_name} (сейчас онлайн)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.recent.length > 0) {\n    message += `🟡 Недавняя активность (${realTimeClassification.recent.length}):\\n`;\n    realTimeClassification.recent.forEach(vm => {\n      message += `└━ ${vm.vm_name} (<15 минут назад)\\n`;\n    });\n    message += `\\n`;\n  }\n  \n  if (realTimeClassification.today.length > 0) {\n    message += `🔵 Активны сегодня (${realTimeClassification.today.length}):\\n`;\n    realTimeClassification.today.forEach(vm => {\n      message += `└━ ${vm.vm_name} (${vm.inactivity_hours || '0.5'} часов назад)\\n`;\n    });\n    message += `\\n`;\n  }\n}\n\n// 7. Статистика и итоги\nconst totalIdle = catastrophic.length + critical.length + high.length + medium.length;\nconst totalCritical = catastrophic.length + critical.length;\nconst totalActive = userVMs.length - totalIdle;\nconst potentialSaving = [...catastrophic, ...critical, ...high, ...medium]\n  .reduce((sum, vm) => sum + (vm.monthly_cost || 0), 0);\n\nmessage += `📈 СТАТИСТИКА:\\n`;\nmessage += `┣━ Всего ВМ: ${userVMs.length}\\n`;\nmessage += `┣━ Активных: ${totalActive}\\n`;\nmessage += `┣━ Простаивающих: ${totalIdle}\\n`;\nif (totalCritical > 0) {\n  message += `┣━ Критических: ${totalCritical}\\n`;\n}\nmessage += `┗━ Потенциальная экономия: ${potentialSaving.toLocaleString()}₽/мес\\n\\n`;\n\n// 8. Рекомендации\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nif (totalIdle > 0) {\n  message += `💡 РЕКОМЕНДАЦИИ:\\n`;\n  if (catastrophic.length > 0) {\n    message += `• СРОЧНО проверьте ВМ с пометкой ⛔\\n`;\n  }\n  if (critical.length > 0 || high.length > 0) {\n    message += `• Используйте /optimize для детального анализа\\n`;\n  }\n  message += `• Рассмотрите архивацию редко используемых ВМ\\n`;\n} else {\n  message += `✅ Все ВМ используются эффективно!\\n`;\n  message += `Оптимизация не требуется.`;\n}\n\n// 9. Дополнительная информация (если есть активные в реальном времени)\nif (realTimeClassification.active.length > 0) {\n  message += `\\n\\n💻 Сейчас онлайн: ${realTimeClassification.active.length} ВМ`;\n}\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id,\n    idle_count: totalIdle,\n    critical_count: totalCritical,\n    potential_saving: potentialSaving,\n    stats: {\n      total: userVMs.length,\n      active: totalActive,\n      idle: totalIdle,\n      catastrophic: catastrophic.length,\n      critical: critical.length,\n      high: high.length,\n      medium: medium.length,\n      realTime: {\n        active: realTimeClassification.active.length,\n        recent: realTimeClassification.recent.length,\n        today: realTimeClassification.today.length\n      }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        2592
      ],
      "id": "a691a219-db15-413c-809e-151b89035904",
      "name": "Detect Idle VMs"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        2592
      ],
      "id": "f98869f3-ea9b-4dfa-a2f8-842cdca23de2",
      "name": "Send: Idle Report",
      "webhookId": "88bf8701-c882-4d20-aa8a-6cf72294bba2",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Обработчик: Каталог ПО (/software_catalog)\n\n1. При вводе команды `/softwarecatalog` (или эквивалентной формы в regex) Command Router направляет поток в ветку каталога ПО.\n1. Узел `Load Software Catalog` загружает таблицу **Software_Catalog** из Google Sheets\n1. После чего `Add Context Info` обогащает сырые записи дополнительными полями (например, визуальной оценкой ресурсоёмкости).\n1. Кодовый узел `Format Catalog Message` превращает список ПО в структурированное текстовое сообщение с ID, названием, категорией, ценой и кратким описанием\n1. Узел `Send: Software Catalog` отправляет его пользователю вместе с инструкцией, как использовать номера ПО в команде `/createvm`.",
        "height": 512,
        "width": 1520,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -560
      ],
      "typeVersion": 1,
      "id": "7031cc4d-7d50-4e38-8e7c-3ea555f77c80",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1497436515,
          "mode": "list",
          "cachedResultName": "Software_Catalog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1497436515"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        -336
      ],
      "id": "90a2b2c5-3884-4718-aaad-0fb28b81523f",
      "name": "Load Software Catalog",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const software = $input.all();\n\nlet message = `💿 Каталог инженерного ПО\\n━━━━━━━━━━━━━━━\\n\\n`;\n\nsoftware.forEach(sw => {\n  message += `${sw.json.software_id}. ${sw.json.name}\\n`;\n  message += `   📁 Категория: ${sw.json.category}\\n`;\n  message += `   💰 Стоимость: ${sw.json.cost_per_month}₽/мес\\n`;\n  message += `   ⚡ Нагрузка: ${'▓'.repeat(sw.json.resource_weight)}${'░'.repeat(5 - sw.json.resource_weight)} ${sw.json.resource_weight}/5\\n`;\n  message += `   📝 ${sw.json.description}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\nmessage += `Для создания ВМ с выбранным ПО:\\n`;\nmessage += `/create_vm [номера через запятую]\\n`;\nmessage += `Например: /create_vm 1,3,5`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -224
      ],
      "id": "2aef7410-9ccb-4c84-949f-5dd943029ed5",
      "name": "Format Catalog Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        -224
      ],
      "id": "d0574893-7eb2-4af0-8c5c-ba585dafde40",
      "name": "Send: Software Catalog",
      "webhookId": "cd3482b1-ff27-4bac-828c-31da50453b49",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=👋 Добро пожаловать в POSASPR Helper!\n\nЭто прототип системы управления виртуальными машинами с инженерным ПО.\n\n📋 Доступные команды:\n\n➕ /createvm [ID_ПО]\n   Создать виртуальную машину\n   Пример: /createvm 1,3,5\n   Без параметров - случайный выбор ПО\n\n📊 /myresources\n   Посмотреть свои ресурсы и статистику\n\n🤖 /optimize\n   AI-анализ и рекомендации по оптимизации\n\n🔍 /checkidle\n   Проверить простаивающие ВМ\n\n💿 /softwarecatalog\n   Каталог доступного ПО\n\n👤 /register\n   Регистрация в системе (на всякий пожарный)\n\n❓ /help\n   Эта справка\n\n━━━━━━━━━━━━━━━\n💡 Начните с /softwarecatalog",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        -560
      ],
      "id": "1dbc0485-0da9-4942-9bcc-0231d1469b48",
      "name": "Send: Help",
      "webhookId": "ad620208-1b15-40b4-a847-75ae06d8893e",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Неизвестная команда\n\nИспользуйте /help для списка доступных команд",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        -320
      ],
      "id": "54f6268e-eb31-4b46-a4cf-fe6eafeb6977",
      "name": "Send: Unknown Command",
      "webhookId": "c7a0d21b-1728-47ac-aec8-fe333678e31d",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Ты - эксперт по оптимизации IT-инфраструктуры. Анализируй данные о виртуальных машинах и давай конкретные рекомендации на русском языке.\n\nВАЖНО: Твой ответ будет отправлен в Telegram с форматированием Markdown. Используй правила:\n- Заголовки: **🗑️ Удалить** (жирный текст + эмодзи, НЕ используй ##)\n- Пункты списка: • или -\n- Жирный текст: **текст**\n- Курсив: _текст_\n- Код: `текст`\n\nСтруктура ответа:\n\n**🗑️ Удалить**\n\n• **[vm_name]**: [причина]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет ВМ для удаления: \"✅ Все ВМ используются эффективно\")\n\n**🔀 Объединить**\n\n• **[vm_name1]** + **[vm_name2]**: [обоснование]\n  💰 Экономия: [сумма]₽/мес\n\n(Если нет: \"ℹ️ Нет возможности объединения\")\n\n**📉 Оптимизация лицензии**\n\n[Рекомендация или \"✅ Не требуется\"]\n\n**💰 Итого**\n\nПотенциальная экономия: **[сумма]₽/мес** ([процент]%)\n\nНЕ добавляй никакие дополнительные разделители, футеры или команды в конце!"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2544,
        1952
      ],
      "id": "62a18e2d-c119-4340-a61b-5319e1f151bd",
      "name": "AI Optimization Analysis"
    },
    {
      "parameters": {
        "content": "## Обработчик 7: Детали ВМ (/vm_details)\n\n1. Команда `/vmdetails` попадает из Webhook - Telegram Bot через Edit Fields и Command Router в ветку просмотра **2 - Просмотр (объединённое)**, где далее обрабатывается узлом Switch View`. \n1. Узел `Get User for VM Details` загружает информацию о пользователе и его правах доступа к ВМ.\n1. Узел `Parse VM ID` разбирает введённый пользователем идентификатор или имя ВМ (из текста сообщения).\n1. Узел `Valid VM ID?` проверяет, что идентификатор корректен; при ошибке сразу вызывается `Send: VM Error` с подсказкой пользователю.\n1. Узел `Route VM Lookup` направляет поток либо в `Get VM by ID`, либо в `Get VM by Name` (таблица **Virtual_Machines**), в зависимости от того, что именно ввёл пользователь.\n1. Узел `Merge VM Lookup` объединяет результаты поиска по ID/имени в единый объект ВМ, а затем Get Software Info for VM подгружает описание установленного ПО из каталога **Software_Catalog**.\n1. Узел `Format VM Details Message` формирует человекочитаемое описание ВМ (ресурсы, статус, простой, установленное ПО, стоимость) и передаёт его в `Send: VM Details` для отправки пользователю в Telegram.",
        "height": 720,
        "width": 2512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        960
      ],
      "typeVersion": 1,
      "id": "87458785-e57f-40ec-919f-7d826e59334b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "// Парсим команду: /vmdetails [vm_id или vm_name]\nconst message = $('Webhook - Telegram Bot').item.json.message.text;\nconst parts = message.trim().split(' ');\n\nlet vmId = null;\nlet vmName = null;\n\nif (parts.length > 1) {\n  const input = parts[1].trim();\n  \n  // Проверяем, что введено: число или имя\n  if (/^\\d+$/.test(input)) {\n    // Введён числовой ID\n    vmId = parseInt(input);\n  } else if (input.startsWith('VM-')) {\n    // Введено имя ВМ\n    vmName = input;\n  } else {\n    // Некорректный формат\n    return {\n      json: {\n        error: true,\n        message: `❌ Некорректный формат: \"${input}\"\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n      }\n    };\n  }\n}\n\n// Если ничего не указано\nif (!vmId && !vmName) {\n  return {\n    json: {\n      error: false,\n      help: true,\n      message: `💡 Укажите номер или имя ВМ для просмотра деталей\n\nИспользование: /vmdetails [vm_id или vm_name]\nПримеры:\n  /vmdetails 1733158234567\n  /vmdetails VM-526-743610-ANS\n\nУзнать номера ВМ: /myresources`\n    }\n  };\n}\n\nreturn {\n  json: {\n    vm_id: vmId,\n    vm_name: vmName,\n    user_id: $input.first().json.user_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1376
      ],
      "id": "2e1e599f-ecbf-420f-8ea5-77fa15db0979",
      "name": "Parse VM ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27b80a8a-d4ba-4e6c-9234-6e555df1374f",
              "leftValue": "={{ $json.error === undefined || $json.error === false }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        1376
      ],
      "id": "0075a054-fceb-4cb8-881f-f6df0c474bdf",
      "name": "Valid VM ID?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1497436515,
          "mode": "list",
          "cachedResultName": "Software_Catalog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1497436515"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2400,
        1312
      ],
      "id": "5b4c96e1-93a8-4417-87f1-dd2a32d8529e",
      "name": "Get Software Info for VM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// БЕЗОПАСНО получаем данные ВМ (из любого узла, который выполнился)\nlet vmData = null;\n\ntry {\n  const byId = $('Get VM by ID');\n  if (byId && byId.first) {\n    vmData = byId.first().json;\n  }\n} catch (e) {\n  // Узел не выполнялся\n}\n\nif (!vmData) {\n  try {\n    const byName = $('Get VM by Name');\n    if (byName && byName.first) {\n      vmData = byName.first().json;\n    }\n  } catch (e) {\n    // Узел не выполнялся\n  }\n}\n\n// Если данных нет — ошибка\nif (!vmData) {\n  return {\n    json: {\n      error: true,\n      message: '❌ ВМ не найдена\\n\\nИспользуйте /myresources для просмотра списка'\n    }\n  };\n}\n\nconst userData = $('Get User for VM Details').first().json;\nconst softwareCatalog = $input.all();\n\n// Проверяем, принадлежит ли ВМ пользователю\nif (parseInt(vmData.user_id) !== parseInt(userData.user_id)) {\n  return {\n    json: {\n      error: true,\n      message: '❌ У вас нет доступа к этой ВМ'\n    }\n  };\n}\n\n// БЕЗОПАСНО парсим software_installed (может быть числом или строкой)\nlet softwareIds = [];\nif (vmData.software_installed) {\n  const softwareStr = String(vmData.software_installed); // Преобразуем в строку\n  softwareIds = softwareStr.split(',').map(id => parseInt(id.trim())).filter(id => !isNaN(id));\n}\n\nlet softwareList = '';\nlet totalCost = 0;\n\nsoftwareIds.forEach(id => {\n  const sw = softwareCatalog.find(s => parseInt(s.json.software_id) === id);\n  if (sw) {\n    softwareList += `   - ${sw.json.name} (${sw.json.cost_per_month}₽/мес)\\n`;\n    totalCost += parseInt(sw.json.cost_per_month);\n  }\n});\n\n// Если ПО не найдено\nif (softwareList === '') {\n  softwareList = '   - Не установлено\\n';\n}\n\n// Формируем статус-индикатор\nconst statusEmoji = {\n  'active': '✅',\n  'idle': '⚠️',\n  'stopped': '❌'\n};\n\n// Создаём прогресс-бар\nconst createProgressBar = (value, max = 100) => {\n  const filled = Math.round((value / max) * 10);\n  return '▓'.repeat(filled) + '░'.repeat(10 - filled);\n};\n\n// Рассчитываем потери от простоя\nconst inactivityDays = parseInt(vmData.inactivity_days || 0);\nconst monthlyCost = parseInt(vmData.monthly_cost || 0);\nconst dailyCost = Math.round(monthlyCost / 30);\nconst wastedCost = dailyCost * inactivityDays;\n\nlet message = `🖥️ Детали ВМ: ${vmData.vm_name}\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `📅 Создана: ${vmData.created_at}\\n`;\nmessage += `🕐 Последняя активность: ${vmData.last_active}\\n`;\nmessage += `⏱️ Простой: ${inactivityDays} дней\\n`;\nmessage += `${statusEmoji[vmData.status] || '❓'} Статус: ${vmData.status}\\n\\n`;\n\nmessage += `📊 Использование:\\n`;\nmessage += `CPU: ${createProgressBar(vmData.cpu_usage_avg)} ${vmData.cpu_usage_avg}%\\n`;\nmessage += `RAM: ${createProgressBar(vmData.ram_usage_avg)} ${vmData.ram_usage_avg}%\\n`;\nmessage += `Часов в неделю: ${vmData.usage_hours_week}\\n\\n`;\n\nmessage += `💻 Установленное ПО:\\n${softwareList}\\n`;\n\nmessage += `💰 Затраты: ${monthlyCost.toLocaleString()}₽/мес\\n`;\n\nif (inactivityDays > 0) {\n  message += `💸 Потеряно за простой: ${wastedCost.toLocaleString()}₽\\n\\n`;\n}\n\nmessage += `━━━━━━━━━━━━━━━\\n`;\n\n// Рекомендации в зависимости от статуса\nif (vmData.status === 'stopped' || inactivityDays >= 14) {\n  message += `⚠️ Рекомендация: Удалить ВМ\\n`;\n  message += `Используйте /optimize для анализа`;\n} else if (vmData.status === 'idle' || inactivityDays >= 7) {\n  message += `💡 Рекомендация: Проверить необходимость\\n`;\n  message += `Используйте /checkidle для деталей`;\n} else {\n  message += `✅ ВМ используется эффективно`;\n}\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Webhook - Telegram Bot').item.json.message.chat.id,\n    error: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1312
      ],
      "id": "8af9b652-f7d9-4933-92ea-5db02e8c6b84",
      "name": "Format VM Details Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2816,
        1312
      ],
      "id": "6e51d0f6-f541-4cf5-b40c-5392bbb6ac2d",
      "name": "Send: VM Details",
      "webhookId": "be524acc-ca93-4a4a-bbca-1e8fd97b4457",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        1488
      ],
      "id": "81c24395-3b79-41ed-ad3c-9971be299e49",
      "name": "Send: VM Error",
      "webhookId": "816d45c8-580d-4bbd-af51-fb6f8f3e6d12",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        -1440
      ],
      "id": "aeb3c76d-be9f-4e9c-8005-b146e83f191c",
      "name": "Send: Not Registered",
      "webhookId": "4fe1ef05-c004-4b39-bd2a-36cfe52189b5",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Превышен лимит лицензии\n\nТекущих ВМ: {{ $json.currentCount }}\nЛимит: {{ $json.limit }}\n\nИспользуйте /optimize для рекомендаций по освобождению ресурсов",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        -1280
      ],
      "id": "e9b749a5-6fd7-4641-92ae-a8c096f4519f",
      "name": "Send: Limit Exceeded",
      "webhookId": "5f32605f-a685-4109-b29d-d3fb6f5ea4cb",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbd1ba37-d64d-4440-8cb5-bfd33cd669c6",
              "name": "user_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "99b307a9-39aa-4761-9d4a-dc48f58d1e25",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "3b496a6c-af44-4080-9a0c-44309da9d6a5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "efb3c752-6dbc-4fac-9e69-cf0f380b0364",
              "name": "username",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3568,
        -1600
      ],
      "id": "7f0dc639-21f8-4352-9d8c-65c124bbcfa9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        1376
      ],
      "id": "875b6e4b-f659-442d-9980-6f6e44aa0633",
      "name": "Get User for VM Details",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ac2e5db-7a62-46a6-8387-5388260370e8",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        528
      ],
      "id": "392f6288-30cb-4f34-9152-7e5882117684",
      "name": "User Found for Resources?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        672
      ],
      "id": "d8d2f7e8-8997-45b9-bef0-ebd1237d19b3",
      "name": "Send: Not Registered for Resources",
      "webhookId": "b495fd62-160a-466e-b57c-88c9df880975",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54a39efc-c498-47a6-ad04-980a28c47ec9",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        1968
      ],
      "id": "727f0338-c6f0-4b00-a993-498e5abc3667",
      "name": "User Found for Optimize?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        2144
      ],
      "id": "fa326114-f70c-4009-be4b-33d8f7685343",
      "name": "Send: Not Registered for Optimize",
      "webhookId": "1504e0e5-fcb1-4fa8-b367-ca8f509438fe",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26e58526-1e6d-4d1b-8efc-8b69b40186ab",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        2592
      ],
      "id": "d2500af8-f665-4452-8180-761cff2d6f51",
      "name": "User Found for Idle Check?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Вы не зарегистрированы\n\nИспользуйте /register для регистрации\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        2752
      ],
      "id": "a6191849-29eb-4497-a12a-98e1434e9dce",
      "name": "Send: Not Registered for Idle Check",
      "webhookId": "1504e0e5-fcb1-4fa8-b367-ca8f509438fe",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        1968
      ],
      "id": "fa56e53d-8b12-41f3-aefa-12f0840c7b98",
      "name": "Get User for Optimize",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        1968
      ],
      "id": "990d2c65-63fb-456f-82f6-50ed14065c57",
      "name": "Get VMs for Optimize",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        2592
      ],
      "id": "ffff2e25-e592-493d-93d5-0698dba35245",
      "name": "Get User for Idle Check",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        2592
      ],
      "id": "4e953632-4df4-4920-aa3c-bce933026580",
      "name": "Get VMs for Idle Check",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        528
      ],
      "id": "0421317a-a511-4ccf-88a3-48294a72023a",
      "name": "Get User for Resources",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        528
      ],
      "id": "24d430a0-fe5f-4731-9eef-b896a6b0dfe4",
      "name": "Get VMs for Resources",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -1552
      ],
      "id": "4384c801-bb76-4d4e-bfe6-c87bcbb9183f",
      "name": "Get User for VM Creation",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        -1680
      ],
      "id": "f9255d75-c7dd-44ea-a832-c2d8576b9e81",
      "name": "Get Existing VMs for User",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "state": "={{ $json.state }}",
            "timestamp": "={{ $json.timestamp }}",
            "data": "={{ $json.data }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3696,
        -1312
      ],
      "id": "0813fb13-9a48-4d7b-8e11-07db3270ee0d",
      "name": "Set User State",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        -1728
      ],
      "id": "ba183aa9-9635-4bee-97ca-9034087cef27",
      "name": "Check User State",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $('Webhook - Telegram Bot').item.json.message.text.trim();\n\n// Валидация email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  return {\n    json: {\n      error: true,\n      message: '❌ Некорректный email\\n\\nПопробуйте снова или отправьте /cancel'\n    }\n  };\n}\n\nreturn {\n  json: {\n    email,\n    telegram_id: $('Edit Fields').item.json.user_id,\n    chat_id: $('Edit Fields').item.json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -2416
      ],
      "id": "80f8d9c3-c282-4230-96a5-91ee14d67e1c",
      "name": "Save Email & Request Org"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "state": "awaiting_organization",
            "data": "={\"email\": \"{{ $json.email }}\"}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -2416
      ],
      "id": "b81d870b-f3be-476e-9a2d-d4fb77a995f3",
      "name": "Update State with Email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Is Register Command?').item.json.chat_id }}",
        "text": "=✅ Email сохранён!\n\nТеперь укажите название вашей организации:\n\nПример: ООО \"Рога и Копыта\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -2416
      ],
      "id": "4bde413b-e6d3-4f64-81dd-be8e9a5d0b23",
      "name": "Send Request Organization",
      "webhookId": "123a179a-66e5-4f6b-8436-9233568f6cbf",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda7c66e-1239-4d73-b40a-a1c9a3a214b1",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "f9beed1e-e2a2-4060-b8a6-043885068a21",
              "name": "menu_text",
              "value": "=💿 Выберите ПО для установки:\n\n1. AutoCAD (CAD) - 3000₽/мес\n2. SolidWorks (CAD) - 3500₽/мес\n3. ANSYS (CAE) - 5000₽/мес\n4. CATIA (CAD/PLM) - 4000₽/мес\n5. MatLab (Programming) - 2500₽/мес\n6. Inventor (CAD) - 3200₽/мес\n7. Компас-3D (CAD) - 2000₽/мес\n\nОтправьте номера ПО через запятую\nНапример: 1,3,5\n\nИли /cancel для отмены",
              "type": "string"
            },
            {
              "id": "badfcae4-7e1b-4814-87ec-98cf6c5d478b",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        -1712
      ],
      "id": "754e249a-5bec-409c-a551-b2cd5da1fb32",
      "name": "Prepare Software Menu",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=👋 Добро пожаловать, {{ $('Edit Fields').item.json.username }}!\n\n✅ Теперь укажите Ваш Email, с которым будете работать с инженерным ПО:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -2672
      ],
      "id": "5cb3f76f-3119-46dc-8c65-0c031219d3ce",
      "name": "Send Request Email",
      "webhookId": "1a7f7cf2-c502-4ab3-8bec-8c8d131440a7",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Регистрация пользователя\n\n1. Узел `Check User State` на основе последнего сообщения и хранилища состояний пользователя (таблица **User_States**) определяет, есть ли у пользователя активный «шаг» диалога (например, регистрация, ввод данных и т.п.).\n1. Узел `Route by State` направляет свободный пользовательский ввод (**4 - User Input** из Command Router) в нужную ветку: обычная работа, регистрация, ввод дополнительных атрибутов, шаги мастера и т.д.\n1. Для новых или незарегистрированных пользователей после `Send: Not Registered` отдельная ветка в Route by State устанавливает нужное состояние (например, «ожидание названия компании/почты/лицензии») и запускает последовательность узлов отправки сообщений (Send: ...) и кодовых узлов для записи введённых данных в таблицы.\n1. На каждом шаге регистрации кодовые узлы обновляют состояние пользователя (через обновление записи в таблице состояний **User_States**), а Route by State по этому состоянию решает, какой вопрос задать следующим и когда считать регистрацию завершённой.\n1. После успешного завершения регистрации состояние пользователя сбрасывается в «обычное» (без активного мастера), и дальше все основные команды (`/createvm`, `/myresources`, `/optimize`, `/checkidle`, `/softwarecatalog`) работают уже в режиме зарегистрированного пользователя.",
        "height": 1568,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -3104
      ],
      "typeVersion": 1,
      "id": "87f72626-1e09-4de8-a2ec-3e9301b6e7ee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "username": "={{ $json.username }}",
            "email": "=",
            "organization": "=",
            "license_type": "={{ $json.license_type }}",
            "license_limit": "={{ $json.license_limit }}",
            "created_at": "={{ $json.created_at }}",
            "telegram_id": "={{ $json.telegram_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -2672
      ],
      "id": "ec2dcbaa-45b7-49f7-98b4-bcf45fd30472",
      "name": "Add New User",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Telegram\nconst telegramData = $('Webhook - Telegram Bot').item.json.message.from;\nconst chatId = $('Edit Fields').item.json.chatid;\n\n// Генерируем уникальный ID на основе timestamp + random\nconst newUserId = Math.floor(Math.random() * 1000);\n\n// Формируем имя пользователя\nconst firstName = telegramData.first_name || '';\nconst lastName = telegramData.last_name || '';\nconst fullName = lastName ? `${firstName} ${lastName}` : firstName;\nconst telegramUsername = telegramData.username || `user${telegramData.id}`;\n\n// Создаём нового пользователя\nconst newUser = {\n  user_id: newUserId,\n  username: fullName,\n  email: `${telegramUsername}@telegram.user`,\n  organization: firstName,\n  license_type: 'basic',\n  license_limit: 3,\n  created_at: new Date().toISOString().split('T')[0],\n  telegram_id: telegramData.id.toString()\n};\n\nreturn {\n  json: newUser\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -2672
      ],
      "id": "cb5b922c-59c8-4934-82e9-e9ffbe752b63",
      "name": "Generate Registration Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "524efa48-0de3-431c-95e7-c3fd7454961f",
              "leftValue": "={{ $('Is Register Command?').item.json.user_id }}",
              "rightValue": "={{ $json.telegram_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        -2784
      ],
      "id": "46e29815-aeeb-4e3d-9c3a-86345e084ee6",
      "name": "Already Registered?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        -2784
      ],
      "id": "0753a08a-2485-4fbf-bf88-e22099781730",
      "name": "Check If User Exists",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17d5a8b1-6e75-4bce-af33-8a6b5968a94e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3840,
        -1584
      ],
      "id": "43f0ff7a-b5cd-4eb2-8240-82ec01349ee2",
      "name": "Has Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e535af2d-aef2-4ca3-a78a-875f1390765f",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Каталог ПО"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/myresources",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56cbe9ef-c4cf-46ea-925d-a95795418f6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Мои ресурсы"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d41b2f57-2360-451b-9581-734edde4171a",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/vmdetails",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Подробности ВМ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        -960
      ],
      "id": "b837a5df-db3b-431a-8a9d-55753a5f8f9f",
      "name": "Switch View"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/optimize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6b91e10-d533-4c50-aaad-21bb698807af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Оптимизация"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5e034e5-121d-484b-8ebd-33064b2b6f1c",
                    "leftValue": "={{ $('Edit Fields').item.json.text }}",
                    "rightValue": "/checkidle",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Проверка простоя"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        784,
        2112
      ],
      "id": "b8dd0039-e128-4f0a-a112-3404c387519c",
      "name": "Switch Analyze"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2832,
        -1872
      ],
      "id": "08e6c6fe-da92-43c0-a81d-430042fdbce0",
      "name": "Check Registration for Start",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "178a088d-9ae4-4527-8dc6-3eadce72c82f",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "={{ $('Is Start Command?').item.json.user_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        -2016
      ],
      "id": "63f1dcea-ccfc-45c6-84b2-569e0c4bbe8a",
      "name": "User Registered for Start?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=👋 Добро пожаловать, {{ $('Edit Fields').item.json.username }}!\n\n📊 Ваша лицензия: {{ $('Check Registration for Start').first().json.license_type }}\n💼 Использовано: ВМ будет подсчитано/{{ $('Check Registration for Start').first().json.license_limit }}\n\n📋 Доступные команды:\n\n➕ /createvm [ID_ПО]\n   Создать виртуальную машину\n   Пример: /createvm 1,3,5\n\n📊 /myresources\n   Посмотреть свои ресурсы и статистику\n\n🤖 /optimize\n   AI-анализ и рекомендации по оптимизации\n\n🔍 /checkidle\n   Проверить простаивающие ВМ\n\n💿 /softwarecatalog\n   Каталог доступного ПО\n\n❓ /help\n   Эта справка\n\n━━━━━━━━━━━━━━━\nИспользуйте команды для управления вашими ресурсами!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2304,
        -2128
      ],
      "id": "8f28d6d2-b726-4193-9e3d-214a6c6a436e",
      "name": "Send: Welcome (Registered)",
      "webhookId": "b51e9a89-f36d-46d0-a1c5-1af42d15e5b8",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8fbe15d-2261-4264-95e3-c9f9c32cc06d",
              "leftValue": "={{ $json.text }}",
              "rightValue": "=/register",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        -1504
      ],
      "id": "8568ef81-6343-4601-ba48-c317e498a29e",
      "name": "Is Register Command?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_id",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2304,
        -1376
      ],
      "id": "ea66711e-49d2-47e1-94c9-e83ada476d04",
      "name": "Check Registration for Commands",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c91ce669-bc82-458b-ac28-c5591e9bf257",
              "leftValue": "={{ $('Edit Fields').item.json.chat_id }}",
              "rightValue": "={{ $('Is Register Command?').item.json.chat_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        -1360
      ],
      "id": "f80f85ac-8695-4b85-814d-a78e0babd4a6",
      "name": "User Registered for Commands?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Проверка регистрации\n\n1. Любое входящее сообщение пользователя после нормализации текстом в `Edit Fields` проходит через Command Router, где команда маршрутизируется по типам (создание ВМ, просмотр, анализ, помощь и т.п.).\n1. Для ветки создания ВМ команда направляется в узел `Get User for VM Creation`, который ищет пользователя в таблице **Users** по Telegram ID и поднимает его профиль (тип лицензии, лимит ВМ и т.д.).\n1. Узел `User Registered?` проверяет, найден ли пользователь; если пользователь не зарегистрирован, поток уходит в `Send: Not Registered`, который отправляет сообщение с инструкциями по регистрации.\n1. Если пользователь найден, его данные (user_id, license_type, license_limit и т.п.) используются далее в `Get Existing VMs for User` и `Check License Limit` для проверки доступности операций (создание ВМ, анализ, просмотр ресурсов).\n1. Аналогичная проверка регистрации используется в других ветках (ресурсы, оптимизация, простой), где узлы `Get User for Resources`, `Get User for Optimize`, `Get User for Idle Check` выполняют роль проверки существования пользователя и загрузки его профиля перед бизнес-логикой.",
        "height": 1408,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3200,
        -2400
      ],
      "typeVersion": 1,
      "id": "f24d8507-6ad2-4f35-97b3-bda95a728c88",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=❌ Доступ запрещён\n\nВы не зарегистрированы в системе.\n\nДля начала работы используйте /register\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        -1168
      ],
      "id": "c9cc58fc-7c4b-40a3-b0d4-6a46f0e7c82d",
      "name": "Send: Please Register First",
      "webhookId": "f1095d5c-9781-41fa-aaeb-09f47e9a0ac6",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Если нет данных о состоянии\nif (items.length === 0) {\n  return [];\n}\n\nconst state = items[0].json.state;\nconst stateStr = typeof state === 'string' ? state : String(state || '');\n\n// Определяем направление\nif (stateStr === 'awaiting_email') {\n  return [{\n    json: {\n      ...items[0].json,\n      route: 'awaiting_email'\n    }\n  }];\n} else if (stateStr === 'awaiting_organization') {\n  return [{\n    json: {\n      ...items[0].json,\n      route: 'awaiting_organization'\n    }\n  }];\n} else if (stateStr === 'awaiting_license_coun') {\n  return [{\n    json: {\n      ...items[0].json,\n      route: 'awaiting_license_coun'\n    }\n  }];\n} else if (stateStr === 'awaiting_software') {\n  return [{\n    json: {\n      ...items[0].json,\n      route: 'awaiting_software'\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...items[0].json,\n      route: 'unknown'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -1728
      ],
      "id": "4d3d29f6-6e7e-4504-9603-1d35237c0606",
      "name": "Route by State"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8576fa43-24e9-4000-a00d-6108b2089682",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "registered",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Register"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "427550c6-9bd1-4e19-a1ba-abe2238f9c65"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8267457-1161-4f4c-87f8-81ec580cabc5",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_organization",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Org"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30d0684-230d-45ee-9fb2-d94da9e6d15b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_license_count",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "License"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b17aedd7-c7ae-4d2b-b3f9-65f628479597",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "awaiting_software",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Software"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        -1824
      ],
      "id": "1696a269-87ee-41cd-92ed-5a6fd9cb525c",
      "name": "State Router"
    },
    {
      "parameters": {
        "jsCode": "const userInput = $('Edit Fields').item.json.text;\nconst chatId = $('Edit Fields').item.json.chat_id;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Получаем email из User_States\nconst userState = $('Check User State').first().json;\nlet emailFromState = '';\n\ntry {\n  const data = typeof userState.data === 'string' \n    ? JSON.parse(userState.data) \n    : userState.data;\n  emailFromState = data.email || '';\n} catch (e) {\n  emailFromState = '';\n}\n\nreturn [{\n  json: {\n    telegram_id: userId,\n    email: emailFromState,\n    organization: userInput.trim(),\n    chat_id: chatId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -2208
      ],
      "id": "777af290-1ad8-481b-8383-ab93d1d4a4fb",
      "name": "Save Organization & Finish"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "email": "={{ $json.email }}",
            "organization": "={{ $json.organization }}",
            "created_at": "={{ $('Check Registration for Commands').item.json.created_at }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -2208
      ],
      "id": "a8f4d248-9810-4fdb-80f5-342fafeff602",
      "name": "Update User with Org",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac38a90c-1028-4783-a794-a592e0eaefb4",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3072,
        -1616
      ],
      "id": "1ae58036-8cfc-4c69-8b39-f2c5acd9b7c1",
      "name": "Is Start Command?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=Здравствуйте!\n\nЭто бот для работы с инженерным ПО.\n\nВы не зарегистрированы в системе.\n\nДля начала работы используйте /register\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2304,
        -1920
      ],
      "id": "55185d74-da80-4a45-acad-1109ac945ada",
      "name": "Send: Please Register",
      "webhookId": "f1095d5c-9781-41fa-aaeb-09f47e9a0ac6",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.menu_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        -1520
      ],
      "id": "991dd373-936a-4b14-bc4e-e0e1baf08539",
      "name": "Send Software Menu",
      "webhookId": "20d39f99-9ba8-452c-b4e8-c0bb01b1df9b",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "createvm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5d9fcc8-e32a-4006-8d3d-8d61ff60b4fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /createvm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ee8e8ab-ac43-463e-a24c-4b8d17cc889a",
                    "leftValue": "={{ $json._source }}",
                    "rightValue": "softwarecatalog",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "для /softwarecatalog"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2048,
        -320
      ],
      "id": "d7f06350-cdad-47ea-b1f7-9c6d4d02a9a3",
      "name": "Route Catalog Output"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные каталога\nconst catalogData = $input.all();\n\n// Проверяем, откуда пришли\nlet source = 'unknown';\nlet stateInfo = null;\n\n// Проверяем State Router\ntry {\n  const stateRouter = $('State Router');\n  if (stateRouter && stateRouter.isExecuted) {\n    const stateData = stateRouter.first().json;\n    source = 'createvm';\n    stateInfo = {\n      state: stateData.state,\n      telegram_id: stateData.telegramid,\n      username: stateData.username\n    };\n  }\n} catch (e) {\n  // State Router не выполнялся\n}\n\n// Проверяем Edit Fields для /softwarecatalog\ntry {\n  const editFields = $('Edit Fields');\n  if (editFields && editFields.item.json.text.includes('softwarecatalog')) {\n    source = 'softwarecatalog';\n  }\n} catch (e) {\n  // Ошибка\n}\n\n// Возвращаем данные с контекстом\nreturn catalogData.map(item => ({\n  json: {\n    ...item.json,\n    _source: source,\n    _stateInfo: stateInfo\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -336
      ],
      "id": "dd719326-537d-4078-9293-622f494cf72a",
      "name": "Add Context Info"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные пользователя из Get User for VM Creation\nconst userData = $('Get User for VM Creation').first().json;\n\n// Формируем данные для состояния\nreturn {\n  json: {\n    telegram_id: userData.telegram_id,\n    state: 'awaiting_software',\n    timestamp: new Date().toISOString(),\n    data: JSON.stringify({\n      user_id: userData.user_id,\n      username: userData.username,\n      telegram_id: userData.telegram_id\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        -1520
      ],
      "id": "22efdc28-5899-4d86-a512-f23bee15e92b",
      "name": "Prepare State Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.vm_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "73ce44bc-ab87-4f3a-ad04-18bae417f8cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "By ID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "529bdd78-cd71-489d-8393-a0d0ab23fc05",
                    "leftValue": "={{ $json.vm_name }}",
                    "rightValue": "By Name",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "By Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1616,
        1296
      ],
      "id": "cd77396c-0d03-4f23-be8f-51be0c1680e2",
      "name": "Route VM Lookup"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        1312
      ],
      "id": "adac37c6-4334-41fb-9849-1166118ac4f2",
      "name": "Merge VM Lookup"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "vm_name",
              "lookupValue": "={{ $json.vm_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        1424
      ],
      "id": "21879aa6-02f0-4fa3-87fb-ae66f080c82f",
      "name": "Get VM by Name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1215742180,
          "mode": "list",
          "cachedResultName": "Virtual_Machines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1215742180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "vm_id",
              "lookupValue": "={{ $json.vm_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        1232
      ],
      "id": "2e5fd2f5-e5bc-438a-afbe-fb3ad127d85c",
      "name": "Get VM by ID",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1497436515,
          "mode": "list",
          "cachedResultName": "Software_Catalog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1497436515"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        1968
      ],
      "id": "df47bc59-2d1e-4f9d-91fa-49407c7f99df",
      "name": "Get Software Catalog for Optimize",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем ответ от AI\nconst aiResponse = $json.output || $json.text || $json.response || '';\n\n// Если ответа нет\nif (!aiResponse) {\n  return {\n    json: {\n      message: '❌ Не удалось получить рекомендации от AI',\n      chat_id: $('Build Optimization Prompt').first().json.chat_id\n    }\n  };\n}\n\n// Добавляем футер\nlet message = `🤖 Рекомендации по оптимизации\\n━━━━━━━━━━━━━━━\\n\\n`;\nmessage += aiResponse;\nmessage += `\\n\\n━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 Используйте:\\n`;\nmessage += `/myresources - Посмотреть ресурсы\\n`;\nmessage += `/checkidle - Проверить простой`;\n\nreturn {\n  json: {\n    message,\n    chat_id: $('Build Optimization Prompt').first().json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        1952
      ],
      "id": "b7c2fedc-20c4-4af8-9ee0-637ff1d0065d",
      "name": "Add Footer to Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Save Organization & Finish').item.json.chat_id }}",
        "text": "=✅ Организация сохранена!\n\nТеперь укажите количество виртуальных машин, которое вам необходимо:\n\n💼 Тарифы:\n• 3-9 ВМ → Basic (5000₽/мес)\n• 10-49 ВМ → Standard (15000₽/мес)\n• 50+ ВМ → Premium (40000₽/мес)\n\nВведите число от 3 до 999:\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -2208
      ],
      "id": "a20770c5-2255-4346-a69d-1be8599c6c10",
      "name": "Send Request License Count",
      "webhookId": "e10db502-b7d8-4dc6-a04a-42ea5ddcd49f",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Узел: Save License Count & Finish (Code)\nconst userInput = $('Edit Fields').item.json.text;\nconst licenseCount = parseInt(userInput);\n\n// Валидация\nif (isNaN(licenseCount) || licenseCount < 3 || licenseCount > 999) {\n  return {\n    json: {\n      error: true,\n      message: `❌ Некорректное число: \"${userInput}\"\n\nУкажите количество ВМ от 3 до 999\n\nПримеры:\n• 5 → Basic (до 9 ВМ)\n• 15 → Standard (до 49 ВМ)\n• 60 → Premium (50+ ВМ)`,\n      chat_id: $('Edit Fields').item.json.chat_id\n    }\n  };\n}\n\n// Определяем тип лицензии\nlet licenseType;\nlet licenseLimit;\n\nif (licenseCount >= 3 && licenseCount <= 9) {\n  licenseType = \"basic\";\n  licenseLimit = licenseCount;\n} else if (licenseCount >= 10 && licenseCount <= 49) {\n  licenseType = \"standard\";\n  licenseLimit = licenseCount;\n} else {\n  licenseType = \"premium\";\n  licenseLimit = licenseCount;\n}\n\n// Получаем данные из состояния\nconst stateData = $('Check User State').first().json;\nlet parsedData = {};\ntry {\n  parsedData = typeof stateData.data === 'string' \n    ? JSON.parse(stateData.data) \n    : stateData.data || {};\n} catch (e) {\n  parsedData = {};\n}\n\nreturn {\n  json: {\n    telegram_id: $('Edit Fields').item.json.user_id,\n    email: parsedData.email,\n    organization: parsedData.organization,\n    license_type: licenseType,\n    license_limit: licenseLimit,\n    chat_id: $('Edit Fields').item.json.chat_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -2000
      ],
      "id": "07ab76a4-e665-4b24-ba9b-f4159dbfdd7c",
      "name": "Save License Count & Finish"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "=🎉 Регистрация уже выполнена!\n\n👤 Пользователь: {{ $json.username }}\n💼 Лицензия: {{ $json.license_type }} \n\nДоступные команды:\n/myresources - Посмотреть свои ресурсы\n/createvm - Создать виртуальную машину\n/softwarecatalog - Каталог доступного ПО",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -2880
      ],
      "id": "15bb32a8-1110-4da6-8a24-757eb4852306",
      "name": "Send: Already Registered",
      "webhookId": "072f2c8b-2b5e-4039-960d-39c2eadeefce",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "state": "=awaiting_email",
            "timestamp": "={{ new Date().toISOString() }}",
            "data": "={{ JSON.stringify($json.data) }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -2672
      ],
      "id": "e60d845c-0ec4-4015-8509-738306417a25",
      "name": "Update User State in DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Check Registration for Commands').item.json.telegram_id }}",
            "user_id": "={{ $('Check Registration for Commands').item.json.user_id }}",
            "username": "={{ $('Check Registration for Commands').item.json.username }}",
            "license_type": "=",
            "license_limit": "=",
            "created_at": "={{ $('Check Registration for Commands').item.json.created_at }}",
            "email": "={{ $('Save Email & Request Org').item.json.email }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -2416
      ],
      "id": "5123e2a5-756e-424b-aabb-54fac5e12c21",
      "name": "Update User with Email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "state": "awaiting_software",
            "data": "={\"license_limit\": \"{{ $json.license_limit }}\"}",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -2000
      ],
      "id": "14a51237-2b8c-4386-89c3-5e1af30263af",
      "name": "Update State with Limit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Check Registration for Commands').item.json.telegram_id }}",
            "user_id": "={{ $('Check Registration for Commands').item.json.user_id }}",
            "username": "={{ $('Check Registration for Commands').item.json.username }}",
            "license_type": "={{ $json.license_type }}",
            "license_limit": "={{ $json.license_limit }}",
            "created_at": "={{ $('Check Registration for Commands').item.json.created_at }}",
            "email": "={{ $('Check Registration for Commands').item.json.email }}",
            "organization": "={{ $json.organization }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_type",
              "displayName": "license_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "license_limit",
              "displayName": "license_limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -2000
      ],
      "id": "9f097b90-258e-45ea-9286-6a5d660b980d",
      "name": "Update User with Limit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Save License Count & Finish').item.json.chat_id }}",
        "text": "=✅ Регистрация организации завершена!\n\n👤 Email: {{ $('Update User with Limit').item.json.email }}\n🏢 Организация: {{ $('Update User with Limit').item.json.organization }}\n💼 Лицензия: {{ $('Update User with Limit').item.json.license_type }} на {{ $('Update User with Limit').item.json.license_limit }} ВМ\n\n📋 Доступные команды:\n/createvm - Создать виртуальную машину\n/myresources - Мои ресурсы\n/help - Справка\n\nИспользуйте /createvm для создания вашей первой ВМ!\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -2000
      ],
      "id": "480430ff-cfa9-43d3-aeb0-50a05f963a7b",
      "name": "Send: Registration Finish",
      "webhookId": "8e12afc6-5b7c-4bfd-8196-6a49eb0424ca",
      "credentials": {
        "telegramApi": {
          "id": "DDex8oHA77ADeVpY",
          "name": "SmartLicenseUsageAnalyzer_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw",
          "mode": "list",
          "cachedResultName": "POSASPR_Prototype",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1022480061,
          "mode": "list",
          "cachedResultName": "User_States",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xmPo_70mAeo9xHI7m_uCk9hjJaKGKWixYMDTSQ9h8kw/edit#gid=1022480061"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $('Edit Fields').item.json.user_id }}",
            "state": "=awaiting_license_count",
            "data": "={\"organization\": \"{{ $json.organization }}\"}",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "telegram_id"
          ],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -2208
      ],
      "id": "9a2a82ca-9fbd-4393-80f8-b5366ffe9371",
      "name": "Update User State After Org",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m2R34e9UAiHNipjw",
          "name": "Google Sheets - POSASPR"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Telegram Bot": {
      "main": [
        [
          {
            "node": "Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Check User State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Unknown Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered?": {
      "main": [
        [
          {
            "node": "Get Existing VMs for User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check License Limit": {
      "main": [
        [
          {
            "node": "Can Create VM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Create VM?": {
      "main": [
        [
          {
            "node": "Prepare Software Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Limit Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VM with Software": {
      "main": [
        [
          {
            "node": "Save VM to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save VM to Sheet": {
      "main": [
        [
          {
            "node": "Send: VM Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          {
            "node": "Send: Resources Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Optimization Prompt": {
      "main": [
        [
          {
            "node": "AI Optimization Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Idle VMs": {
      "main": [
        [
          {
            "node": "Send: Idle Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Software Catalog": {
      "main": [
        [
          {
            "node": "Add Context Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Catalog Message": {
      "main": [
        [
          {
            "node": "Send: Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimization Analysis": {
      "main": [
        [
          {
            "node": "Add Footer to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VM ID": {
      "main": [
        [
          {
            "node": "Valid VM ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid VM ID?": {
      "main": [
        [
          {
            "node": "Route VM Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: VM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Software Info for VM": {
      "main": [
        [
          {
            "node": "Format VM Details Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format VM Details Message": {
      "main": [
        [
          {
            "node": "Send: VM Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Limit Exceeded": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is Start Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for VM Details": {
      "main": [
        [
          {
            "node": "Parse VM ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Resources?": {
      "main": [
        [
          {
            "node": "Get VMs for Resources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Optimize?": {
      "main": [
        [
          {
            "node": "Get VMs for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Optimize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found for Idle Check?": {
      "main": [
        [
          {
            "node": "Get VMs for Idle Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Not Registered for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Optimize": {
      "main": [
        [
          {
            "node": "User Found for Optimize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Optimize": {
      "main": [
        [
          {
            "node": "Get Software Catalog for Optimize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Idle Check": {
      "main": [
        [
          {
            "node": "User Found for Idle Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Idle Check": {
      "main": [
        [
          {
            "node": "Detect Idle VMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for Resources": {
      "main": [
        [
          {
            "node": "User Found for Resources?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VMs for Resources": {
      "main": [
        [
          {
            "node": "Calculate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User for VM Creation": {
      "main": [
        [
          {
            "node": "User Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing VMs for User": {
      "main": [
        [
          {
            "node": "Check License Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User State": {
      "main": [
        []
      ]
    },
    "Check User State": {
      "main": [
        [
          {
            "node": "Route by State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email & Request Org": {
      "main": [
        [
          {
            "node": "Update User with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State with Email": {
      "main": [
        [
          {
            "node": "Send Request Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Software Menu": {
      "main": [
        [
          {
            "node": "Send Software Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request Email": {
      "main": [
        []
      ]
    },
    "Add New User": {
      "main": [
        [
          {
            "node": "Update User State in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Registration Data": {
      "main": [
        [
          {
            "node": "Add New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Registered?": {
      "main": [
        [
          {
            "node": "Send: Already Registered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Registration Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If User Exists": {
      "main": [
        [
          {
            "node": "Already Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch View": {
      "main": [
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for Resources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for VM Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Analyze": {
      "main": [
        [
          {
            "node": "Get User for Optimize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User for Idle Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Registration for Start": {
      "main": [
        [
          {
            "node": "User Registered for Start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered for Start?": {
      "main": [
        [
          {
            "node": "Send: Welcome (Registered)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Please Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Register Command?": {
      "main": [
        [
          {
            "node": "Check If User Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Registration for Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Registration for Commands": {
      "main": [
        [
          {
            "node": "User Registered for Commands?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Registered for Commands?": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Please Register First",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by State": {
      "main": [
        [
          {
            "node": "State Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Router": {
      "main": [
        [],
        [
          {
            "node": "Save Email & Request Org",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Organization & Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save License Count & Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Software Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Organization & Finish": {
      "main": [
        [
          {
            "node": "Update User with Org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Org": {
      "main": [
        [
          {
            "node": "Update User State After Org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command?": {
      "main": [
        [
          {
            "node": "Check Registration for Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Register Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Software Menu": {
      "main": [
        [
          {
            "node": "Prepare State Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Catalog Output": {
      "main": [
        [
          {
            "node": "Create VM with Software",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Catalog Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Context Info": {
      "main": [
        [
          {
            "node": "Route Catalog Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare State Data": {
      "main": [
        [
          {
            "node": "Set User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route VM Lookup": {
      "main": [
        [
          {
            "node": "Get VM by ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get VM by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge VM Lookup": {
      "main": [
        [
          {
            "node": "Get Software Info for VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VM by Name": {
      "main": [
        [
          {
            "node": "Merge VM Lookup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get VM by ID": {
      "main": [
        [
          {
            "node": "Merge VM Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Software Catalog for Optimize": {
      "main": [
        [
          {
            "node": "Build Optimization Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Footer to Message": {
      "main": [
        [
          {
            "node": "Send: AI Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Request License Count": {
      "main": [
        []
      ]
    },
    "Send Request Organization": {
      "main": [
        []
      ]
    },
    "Update User State in DB": {
      "main": [
        [
          {
            "node": "Send Request Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Email": {
      "main": [
        [
          {
            "node": "Update State with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save License Count & Finish": {
      "main": [
        [
          {
            "node": "Update User with Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State with Limit": {
      "main": [
        [
          {
            "node": "Send: Registration Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User with Limit": {
      "main": [
        [
          {
            "node": "Update State with Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User State After Org": {
      "main": [
        [
          {
            "node": "Send Request License Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c72bc67-88c1-4186-824f-7a7fea64a948",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4300700b5a89163b88ad6a908ff9e3076c705e8b03a3f40f03ff2f29f7e4289"
  },
  "id": "GcC24h95FdT2qww1",
  "tags": []
}